doctype html
head
  meta(charset='utf-8')
  title #{name}
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='themes/estate/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='themes/estate/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='themes/estate/lib/animate/animate.min.css' rel='stylesheet')
  link(href='themes/estate/lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='themes/estate/lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='themes/estate/css/style.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
.click-closed
// / Form Search Star /
.box-collapse
  .title-box-d
    h3.title-d Search Property
  span.close-box-collapse.right-boxed.ion-ios-close
  .box-collapse-wrap.form
    form.form-a
      .row
        .col-md-12.mb-2
          .form-group
            label(for='Type') Keyword
            input.form-control.form-control-lg.form-control-a(type='text' placeholder='Keyword')
        .col-md-6.mb-2
          .form-group
            label(for='Type') Type
            select#Type.form-control.form-control-lg.form-control-a
              option All Type
              option For Rent
              option For Sale
              option Open House
        .col-md-6.mb-2
          .form-group
            label(for='city') City
            select#city.form-control.form-control-lg.form-control-a
              option All City
              option Nairobi
              option Mombasa
              option Kisumu
              option Nakuru
        .col-md-6.mb-2
          .form-group
            label(for='bedrooms') Bedrooms
            select#bedrooms.form-control.form-control-lg.form-control-a
              option Any
              option 01
              option 02
              option 03
        .col-md-6.mb-2
          .form-group
            label(for='garages') Garages
            select#garages.form-control.form-control-lg.form-control-a
              option Any
              option 01
              option 02
              option 03
              option 04
        .col-md-6.mb-2
          .form-group
            label(for='bathrooms') Bathrooms
            select#bathrooms.form-control.form-control-lg.form-control-a
              option Any
              option 01
              option 02
              option 03
        .col-md-6.mb-2
          .form-group
            label(for='price') Min Price
            select#price.form-control.form-control-lg.form-control-a
              option Unlimite
              option $50,000
              option $100,000
              option $150,000
              option $200,000
        .col-md-12
          button.btn.btn-b(type='submit') Search Property
// / Form Search End /
// / Nav Star /
nav.navbar.navbar-default.navbar-trans.navbar-expand-lg.fixed-top
  .container
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarDefault' aria-controls='navbarDefault' aria-expanded='false' aria-label='Toggle navigation')
      span
      span
      span
    a.navbar-brand.text-brand(href='index.html')
      - var n1=name.split(' ')[0]
      - var n2=name.split(' ')[1]
      | #{n1}
      span.color-b #{n2}
    button.btn.btn-link.nav-search.navbar-toggle-box-collapse.d-md-none(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
    #navbarDefault.navbar-collapse.collapse.justify-content-center
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(href='index.html') Home
        li.nav-item
          a.nav-link(href='about.html') About
        li.nav-item
          a.nav-link(href='agentorowner.html') Sell
        li.nav-item
          a.nav-link(href='admin/geoblockmaping.html') Contracts
        li.nav-item
          a.nav-link(href='contact.html') Contact
    button.btn.btn-b-n.navbar-toggle-box-collapse.d-none.d-md-block(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-expanded='false')
      span.fa.fa-search(aria-hidden='true')
// / Nav End /
// / Carousel Star /
.intro.intro-carousel
  #carousel.owl-carousel.owl-theme
    for store in stores
      .carousel-item-a.intro-item.bg-image(style='background-image: url('+store.banner+')')
        .overlay.overlay-a
        .intro-content.display-table
          .table-cell
            .container
              .row
                .col-lg-8
                  .intro-body
                    p.intro-title-top
                      | #{store.name}
                    h1.intro-title.mb-4
                      span.color-b #{store.name} 
                      |  #{store.desc}
                    p.intro-subtitle.intro-price
                      a(href='#')
                        span.price-a rent | KES 30000.000
// / Carousel end /
// / Services Star /
section.section-services.section-t8
  .container
    .row
      .col-md-12
        .title-wrap.d-flex.justify-content-between
          .title-box
            h2.title-a Our Services
    .row
      .col-md-4
        .card-box-c.foo
          .card-header-c.d-flex
            .card-box-ico
              span.fa.fa-building
            .card-title-c.align-self-center
              h2.title-c Property
          .card-body-c
            p.content-c
              | List rental appartments  for potential tenants
          .card-footer-c
            // Example split danger button
            .btn-group
              button.btn.btn-danger(type='button') Find property
              button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu
                a.dropdown-item(href='property.html') Appartments
                a.dropdown-item(href='property.html') Houses
                a.dropdown-item(href='property.html') Rentals
                .dropdown-divider
                a.dropdown-item(href='property.html') How it works
      .col-md-4
        .card-box-c.foo
          .card-header-c.d-flex
            .card-box-ico
              span.fa.fa-usd
            .card-title-c.align-self-center
              h2.title-c Land
          .card-body-c
            p.content-c
              | Puchase land, for ranches factory or your dream home
          .card-footer-c
            .btn-group
              button.btn.btn-danger(type='button') Find land
              button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu
                a.dropdown-item(href='land.html') residential
                a.dropdown-item(href='land.html') commercial
                a.dropdown-item(href='land.html') Industral
                .dropdown-divider
                a.dropdown-item(href='land.html') How it works
      .col-md-4
        .card-box-c.foo
          .card-header-c.d-flex
            .card-box-ico
              span.fa.fa-home
            .card-title-c.align-self-center
              h2.title-c Management
          .card-body-c
            p.content-c
              | let #{name} manage your property, avoid having to deal with toilets tenants and termites
          .card-footer-c
            .btn-group
              button.btn.btn-danger(type='button') Manage property
              button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                span.sr-only Toggle Dropdown
              .dropdown-menu
                a.dropdown-item(href='admin/repair.html') Appartments
                a.dropdown-item(href='admin/repair.html') Houses
                .dropdown-divider
                a.dropdown-item(href='') How it works
// / Services End /
// / Property Star /
section.section-property.section-t8
  .container
    .row
      .col-md-12
        .title-wrap.d-flex.justify-content-between
          .title-box
            h2.title-a Latest Deals
          .title-link
            a(href='land.html')
              | All
              span.ion-ios-arrow-forward
    #property-carousel.owl-carousel.owl-theme
      .carousel-item-b
        .card-box-a.card-shadow
          .img-box-a
            img.img-a.img-fluid(src='img/property-6.jpg' alt='')
          .card-overlay
            .card-overlay-a-content
              .card-header-a
                h2.card-title-a
                  a(href='isinya.html')
                    | Touching Mombasa road
                    br
                    |  south c total station
              .card-body-a
                .price-box.d-flex
                  span.price-a price | KES 450M
                a.link-a(href='#')
                  | very prime property on first row Mombasa road, encompassing 39 and 16 one and two bedrooms apartments respectively
                  span.ion-ios-arrow-forward
              .card-footer-a
                ul.card-info.d-flex.justify-content-around
                  li
                    h4.card-info-title Acers
                    span
                      | 1 x 1.
                      sup 5
                  li
                    h4.card-info-title soil
                    span Clay
                  li
                    h4.card-info-title type
                    span 3
                  li
                    h4.card-info-title climate
                    span Grassland
// / Agents Star /
// / Agents End /
// / News Star /
for category in productCat
  if category.featured
    section.section-news.section-t8
      .container
        .row
          .col-md-12
            .title-wrap.d-flex.justify-content-between
              .title-box
                h2.title-a #{category.name}
              .title-link
                a(href='property.html')
                  | all
                  span.ion-ios-arrow-forward
        #new-carousel.owl-carousel.owl-theme
          for shopCat in category.servList
            .carousel-item-c
              .card-box-b.card-shadow.news-box
                .img-box-b
                  img.img-b.img-fluid(src=shopCat.id alt='')
                .card-overlay
                  .card-header-b
                    .card-category-b
                      a.category-b(href='#') SALE!
                    .card-title-b
                      h2.title-2
                        a(href='applavington.html')
                          | #{shopCat.name}
                          br
                          |  #{shopCat.description}
                    .card-date
                      span.date-b class B
// / News End /
// / Testimonials Star /
section.section-testimonials.section-t8.nav-arrow-a
  .container
    .row
      .col-md-12
        .title-wrap.d-flex.justify-content-between
          .title-box
            h2.title-a Become an agent
    #testimonial-carousel.owl-carousel.owl-arrow
      .carousel-item-a
        .testimonials-box
          .row
            .col-sm-12.col-md-6
              .testimonial-img
                img.img-fluid(src='img/agentshouse.svg' alt='')
            .col-sm-12.col-md-6
              .testimonial-ico
                span.ion-ios-quote
              .testimonials-content
                p.testimonial-text
                  | The best investment on earth is earth itself. Realestate as continuously delivered long stable results compared to other asset classes.
              .testimonial-author-box
                h5.testimonial-author louis glickman
      .carousel-item-a
        .testimonials-box
          .row
            .col-sm-12.col-md-6
              .testimonial-img
                img.img-fluid(src='img/agent.svg' alt='')
            .col-sm-12.col-md-6
              .testimonial-ico
                span.ion-ios-quote
              .testimonials-content
                p.testimonial-text
                  | Efficiency is doing things right, effectiveness is doing the right things,cashflow generating asset is key to wealth.
              .testimonial-author-box
                h5.testimonial-author #{name}
    .col-md-12
      a(href='agentorowner.html')
        button.btn.btn-a(type='submit') Sign up and become an agent
// / Testimonials End /
// / footer Star /
section.section-footer
  .container
    .row
      .col-sm-12.col-md-4
        .widget-a
          .w-header-a
            h3.w-title-a.text-brand first properties
          .w-body-a
            p.w-text-a.color-text-a
              | making property available to everyday people
          .w-footer-a
            ul.list-unstyled
              li.color-a
                span.color-text-a Phone .
                |  firstpropertiesltd.co.ke
              li.color-a
                span.color-text-a Email .
                |  +254 722778262
      .col-sm-12.col-md-4.section-md-t3
        .widget-a
          .w-header-a
            h3.w-title-a.text-brand The Company
          .w-body-a
            .w-body-a
              ul.list-unstyled
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Site Map
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Legal
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Agent Admin
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Careers
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Affiliate
                li.item-list-a
                  i.fa.fa-angle-right
                  a(href='admin/404.html') Privacy Policy
      .col-sm-12.col-md-4.section-md-t3
        .widget-a
          .w-header-a
            h3.w-title-a.text-brand International sites
          .w-body-a
            ul.list-unstyled
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Kenya
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Uganda
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Tanzania
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Southsudan
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Rwanda
              li.item-list-a
                i.fa.fa-angle-right
                a(href='admin/404.html') Burundi
footer
  .container
    .row
      .col-md-12
        nav.nav-footer
          ul.list-inline
            li.list-inline-item
              a(href='#') Home
            li.list-inline-item
              a(href='#') About
            li.list-inline-item
              a(href='#') Property
            li.list-inline-item
              a(href='#') Blog
            li.list-inline-item
              a(href='#') Contact
        .socials-a
          ul.list-inline
            li.list-inline-item
              a(href='#')
                i.fa.fa-facebook(aria-hidden='true')
            li.list-inline-item
              a(href='#')
                i.fa.fa-twitter(aria-hidden='true')
            li.list-inline-item
              a(href='#')
                i.fa.fa-instagram(aria-hidden='true')
            li.list-inline-item
              a(href='#')
                i.fa.fa-pinterest-p(aria-hidden='true')
            li.list-inline-item
              a(href='#')
                i.fa.fa-dribbble(aria-hidden='true')
        .copyright-footer
          p.copyright.color-text-a
            | &copy; Copyright
            span.color-a #{name}
        .credits
          div
            a(href='#')
              span.icon.text-white-50
                i.fab.fa-ethereum.fa-2x
              span.mb-0.small 0x3d0e50eF062d5a8A47E3D7DD0347c08520E4356
          //
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
// / Footer End /
a.back-to-top(href='#')
  i.fa.fa-chevron-up
#preloader
// JavaScript Libraries
script(src='themes/estate/lib/jquery/jquery.min.js')
script(src='themes/estate/lib/jquery/jquery-migrate.min.js')
script(src='themes/estate/lib/popper/popper.min.js')
script(src='themes/estate/lib/bootstrap/js/bootstrap.min.js')
script(src='themes/estate/lib/easing/easing.min.js')
script(src='themes/estate/lib/owlcarousel/owl.carousel.min.js')
script(src='themes/estate/lib/scrollreveal/scrollreveal.min.js')
// Contact Form JavaScript File
script(src='themes/estate/contactform/contactform.js')
// Template Main Javascript File
script(src='themes/estate/js/main.js')
