doctype html
//
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title  #{name}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='themes/ethereal/css/main.css')
  noscript
    link(rel='stylesheet' href='themes/ethereal/css/noscript.css')
  for store in stores
     link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='bitsAssets/js/storeManager.js')
  script(src='bitsAssets/js/connect.js')
// Page Wrapper
#page-wrapper
  // Wrapper
  #wrapper
    // Panel (Banner)
    section.panel.banner.right
      .content.color0.span-3-75
        h1.major
          |  #{name}
        p
          | Hello and welcome
          strong I am all about
          | Travel 
          a(href='https://trumediafrica.myshopify.com') Shopping
          | , Lifestyle and everything in between :)
        ul.actions
          li
          
          
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#first') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src=cover alt='')
    // Panel (Spotlight)
    section#first.panel.spotlight.medium.right
      .content.span-7
        h2 About Trudy
        p
          | Born in Kenya. i love life and passionate about Africa. I love telling storeis and have helped individuals and brands tell thair stories for a long time, now its time your your story, so dont hesitate to get in touch.
        ul.icons
          li
            a.icon.brands.fa-twitter(href='https://twitter.com/misstrudy_')
              span.label Twitter
          li
            a.icon.brands.fa-facebook-f(href='https://facebook.com/misstrudy254')
              span.label Facebook
          li
            a.icon.brands.fa-instagram(href='https://www.instagram.com/mistrudy')
              span.label Instagram
          li
            a.icon.brands.fa-github(href='#')
              span.label GitHub
          li
            a.icon.brands.fa-medium-m(href='https://medium.com/@trumedia.africa')
              span.label Medium
      .image.filtered.tinted(data-position='top left')
        img(src='images/pic02.jpg' alt='')
    // Panel
    section.panel.color1
      .intro.joined
        h2.major Africa to the World!
        p
          | do you have a story to tell? we would like to help you tell it! with a global audience reaching over 60 countries an 100,000k viewers. find your favourite channels below with more coming soon..
      .inner
        ul.grid-icons.three.connected
          for imgLst in entSettings.entImageList
            li
              a.text-decoration-none(href=imgLst.link)
                img(src=imgLst.icon style='width: 80px;border-radius: 80px; margin: 10px 20px;')
                p(style='text-align: center;font-weight: bold;') #{imgLst.title}
    // Panel (Spotlight)
    section.panel.spotlight.large.left
      .content.span-5
        h2.major Trumedia
        p
          | This is a platorm to intergrate Africa from a business perspective. We explore different ideas that can change the continent and improve life for all sign up for updates
      .image.filtered.tinted(data-position='top right')
        img(src='images/pic03.jpg' alt='')
    // Panel
    section.panel
      .intro.color2
        h2.major Brand affiliation & exposure
        p
          | #{stores.length}   Discover our Brand Affiliation programe in which a business can grow and boost Brand exposure, i also share everything i like from across the continent,  from body care products, dishes and delicacies and so much more 
          
          a(href='https://docs.google.com/forms/d/e/1FAIpQLSd7QLDBnDWPjIz3hdR0RqteXHOz3uchTJe5-zD3LnkIcmJyYw/viewform') Signup
      .gallery
        if stores.length == 1
            a.image.filtered.span-2-5(href='/bits/index-'+stores[0].id+'.html' data-position='top')
              img(src=stores[0].banner alt=stores[0].banner)
        else if stores.length == 2
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-3(href='/bits/index-'+stores[1].id+'.html' data-position='bottom')
                img(src=stores[1].banner alt=stores[1].banner)
        else if stores.length == 3
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[1].id+'.html' data-position='center')
                img(src=stores[1].banner alt=stores[1].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[2].id+'.html' data-position='bottom')
                img(src=stores[2].banner alt=stores[2].banner)
        else if stores.length == 4
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[1].id+'.html' data-position='center')
                img(src=stores[1].banner alt=stores[1].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[2].id+'.html' data-position='bottom')
                img(src=stores[2].banner alt=stores[2].banner)
              a.image.filtered.span-2-5(href='/bits/index-'+stores[3].id+'.html' data-position='top')
                img(src=stores[3].banner alt=stores[3].banner)
    // Panel
    section.panel.color4-alt
      .intro.color4
        h2.major Contact
        p
          | do you have ideas to share? are you a creative business or just looking for an opportunity to tell your story? dont hesitate to get in touch.
      .inner.columns.divided
        .span-3-25
          form(method='post' action='#')
            .fields
              .field.half
                label(for='name') Name
                input#name(type='text' name='name')
              .field.half
                label(for='email') Email
                input#email(type='email' name='email')
              .field
                label(for='message') Message
                textarea#message(name='message' rows='4')
            ul.actions
              li
                input.button.primary(type='submit' value='Send Message')
        .span-1-5
          ul.contact-icons.color1
            li.icon.brands.fa-twitter
              a(href='https://twitter.com/misstrudy_') Twitter
            li.icon.brands.fa-facebook-f
              a(href='https://facebook.com/misstrudy254') Facebook
            li.icon.brands.fa-snapchat-ghost
              a(href='#') Snapchat
            li.icon.brands.fa-instagram
              a(href='https://www.instagram.com/mistrudy') Instagram
            li.icon.brands.fa-medium-m
              a(href='https://medium.com/@trumedia.africa') Medium
    // Copyright
    .copyright
      | &copy; Untitled. Design: 
      a(href='') Bitsoko
      | .
// Scripts

script(src='themes/ethereal/js/jquery.min.js')
script(src='themes/ethereal/js/browser.min.js')
script(src='themes/ethereal/js/breakpoints.min.js')
script(src='themes/ethereal/js/main.js')
