doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content=tagline)
  meta(name='author' content='')
  title #{name}
  // Lato Font
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
  // Stylesheet
  link(href='themes/hidenseek/css/gallery-materialize.min.css' rel='stylesheet')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='prefetch', href='/soko/')
  link(rel='prefetch', href='/tm/?cid='+entContract)
  for store in stores
     link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='bitsAssets/js/storeManager.js')
  script(src='bitsAssets/js/connect.js')

    
  style.
    nav .nav-header .tagline {
    margin: 0px 0 0px 0!important;
    line-height: 30px!important;
    }
// Navbar and Header
nav.nav-extended(style='background-color: #a4a4a4 !important;')
  .nav-background(style='background-color: #a4a4a4 !important;')
    //.pattern.active(style="background-image: url('http://placehold.it/1400x300');")
    .pattern.active(style="background-image: url('"+cover+"');background-repeat: no-repeat;background-size: cover;background-position: right")
  .nav-wrapper.container
    a.brand-logo(href='index.html')
      i.material-icons wifi
    .nav-header.center
      h1 #{name}
      .tagline #{tagline}
      p(id='uiddom') 
      a(id='freewifi')
        button(style='display:none;padding:10px;line-height:10px;color:#656565;') FREE WIFI!
  // Fixed Masonry Filters
  .categories-wrapper(style='background-color: #656565 !important;')
    .categories-container
         
      ul.categories.container
       li.active
         a(href='#all') all
         //a(href='#all') all
       for category in productCat
        li
          a(href='#'+category.name) #{category.name}
        
// Gallery
#portfolio.section.gray
  .container
    // g start
    img(src=cover style='height:auto;width:100%;')
    //iframe(data-aa='1300337' src='//acceptable.a-ads.com/1300337' scrolling='no' style='border:0px; padding:0; width: 100%; height: 100%; overflow:hidden' allowtransparency='true')
    .gallery.row
     for category in productCat
      for shopCat in category.servList
       //.col.l4.m6.s12.gallery-item.gallery-expand.gallery-filter.#{category.name}
       div(class='col l4 m6 s12 gallery-item gallery-filter '+category.name)
         .gallery-curve-wrapper
           a.gallery-coverr.gray(href='./bits/index-'+shopCat.id+'.html')
             img.responsive-img(src=shopCat.banner alt=shopCat.name)
           .gallery-header
             span #{shopCat.name}
    // g end
// /.container
// Core Javascript
script.
    try{
    var button = document.querySelector('#freewifi');
    var uiddom = document.querySelector('#uiddom');
    var UID = location.search.substr(5);
    //uiddom.innerHTML = UID;
    button.setAttribute("href", "http://login.dooca.net/login?username=T-"+UID);
    }catch(e){console.log('wifi connectivity not available')}
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='themes/hidenseek/js/imagesloaded.pkgd.min.js')
script(src='themes/hidenseek/js/masonry.pkgd.min.js')
script(src='https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js')
script(src='themes/hidenseek/js/color-thief.min.js')
script(src='themes/hidenseek/js/galleryExpand.js')
script(src='themes/hidenseek/js/init.js')
