doctype html
head
  title #{name}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='themes/forty/css/main.css')
  noscript
    link(rel='stylesheet' href='themes/forty/css/noscript.css')
  for store in stores
    link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lamejs/1.2.1/lame.all.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.6.2/RecordRTC.js')
  //script(async src='bitsAssets/js/entAll.js')
  script(async src='bitsAssets/js/globalVariables.js')
  script(async src='bitsAssets/js/globalServices.js')
  script(async src='bitsAssets/js/audioManager.js')
  script(async src='bitsAssets/js/storeManager.js')
  script(async src='bitsAssets/js/connect.js')

// Wrapper
#wrapper
  // Header
  header#header.alt
  bits-connect
    a.logo(href='index.html')
      strong #{name}
      span #{tagline}
  section#banner.major(style="background-image:url('"+cover+"')")
    .inner
      header.major
        h1  #{tagline}
      .content
        p
          | #{tagline}
        ul.actions
          li
            a.button.next.scrolly(href='#one') Checkout Our Selections!
  // Main
  #main
    // One
    section#one.tiles
     for store in stores
      article
        span.image
          img(src='https://www.bitsoko.org/'+store.banner alt='')
        header.major
          h3
            a.link(href="./bits/index-"+store.id+".html") #{store.name}
          p #{store.description}
    // Two
    section#two
      .inner
        header.major
          h2 your blog!
        p
          | all the nice words in whe world can be added here
        ul.actions
          li
            a.button.next(href='landing.html') Get Started!
  // Contact
  section#contact
    .inner
      section
        div
          .contact-method
            span.icon.solid.alt.fa-robot
            h3 Shopping Assistant
            span
              | Press and hold button to talk to your assistant and make shopping easy
              br
              | eg: "three hotdogs and a pizza"
        div
          //.fields
            //.field.half
              //label(for='name') Name
              //input#name(type='text' name='name')
            //.field.half
              //label(for='email') Email
              //input#email(type='text' name='email')
          ul.actions
            li
              input.primary.audioRec(type='submit' value='order')
        
  footer#footer
    .inner
      ul.icons
        li
          a.icon.brands.alt.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.brands.alt.fa-facebook-f(href='#')
            span.label Facebook
        li
          a.icon.brands.alt.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.brands.alt.fa-linkedin-in(href='#')
            span.label LinkedIn
      ul.copyright
        li &copy; 2023
// Scripts

script(src='/socket.io/socket.io.js')
script(src='themes/forty/js/jquery.min.js')
script(src='themes/forty/js/jquery.scrolly.min.js')
script(src='themes/forty/js/jquery.scrollex.min.js')
script(src='themes/forty/js/browser.min.js')
script(src='themes/forty/js/breakpoints.min.js')
script(src='themes/forty/js/util.js')
script(src='themes/forty/js/main.js')
