doctype html
head
  meta(charset='utf-8')
  title CRYPTOTRADER
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='img/favicon.png' rel='icon')
  link(href='img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' rel='stylesheet')
  link(href='/bitsAssets/font-awesome/css/all.css' rel='stylesheet' type='text/css')
  link(href='/bitsAssets/font-awesome/css/brands.css' rel='stylesheet' type='text/css')
  // Bootstrap CSS File
  link(href='themes/basicexchangesite/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='themes/basicexchangesite/css/font-awesome.css' rel='stylesheet')
  link(href='themes/basicexchangesite/css/animate.min.css' rel='stylesheet')
  link(href='themes/basicexchangesite/css/ionicons.min.css' rel='stylesheet')
  link(href='themes/basicexchangesite/css/owl.carousel.min.css' rel='stylesheet')
  link(href='themes/basicexchangesite/css/lightbox.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='themes/basicexchangesite/css/style.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
//
  ==========================
  Header
  ============================
header#header.fixed-top
  .container
    .logo.float-left
      // Uncomment below if you prefer to use an image logo
      // <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1>
      a.scrollto(href='#intro')
        img.img-fluid(src='themes/basicexchangesite/images/btc.svg' alt='')
    nav.main-nav.float-right.d-none.d-lg-block
      ul
        li.active
          a(href='#intro') Home
        li
          a(href='#about') Get Started
        li
          a(href='#services') Services
        li
          a(href='#contact') Contact Us
    // .main-nav
// #header
//
  ==========================
  Intro Section
  ============================
section#intro.clearfix
  .container
    .intro-img
      img.img-fluid(src='themes/basicexchangesite/images/btc.svg' alt='')
    .intro-info
      h2
        | CRYPTO 
        br
        span TRADER
      h4(style='color:white;')
        | Cryptotrader is a platform that makes it easy to buy and sell bitcoin satoshis
      br
      div
        a.btn-get-started.scrollto(href='#about') Buy & Sell
        a.btn-services.scrollto(href='#get-wallet') Get Wallet
// #intro
main#main
  //
    ==========================
    About Us Section
    ============================
  section#about
    .container
      //bits-exchange(apikey='000' view-mode='carousel' color='#' market-pairs='BTC/KES,ETH/KES')
      bits-exchange(apikey='000' view-mode='carousel' color='#' market-pairs='BTC/KES,BTC/TZS,BTC/UGS')
      header.section-header
        h3 Instant, Reliable, Secure
        p
          | Buy and sell bitcoin fast and cheap using 2nd layer lightning technology in your preffered local currency.
      .row.about-container
        .col-lg-6.background.order-lg-1.order-2.wow.fadeInUp
          .icon-box.wow.fadeInUp(data-wow-delay='0.2s')
            .icon
              i.fa.fa-bitcoin
            h4.title
              a(href='https://bitcoin.org/') Bitcoin
            p.description
              | Bitcoin is a cryptocurrency, a form of electronic cash. It is a decentralized digital currency without a central bank or single administrator that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries
      .row.about-extra
        .col-lg-6.wow.fadeInUp
          img.img-fluid(src='themes/basicexchangesite/images/sell.svg' alt='')
        .col-lg-6.wow.fadeInUp.pt-5.pt-lg-0
          h4 Savings
          p
            | Save for smaller things like a smartphone or a vacation. You can save weekly, monthly into your crypto wallet  whenever you feel like it.
      .row.about-extra
        .col-lg-6.wow.fadeInUp.order-1.order-lg-2
          img.img-fluid(src='themes/basicexchangesite/images/about-extra-1.svg' alt='')
        .col-lg-6.wow.fadeInUp.pt-4.pt-lg-0.order-2.order-lg-1
          h4 Investment
          p
            | Invest in your future. Buy your first cryptocurrency that could yield returns in the future. Start with as little as 100 kes.
  // #about
  //
    ==========================
    Services Section
    ============================
  section#services.section-bg
    .container
      header.section-header
        h3 Escrow
        p escrow services incur an additional cost of 0.95%
      .row
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              img(src='themes/basicexchangesite/images/localeth.png' class='img-services' style='width:50px;')
            h4.title
              a(href='https://localcryptos.com/profile/vinceogeto') LocalCryptos
            p.description Visit our trading desk on localcryptos.com
        .col-md-6.col-lg-5.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              img(src='themes/basicexchangesite/images/localbtc.png' class='img-services' style='width:50px;')
            h4.title
              a(href='https://localbitcoins.com/accounts/profile/Vinceogeto/') LocalBitcoins
            p.description Visit our trading desk on localbitcoins.com
      header.section-header
        h3 Express
        p We accept a wide range of direct payment methods
      .row
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              img(src='themes/basicexchangesite/images/mpesa.png' class='img-services' style='width:50px;')
            h4.title
              a(href='') Mpesa
            p.description send money from Mpesa in kenya uganda or Tanzania
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .box
            .icon
              img(src='themes/basicexchangesite/images/airtel.png' class='img-services' style='width:50px;')
            h4.title
              a(href='') Airtel money
            p.description Send money from your airtel line from anywhere in Africa within coverage
        
  // #services
  //
    ==========================
    Why Us Section
    ============================
  section#why-us.wow.fadeIn
    .container
      header.section-header
        h3 Trustless exchange
        p Keep 100% custody of your wallet. We do not control your funds or ask for your private keys.
      .row.row-eq-height.justify-content-center
        .col-lg-4.mb-4
          .card.wow.bounceInUp
            i.fa.fa-money
            .card-body
              h5.card-title best price
              p.card-text we give you the cheapest exchange rates on the market
        .col-lg-4.mb-4
          .card.wow.bounceInUp
            i.fa.fa-clock-o
            .card-body
              h5.card-title instant conversions
              p.card-text payouts after just one confirmed transaction.
        .col-lg-4.mb-4
          .card.wow.bounceInUp
            i.fa.fa-globe
            .card-body
              h5.card-title any network, any time
              p.card-text
                | The blockchain is a shared public ledger on which the entire Bitcoin network relies. All confirmed transactions are included in the block chain.
      .row.counters
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 1000
          p Clients
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 2012
          p Started
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 1,364
          p Hours Of Support
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 12
          p Hard Workers
  section#get-wallet.wow.fadeIn
    .container
      header.section-header
        h3(style='padding: 60px 0 0;') Get a wallet!
        p to get some bitcoin, you will need an address first, use any of these recommended wallets to open an address for storing your money
      .row(style='text-align:center;')
        .col-lg-3.col-6.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.8s')
          .box
            .icon
              img(src='https://www.walletofsatoshi.com/assets/images/icon.png' class='img-services' style='width:30%;')
            h4.title
              a(href='https://walletofsatoshi.com/') wallet of satoshi
            p.description recommended
        .col-lg-3.col-6.wow.bounceInUp(data-wow-delay='0.3s' data-wow-duration='2.2s')
          .box
            .icon
              img(src='https://bluewallet.io/img/logo-bluewallet.svg' class='img-services' style='width:30%;')
            h4.title
              a(href='https://bluewallet.io/') blue wallet
            p.description 
        .col-lg-3.col-6.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              img(src='https://zap.jackmallers.com/icons/icon-512x512.png' class='img-services' style='width:30%;')
            h4.title
              a(href='https://zap.jackmallers.com/') zap
            p.description 
        .col-lg-3.col-6.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.8s')
          .box
            .icon
              img(src='https://lightning-wallet.com/btc.png' class='img-services' style='width:30%;')
            h4.title
              a(href='https://lightning-wallet.com/') BLW
            p.description 
  section#testimonials.section-bg
    .container
      header.section-header
        h3 What others are saying about Bitcoin
      .row.justify-content-center
        .col-lg-8
          .owl-carousel.testimonials-carousel.wow.fadeInUp
            .testimonial-item
              img.testimonial-img(src='themes/basicexchangesite/images/testimonial-4.jpg' alt='')
              h3 Bitange Ndemo
              h4
                | an associate Professor of Entrepreneurship at the University of Nairobi&rsquo;s Business School
              p
                | A trusted digital identity will prevent problems such as the duplication of identification numbers and the necessity to hold multiple numbers from a driving license number to a birth certificate number.
            .testimonial-item
              img.testimonial-img(src='themes/basicexchangesite/images/testimonial-6.jpg' alt='')
              h3 Barak Obama
              h4 former US president
              p
                | &ldquo;its like a swiss bank account in your pocket.&rdquo;
            .testimonial-item
              img.testimonial-img(src='themes/basicexchangesite/images/testimonial-5.jpg' alt='')
              h3 Joe Mucheru,
              h4 The cabinet secretary of ICT Kenya
              p
                | blockchain will be the underlying technology that will power the &lsquo;single source of truth&rsquo; that the government is already setting up to enable access to government services by every citizen. This identification system will also allow private and public companies such as banks and lenders to offer more efficient services.
            .testimonial-item
              img.testimonial-img(src='themes/basicexchangesite/images/testimonial-2.jpg' alt='')
              h3 Jack Ma
              h4 Alibaba Group Holding, Founder and Chairman
              p
                | &ldquo;Blockchain technology could change our world more than people imagine,&rdquo; Ma told reporters. &ldquo;Bitcoin, however, could be a bubble.&rdquo;
            .testimonial-item
              img.testimonial-img(src='themes/basicexchangesite/images/testimonial-3.jpg' alt='')
              h3 Peter Thiel
              h4 co-founder, PayPal and billionaire venture capitalist
              p
                | Bitcoin critics are &ldquo;underestimating [it] &mldr; It&apos;s like a reserve form of money, it&apos;s like gold and it&apos;s just a store of value. You don&apos;t need to use it to make payments.&rdquo;
  // #testimonials
  //
    ==========================
    Team Section
    ============================
  //
    ==========================
    Clients Section
    ============================
  section#clients.section-bg
    .container
      .section-header
        h3 0.01%
        p Our clients enjoy a fee of 0.1% on every transaction.
  //
    ==========================
    Contact Section
    ============================
  section#contact
    .container-fluid
      .section-header
        h3 Contact Us
      .row.wow.fadeInUp
        .col-lg-6
          .map.mb-4.mb-lg-0
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13777.794975490653!2d36.8876659784133!3d-1.2257907856946562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1591a2e9a35b%3A0x31a92b030cf1ccd5!2sKasarani%2C+Nairobi!5e1!3m2!1sen!2ske!4v1560170330090!5m2!1sen!2ske' width='600' height='450' frameborder='0' style='border:0' allowfullscreen='')
        .col-lg-6
          .row
            .col-md-5.info
              i.ion-ios-location-outline
              p Kasarani area
            .col-md-4.info
              i.ion-ios-email-outline
              p sales@cryptotrader.com
            .col-md-3.info
              i.ion-ios-telephone-outline
              p +254716530521
          .form
            #sendmessage Your message has been sent. Thank you!
            #errormessage
            form.contactForm(action='' method='post' role='form')
              .form-row
                .form-group.col-lg-6
                  input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                  .validation
                .form-group.col-lg-6
                  input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                  .validation
              .form-group
                input#subject.form-control(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                .validation
              .form-group
                textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                .validation
              .text-center
                button(type='submit' title='Send Message') Send Message
  // #contact
//
  ==========================
  Footer
      
  ============================
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-info
          .intro-img
            img.img-fluid(src='themes/basicexchangesite/images/btc.svg' alt='')
          p Crypto buyer and seller
        .col-lg-2.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              a(href='#') Home
            li
              a(href='#') About us
            li
              a(href='https://upfolio.com', target='_blank') Discover other cryptos!
            li
              a(href='#') Terms of service
            li
              a(href='#') Privacy policy
        .col-lg-3.col-md-6.footer-contact
          h4 Contact Us
          p
            | Nairobi Area, Nairobi
            br
            |               Kenya 
            br
            strong Phone:
            |  +254716530521
            br
            strong Email:
            |  sales@cryptotrader.co.ke
            br
          .social-links
            a.twitter(href='#')
              i.fa.fa-twitter
            a.facebook(href='https://www.facebook.com/cryptobuyerandseller/')
              i.fa.fa-facebook
            a.instagram(href='#')
              i.fa.fa-instagram
            a.google-plus(href='#')
              i.fa.fa-google-plus
            a.linkedin(href='#')
              i.fa.fa-linkedin
        .col-lg-3.col-md-6.footer-newsletter
          h4 Our Newsletter
          p Sign up to get updates
          form(action='' method='post')
            input(type='email' name='email')
            input(type='submit' value='Subscribe')
  .container
    .copyright
      | &copy; Copyright 
      strong Cryptotrader
    .credits
      //
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
      | Bitcoin 
      a(href='') 1CzKSLmpQuP4EicFj4LViKZhCuMMhWVH3y
      br
      |          Ethereum 
      a(href='') 0xd132ebBe8edd4731263EBe78bF325F67E2AeAAdA
// #footer
a.back-to-top.scrollto(href='#about')
  i.fa.fa-usd       buy & sell
// Uncomment below i you want to use a preloader
// <div id="preloader"></div>
// JavaScript Libraries
script(src='themes/basicexchangesite/js/jquery.min.js')
script(src='themes/basicexchangesite/js/jquery-migrate.min.js')
script(src='themes/basicexchangesite/js/bootstrap.bundle.min.js')
script(src='themes/basicexchangesite/js/easing.min.js')
script(src='themes/basicexchangesite/js/mobile-nav.js')
script(src='themes/basicexchangesite/js/wow.min.js')
script(src='themes/basicexchangesite/js/waypoints.min.js')
script(src='themes/basicexchangesite/js/counterup.min.js')
script(src='themes/basicexchangesite/js/owl.carousel.min.js')
script(src='themes/basicexchangesite/js/isotope.pkgd.min.js')
script(src='themes/basicexchangesite/js/lightbox.min.js')
// Contact Form JavaScript File
script(src='themes/basicexchangesite/js/contactform.js')
script(src='/bitsAssets/js/exchange-v1.js' defer='true')
//script(src='/bitsAssets/js/exchange-0.1.js' defer='true')
// Template Main Javascript File
script(src='themes/basicexchangesite/js/main.js')
