doctype html
//if IE 8
//if IE 9 
// [if (gt IE 9)|!(IE)] <!
// <![endif]
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  // Start of Booster Apps Seo-0.1
  title ikon cigars Co. | Cigars for Every Adventure
  meta(name='google-site-verification' content='JLhnP1ET8bAXKrvI26lBUmR3-6Rr8benZjxNtIuGo64')
  meta(name='description' content='The ikon cigars Co. Adventure pack includes everything you need, including 2 or 4 cigars, a humidified travel pouch, cutter, matches and more. Grab one for your next outing, or join our exclusive cigar subscription.')
  // end of Booster Apps SEO
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  link(rel='canonical' href='https://www.ikoncigars.com/')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='theme-color' content='#d2563b')
  link(rel='preconnect' href='https://gateway.bitsoko.org/')
  link(rel='dns-prefetch' href='https://gateway.bitsoko.org/')
  link(rel='apple-touch-icon' sizes='180x180' href='https://www.ikoncigars.com/cdn/shop/files/logo_gcc_text_blue_1c9f995a-8c92-4edd-a249-9c66ee558ee4_180x180.png?v=1614295202')
  link(rel='icon' type='image/png' sizes='32x32' href='https://www.ikoncigars.com/cdn/shop/files/logo_gcc_text_blue_1c9f995a-8c92-4edd-a249-9c66ee558ee4_32x32.png?v=1614295202')
  link(rel='icon' type='image/png' sizes='16x16' href='https://www.ikoncigars.com/cdn/shop/files/logo_gcc_text_blue_1c9f995a-8c92-4edd-a249-9c66ee558ee4_16x16.png?v=1614295202')
  link(rel='mask-icon' color='#d2563b')
  meta(property='og:site_name' content='ikon cigars Co.')
  meta(property='og:url' content='https://www.ikoncigars.com/')
  meta(property='og:title' content='ikon cigars Company')
  meta(property='og:type' content='website')
  meta(property='og:description' content='Premium cigar packs that stay fresh for months. No humidor required. Perfect for the golf course, home bar, bachelor party or gift.')
  meta(name='twitter:site' content='@')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='ikon cigars Company')
  meta(name='twitter:description' content='Premium cigar packs that stay fresh for months. No humidor required. Perfect for the golf course, home bar, bachelor party or gift.')
  for store in stores
    link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lamejs/1.2.1/lame.all.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.6.2/RecordRTC.js')
  //script(async src='bitsAssets/js/entAll.js')
  script(async src='bitsAssets/js/globalVariables.js')
  script(async src='bitsAssets/js/globalServices.js')
  script(async src='bitsAssets/js/audioManager.js')
  script(async src='bitsAssets/js/storeManager.js')
  script(async src='bitsAssets/js/connect.js')

  script(src='themes/cigars/js/lazysizes.min.js' async='async')
  // <![endif]
  //if lte IE 9
    script(src='//www.goodcigar.co/cdn/shop/t/37/assets/lazysizes.min.js?v=174097831579247140971604416889')
  link(rel='stylesheet' href='themes/cigars/css/theme.scss.css' as='style' onload="this.rel='stylesheet'")
  link(href='themes/cigars/css/theme.scss.css' rel='stylesheet' type='text/css' media='all')
  meta#shopify-digital-wallet(name='shopify-digital-wallet' content='/12077902/digital_wallets/dialog')
  link(href='index_files/bold-upsell.css' rel='stylesheet' type='text/css' media='all')
  link(href='index_files/bold-upsell-custom.css' rel='stylesheet' type='text/css' media='all')
  // CSS
  link(rel='stylesheet' href='https://unpkg.com/flickity@2/dist/flickity.min.css')
  // JavaScript
  script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
  // BEGIN app block: shopify://apps/klaviyo-email-marketing-sms/blocks/klaviyo-onsite-embed/2632fe16-c075-4321-a88b-50b567f42507
body(style='overflow-x: hidden;')
  header.util(style='z-index: 991; position: sticky; top: 0px;')
    .wrapper
      .search-wrapper
        // /snippets/search-bar.liquid
        form.input-group.search-bar(action='/search' method='get' role='search')
          .icon-wrapper
            span.icon-fallback-text
              span.icon.icon-search(aria-hidden='true')
                svg.icon.icon-ui-search(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 512 512')
                  path(d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z')
              span.fallback-text Search
          .input-wrapper
            input.input-group-field(type='search' name='q' placeholder='Search our store' aria-label='Search our store')
          .button-wrapper
            span.input-group-btn
              button.btn.icon-fallback-text(type='button')
                span.icon.icon-close(aria-hidden='true')
                  svg.icon.icon-ui-close(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 352 512')
                    path(d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z')
                span.fallback-text Close menu
      .left-wrapper
        ul.text-links
          li.mobile-menu
            a.toggle-menu.menu-link(href='#menu')
              span.icon-text
                span.icon.icon-menu(aria-hidden='true')
                  svg.icon.icon-ui-menu(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 448 512')
                    path(d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z')
                span.text(data-close-text='Close menu') Menu
          li
            a.search(href='#')
              span.icon-text
                span.icon.icon-search(aria-hidden='true')
                  svg.icon.icon-ui-search(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 512 512')
                    path(d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z')
                span.text Search
      .right-wrapper
        // /snippets/accounts-nav.liquid
        ul.text-links
          li
            a#customer_login_link(href='https://www.ikoncigars.com/account/login') Log in
          li
            a#customer_register_link(href='https://www.ikoncigars.com/account/register') Create account
        a#CartButton(href='https://www.ikoncigars.com/cart')
          span.icon-fallback-text
            span.icon.icon-cart(aria-hidden='true')
              svg.icon.icon-ui-cart(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 576 512')
                path(d='M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z')
          span#CartCount 0
          |                                 Cart
          span#CartCost.money
        // /snippets/cart-preview.liquid
        .cart-preview
          .cart-preview-title
            | Added to Cart
          .product-container
            .box.product
              figure
                a.product-image(href='#')
                figcaption
                  a.product-title(href='#')
                  ul.product-variant.options
                  span.product-price.price.money
          .cart-preview-total
            .count.plural
              | You have 
              span.item-count
              |                                         items in your cart
            .count.singular
              | You have 
              span.item-count 1
              |                                         item in your cart
            ul.cart-preview--discounts
            .label Total
            .total-price.total
              span.money
          .cart-preview-buttons
            a.button.solid(href='https://www.ikoncigars.com/cart') Check Out
            a.button.outline.continue-shopping(href='#continue') Continue Shopping
  #shopify-section-header.shopify-section.header
    div(data-section-id='header' data-section-type='header-section')
      .site-header-wrapper
        header.site-header.minimal(data-scroll-lock='util' role='banner')
          .wrapper
            .logo-nav-contain.layout-vertical
              .logo-contain
                h1.site-logo.has-image
                  a.logo-image.card__image-wrapper(href='https://www.ikoncigars.com/' style='padding-top:7.089552238805971%')
                    img.card__image.lazyautosizes.lazyloaded(src='index_files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_2.webp' data-widths='[220,440,660,1072]' data-aspectratio='14.105263157894736' data-sizes='auto' alt='ikon cigars Co.' data-srcset='//www.goodcigar.co/cdn/shop/files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_220x.png?v=1613706841 220w, //www.goodcigar.co/cdn/shop/files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_440x.png?v=1613706841 440w, //www.goodcigar.co/cdn/shop/files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_660x.png?v=1613706841 660w, //www.goodcigar.co/cdn/shop/files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_1072x.png?v=1613706841 1072w' sizes='220px' srcset='index_files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_2.webp 220w, index_files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_44.png 440w, index_files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_66.png 660w, index_files/good-cigar-logo_dark_91104dd2-3d23-4a82-87da-3c52150b8513_1.webp 1072w')
              nav.nav-bar(role='navigation')
                ul.site-nav(role='menubar')
                  li(role='presentation')
                    a(href='https://www.ikoncigars.com/products/monthly-subscription' role='menuitem') SUBSCRIBE
                  li.has-dropdown(role='presentation')
                    a(href='themes/cigars/templates/product.html?id=' aria-haspopup='true' aria-expanded='false' role='menuitem') Cigar Packs
                    ul.dropdown(aria-hidden='true' role='menu' style='left: auto;')
                      li(role='presentation')
                        a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Apex [Mild]
                      li(role='presentation')
                        a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Voyage [Medium]
                      li(role='presentation')
                        a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Rove [Full Bodied]
                  li.has-dropdown(role='presentation')
                    a(href='themes/cigars/templates/product.html?id=' aria-haspopup='true' aria-expanded='false' role='menuitem') Gifts
                    ul.dropdown(aria-hidden='true' role='menu')
                      li(role='presentation')
                        a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Single Packs
                      li(role='presentation')
                        a(href='https://www.ikoncigars.com/collections/pre-paid-gift-subscriptions' role='menuitem' tabindex='-1') Subscription Gifts
                  li.has-dropdown(role='presentation')
                    a(href='https://www.ikoncigars.com/blogs/the-straight-cut' aria-haspopup='true' aria-expanded='false' role='menuitem') Learn
                    ul.dropdown(aria-hidden='true' role='menu')
                      li(role='presentation')
                        a(href='https://www.ikoncigars.com/blogs/the-straight-cut' role='menuitem' tabindex='-1') Blog
                      li(role='presentation')
                        a(href='https://www.ikoncigars.com/pages/wholesale-retail-sales' role='menuitem' tabindex='-1') Wholesale Program
    nav#menu.panel(role='navigation')
      .search
        // /snippets/search-bar.liquid
        form.input-group.search-bar(action='/search' method='get' role='search')
          .icon-wrapper
            span.icon-fallback-text
              span.icon.icon-search(aria-hidden='true')
                svg.icon.icon-ui-search(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 512 512')
                  path(d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z')
              span.fallback-text Search
          .input-wrapper
            input.input-group-field(type='search' name='q' placeholder='Search our store' aria-label='Search our store')
          .button-wrapper
            span.input-group-btn
              button.btn.icon-fallback-text(type='button')
                span.icon.icon-close(aria-hidden='true')
                  svg.icon.icon-ui-close(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 352 512')
                    path(d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z')
                span.fallback-text Close menu
      ul.site-nav(role='menubar')
        li(role='presentation')
          a(href='https://www.ikoncigars.com/products/monthly-subscription' role='menuitem') SUBSCRIBE
        li.has-dropdown(role='presentation')
          a(href='themes/cigars/templates/product.html?id=' aria-haspopup='true' aria-expanded='false' role='menuitem') Cigar Packs
          ul.dropdown(aria-hidden='true' role='menu')
            li(role='presentation')
              a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Apex [Mild]
            li(role='presentation')
              a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Voyage [Medium]
            li(role='presentation')
              a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Rove [Full Bodied]
            li(role='presentation')
              a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Sampler
        li.has-dropdown(role='presentation')
          a(href='themes/cigars/templates/product.html?id=' aria-haspopup='true' aria-expanded='false' role='menuitem') Gifts
          ul.dropdown(aria-hidden='true' role='menu')
            li(role='presentation')
              a(href='themes/cigars/templates/product.html?id=' role='menuitem' tabindex='-1') Single Packs
            li(role='presentation')
              a(href='https://www.ikoncigars.com/collections/pre-paid-gift-subscriptions' role='menuitem' tabindex='-1') Subscription Gifts
        li.has-dropdown(role='presentation')
          a(href='https://www.ikoncigars.com/blogs/the-straight-cut' aria-haspopup='true' aria-expanded='false' role='menuitem') Learn
          ul.dropdown(aria-hidden='true' role='menu')
            li(role='presentation')
              a(href='https://www.ikoncigars.com/blogs/the-straight-cut' role='menuitem' tabindex='-1') Blog
            li(role='presentation')
              a(href='https://www.ikoncigars.com/pages/wholesale-retail-sales' role='menuitem' tabindex='-1') Wholesale Program
    .mobile-menu-overlay
  main.main-content.main-content--breadcrumb-desktop(role='main')
    // BEGIN content_for_index
    #shopify-section-1481011869014.shopify-section.slideshow-section
      .slideshow.slideshow-1481011869014.section-standard.no-border(data-section-id='1481011869014' data-section-type='slideshow-section')
        .contain-full-width.no-padding
          .wrapper
            .true.slideshow-carousel.flickity-enabled.is-draggable(class='data-flickity=\'{ "cellAlign": "left", "contain": }\'' data-slide-count='2' data-flickity-options='{\
            "imagesLoaded": true,\
            "lazyLoad": 1,\
            "adaptiveHeight": true,\
            "autoPlay": 4000,\
            "wrapAround": true,\
            "prevNextButtons": false,\
            "pageDots": true\
            }' tabindex='0')
              .flickity-viewport(style='height: 1073.15px;')
                .flickity-slider(style='left: 0px; transform: translateX(-100%);')
                  #block-67eb5602-284d-42ee-8e09-0405613bd4d9.slide__item.slide__item-image(data-slide-index='0' style='position: absolute; left: 200%;' aria-selected='false')
                    .slide__item-content.align-center.justify-center
                      .content-box
                        .outer-wrapper
                          .inner-wrapper
                            .content-contain
                              h2 Ikon cigars Packs
                            a.button(href='themes/cigars/templates/product.html?id=') Shop Packs
                    .slide__item-image
                      .slide__item-image-contain.desktop
                        img.slide__image.slide__image-desktop.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[400,600,800,900,1000,1200,1500,1800,2000,2400,4771]' data-aspectratio='1.4993714644877436' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/Voyage-24_400x.jpg?v=1614295200 400w, //www.goodcigar.co/cdn/shop/files/Voyage-24_600x.jpg?v=1614295200 600w, //www.goodcigar.co/cdn/shop/files/Voyage-24_800x.jpg?v=1614295200 800w, //www.goodcigar.co/cdn/shop/files/Voyage-24_900x.jpg?v=1614295200 900w, //www.goodcigar.co/cdn/shop/files/Voyage-24_1000x.jpg?v=1614295200 1000w, //www.goodcigar.co/cdn/shop/files/Voyage-24_1200x.jpg?v=1614295200 1200w, //www.goodcigar.co/cdn/shop/files/Voyage-24_1500x.jpg?v=1614295200 1500w, //www.goodcigar.co/cdn/shop/files/Voyage-24_1800x.jpg?v=1614295200 1800w, //www.goodcigar.co/cdn/shop/files/Voyage-24_2000x.jpg?v=1614295200 2000w, //www.goodcigar.co/cdn/shop/files/Voyage-24_2400x.jpg?v=1614295200 2400w, //www.goodcigar.co/cdn/shop/files/Voyage-24_4771x.jpg?v=1614295200 4771w' sizes='1626px' srcset='index_files/Voyage-24_400x.webp 400w, index_files/Voyage-24_600x.jpg 600w, index_files/Voyage-24_800x.webp 800w, index_files/Voyage-24_900x.webp 900w, index_files/Voyage-24_1000x.webp 1000w, index_files/Voyage-24_1200x.jpg 1200w, index_files/Voyage-24_1500x.webp 1500w, index_files/Voyage-24_1800x.webp 1800w, index_files/Voyage-24_2000x.webp 2000w, index_files/Voyage-24_2400x.jpg 2400w, index_files/Voyage-24_4771x.jpg 4771w')
                        noscript
                          img(src='//www.goodcigar.co/cdn/shop/files/Voyage-24_900x.jpg?v=1614295200' alt='')
                      .slide__item-image-contain.mobile
                        img.slide__image.slide__image-mobile.lazyload(src='index_files/Cigar-33_400x.webp' data-preload='//www.goodcigar.co/cdn/shop/files/Cigar-33_400x.jpg?v=1624292598' data-src='//www.goodcigar.co/cdn/shop/files/Cigar-33_{width}x.jpg?v=1624292598' data-widths='[400,600,800,1000,1200,1280]' data-aspectratio='0.8' data-sizes='auto' alt='')
                        noscript
                          img(src='//www.goodcigar.co/cdn/shop/files/Cigar-33_400x.jpg?v=1624292598' alt='')
                    style(media='screen').
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.desktop {
                      position: relative;
                      height: 0;
                      padding-bottom: 66%;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.desktop img {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.mobile {
                      display: none;
                      position: relative;
                      height: 0;
                      padding-bottom: 125%;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.mobile img {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      }
                      @media (max-width: 700px) {
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.mobile {
                      display: block;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.desktop {
                      display: none;
                      }
                      }
                      @media (min-width: 701px) {
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.mobile {
                      display: none;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-image-contain.desktop {
                      display: block;
                      }
                      }
                      @media (max-width: 600px) {
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-content h2 {
                      font-size: 24px;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-content p {
                      font-size: 15px;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-content .content-box {
                      padding: 20px;
                      }
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .slide__item-content {
                      background-color: rgba(0, 0, 0, 0.3);
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 h2, #block-67eb5602-284d-42ee-8e09-0405613bd4d9 .rte {
                      color: #ffffff;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a {
                      color: #ffffff;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a:hover, #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a:focus {
                      color: #ffffff;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a.button {
                      color: #ffffff;
                      border-color: #ffffff;
                      }
                      #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a.button:hover, #block-67eb5602-284d-42ee-8e09-0405613bd4d9 a.button:focus {
                      color: #ffffff;
                      border-color: #ffffff;
                      }
                  #block-1481011869014-0.slide__item.slide__item-image.is-selected(data-slide-index='1' style='position: absolute; left: 100%;' aria-selected='true')
                    .slide__item-content.align-center.justify-center
                      .content-box
                        .outer-wrapper
                          .inner-wrapper
                            .content-contain
                              h2 Cigar Subscription
                            a.button(href='https://www.ikoncigars.com/products/monthly-subscription') Learn More
                    a.slide__item-image(href='themes/cigars/templates/product.html?id=')
                      .slide__item-image-contain.desktop
                        img.slide__image.slide__image-desktop.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[400,600,800,900,1000,1200,1500,1800,2000,2400,3498]' data-aspectratio='1.5' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/DSCF7957_1_400x.jpg?v=1614295154 400w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_600x.jpg?v=1614295154 600w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_800x.jpg?v=1614295154 800w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_900x.jpg?v=1614295154 900w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_1000x.jpg?v=1614295154 1000w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_1200x.jpg?v=1614295154 1200w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_1500x.jpg?v=1614295154 1500w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_1800x.jpg?v=1614295154 1800w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_2000x.jpg?v=1614295154 2000w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_2400x.jpg?v=1614295154 2400w, //www.goodcigar.co/cdn/shop/files/DSCF7957_1_3498x.jpg?v=1614295154 3498w' sizes='1626px' srcset='index_files/DSCF7957_1_400x.jpg 400w, index_files/DSCF7957_1_600x.jpg 600w, index_files/DSCF7957_1_800x.jpg 800w, index_files/DSCF7957_1_900x.jpg 900w, index_files/DSCF7957_1_1000x.webp 1000w, index_files/DSCF7957_1_1200x.jpg 1200w, index_files/DSCF7957_1_1500x.jpg 1500w, index_files/DSCF7957_1_1800x.webp 1800w, index_files/DSCF7957_1_2000x.webp 2000w, index_files/DSCF7957_1_2400x.jpg 2400w, index_files/DSCF7957_1_3498x.jpg 3498w')
                      .slide__item-image-contain.mobile
                        img.slide__image.slide__image-mobile.lazyload(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-preload='//www.goodcigar.co/cdn/shop/files/Cigar-11_400x.jpg?v=1624292129' data-src='//www.goodcigar.co/cdn/shop/files/Cigar-11_{width}x.jpg?v=1624292129' data-widths='[400,600,800,1000,1200,1280]' data-aspectratio='0.8' data-sizes='auto' alt='')
                    style(media='screen').
                      #block-1481011869014-0 .slide__item-image-contain.desktop {
                      position: relative;
                      height: 0;
                      padding-bottom: 66%;
                      }
                      #block-1481011869014-0 .slide__item-image-contain.desktop img {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      }
                      #block-1481011869014-0 .slide__item-image-contain.mobile {
                      display: none;
                      position: relative;
                      height: 0;
                      padding-bottom: 125%;
                      }
                      #block-1481011869014-0 .slide__item-image-contain.mobile img {
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      }
                      @media (max-width: 700px) {
                      #block-1481011869014-0 .slide__item-image-contain.mobile {
                      display: block;
                      }
                      #block-1481011869014-0 .slide__item-image-contain.desktop {
                      display: none;
                      }
                      }
                      @media (min-width: 701px) {
                      #block-1481011869014-0 .slide__item-image-contain.mobile {
                      display: none;
                      }
                      #block-1481011869014-0 .slide__item-image-contain.desktop {
                      display: block;
                      }
                      }
                      @media (max-width: 600px) {
                      #block-1481011869014-0 .slide__item-content h2 {
                      font-size: 24px;
                      }
                      #block-1481011869014-0 .slide__item-content p {
                      font-size: 15px;
                      }
                      #block-1481011869014-0 .slide__item-content .content-box {
                      padding: 20px;
                      }
                      }
                      #block-1481011869014-0 .slide__item-content {
                      background-color: rgba(0, 0, 0, 0.45);
                      }
                      #block-1481011869014-0 h2, #block-1481011869014-0 .rte {
                      color: #ffffff;
                      }
                      #block-1481011869014-0 a {
                      color: #fafafa;
                      }
                      #block-1481011869014-0 a:hover, #block-1481011869014-0 a:focus {
                      color: #ffffff;
                      }
                      #block-1481011869014-0 a.button {
                      color: #fafafa;
                      border-color: #fafafa;
                      }
                      #block-1481011869014-0 a.button:hover, #block-1481011869014-0 a.button:focus {
                      color: #ffffff;
                      border-color: #ffffff;
                      }
              ol.flickity-page-dots
                li.dot(aria-label='Page dot 1')
                li.dot.is-selected(aria-label='Page dot 2' aria-current='step')
    #shopify-section-1481011878590.shopify-section.gallery-section
      .gallery.section-standard(data-section-id='1481011878590' data-section-type='gallery-section')
        .contain-site-width
          .wrapper
            .grid
              .grid__item.one-half.medium-down--one-whole
                .box
                  a.rollover(href='themes/cigars/templates/product.html?id=')
                    figure.animation-label-overlay.lazyloaded(data-bgset='//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 180w 225h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 295w 369h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 394w 493h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-33_788x.jpg?v=1624292598 788w 985h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-33_1180x.jpg?v=1624292598 1180w 1475h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-33.jpg?v=1624292598 1280w 1600h' style='max-width: 1199px; background-image: url("https://static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg");')
                      .card__image-wrapper(style='padding-top:66.72226855713095%')
                        img.card__image.lazyautosizes.lazyloaded(src='https://static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg' data-widths='[295,394,590,700,800,1000,1199]' data-aspectratio='1.49875' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/sampler_295x.jpg?v=1637597015 295w, //www.goodcigar.co/cdn/shop/files/sampler_394x.jpg?v=1637597015 394w, //www.goodcigar.co/cdn/shop/files/sampler_590x.jpg?v=1637597015 590w, //www.goodcigar.co/cdn/shop/files/sampler_700x.jpg?v=1637597015 700w, //www.goodcigar.co/cdn/shop/files/sampler_800x.jpg?v=1637597015 800w, //www.goodcigar.co/cdn/shop/files/sampler_1000x.jpg?v=1637597015 1000w, //www.goodcigar.co/cdn/shop/files/sampler_1199x.jpg?v=1637597015 1199w' sizes='575px' srcset='index_files/sampler_295x.avif 295w, index_files/sampler_394x.webp 394w, index_files/sampler_590x.jpg 590w, index_files/sampler_700x.jpg 700w, index_files/sampler_800x.jpg 800w, index_files/sampler_1000x.jpg 1000w, index_files/sampler_1199x.jpg 1199w')
                      figcaption
                        h4 AVO Syncro South America Ritmo Toro 6" * 54
                      picture(style='display: none;')
                        source(data-srcset='//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 180w 225h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 295w 369h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 394w 493h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-33_788x.jpg?v=1624292598 788w 985h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-33_1180x.jpg?v=1624292598 1180w 1475h,//static.wixstatic.com/media/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg/v1/fill/w_368,h_367,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/ed58c2_946a58caa29542aa9d1b592b366b594f~mv2.jpg 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-33.jpg?v=1624292598 1280w 1600h' sizes='575px' srcset='index_files/Cigar-33_180x.jpg 180w, index_files/Cigar-33_295x.webp 295w, index_files/Cigar-33_394x.jpg 394w, index_files/Cigar-33_590x.webp 590w, index_files/Cigar-33_788x.webp 788w, index_files/Cigar-33_900x.jpg 900w, index_files/Cigar-33_1180x.jpg 1180w, index_files/Cigar-33_1200x.jpg 1200w, index_files/Cigar-33.webp 1280w')
                        img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='575px')
              .grid__item.one-half.medium-down--one-whole
                .box
                  a.rollover(href='themes/cigars/templates/product.html?id=')
                    figure.animation-label-overlay.lazyloaded(data-bgset='//www.goodcigar.co/cdn/shop/files/Cigar-11_180x.jpg?v=1624292129 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-11_295x.jpg?v=1624292129 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-11_394x.jpg?v=1624292129 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-11_590x.jpg?v=1624292129 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-11_788x.jpg?v=1624292129 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-11_900x.jpg?v=1624292129 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-11_1180x.jpg?v=1624292129 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-11_1200x.jpg?v=1624292129 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-11.jpg?v=1624292129 1280w 1600h' style='max-width: 2100px; background-image: url("https://www.goodcigar.co/cdn/shop/files/Cigar-11_590x.jpg?v=1624292129");')
                      .card__image-wrapper(style='padding-top:66.76190476190477%')
                        img.card__image.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[295,394,590,700,800,1000,1200,1500,1800,2000,2100]' data-aspectratio='1.4978601997146932' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/ROX159_295x.jpg?v=1613751132 295w, //www.goodcigar.co/cdn/shop/files/ROX159_394x.jpg?v=1613751132 394w, //www.goodcigar.co/cdn/shop/files/ROX159_590x.jpg?v=1613751132 590w, //www.goodcigar.co/cdn/shop/files/ROX159_700x.jpg?v=1613751132 700w, //www.goodcigar.co/cdn/shop/files/ROX159_800x.jpg?v=1613751132 800w, //www.goodcigar.co/cdn/shop/files/ROX159_1000x.jpg?v=1613751132 1000w, //www.goodcigar.co/cdn/shop/files/ROX159_1200x.jpg?v=1613751132 1200w, //www.goodcigar.co/cdn/shop/files/ROX159_1500x.jpg?v=1613751132 1500w, //www.goodcigar.co/cdn/shop/files/ROX159_1800x.jpg?v=1613751132 1800w, //www.goodcigar.co/cdn/shop/files/ROX159_2000x.jpg?v=1613751132 2000w, //www.goodcigar.co/cdn/shop/files/ROX159_2100x.jpg?v=1613751132 2100w' sizes='575px' srcset='index_files/ROX159_295x.avif 295w, index_files/ROX159_394x.jpg 394w, index_files/ROX159_590x.webp 590w, index_files/ROX159_700x.jpg 700w, index_files/ROX159_800x.webp 800w, index_files/ROX159_1000x.jpg 1000w, index_files/ROX159_1200x.jpg 1200w, index_files/ROX159_1500x.jpg 1500w, index_files/ROX159_1800x.jpg 1800w, index_files/ROX159_2000x.jpg 2000w, index_files/ROX159_2100x.webp 2100w')
                      figcaption
                        h4 Product 2
                      picture(style='display: none;')
                        source(data-srcset='//www.goodcigar.co/cdn/shop/files/Cigar-11_180x.jpg?v=1624292129 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-11_295x.jpg?v=1624292129 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-11_394x.jpg?v=1624292129 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-11_590x.jpg?v=1624292129 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-11_788x.jpg?v=1624292129 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-11_900x.jpg?v=1624292129 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-11_1180x.jpg?v=1624292129 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-11_1200x.jpg?v=1624292129 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-11.jpg?v=1624292129 1280w 1600h' sizes='575px' srcset='index_files/Cigar-11_180x.jpg 180w, index_files/Cigar-11_295x.webp 295w, index_files/Cigar-11_394x.webp 394w, index_files/Cigar-11_590x.webp 590w, index_files/Cigar-11_788x.webp 788w, index_files/Cigar-11_900x.jpg 900w, index_files/Cigar-11_1180x.jpg 1180w, index_files/Cigar-11_1200x.jpg 1200w, index_files/Cigar-11.jpg 1280w')
                        img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='575px')
              .grid__item.one-third.medium-down--one-whole
                .box
                  a.rollover(href='themes/cigars/templates/product.html?id=')
                    figure.animation-label-overlay.lazyloaded(data-bgset='//www.goodcigar.co/cdn/shop/files/Cigar-29_180x.jpg?v=1624292130 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-29_295x.jpg?v=1624292130 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-29_394x.jpg?v=1624292130 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-29_590x.jpg?v=1624292130 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-29_788x.jpg?v=1624292130 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-29_900x.jpg?v=1624292130 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-29_1180x.jpg?v=1624292130 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-29_1200x.jpg?v=1624292130 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-29.jpg?v=1624292130 1280w 1600h' style='max-width: 2732px; background-image: url("https://www.goodcigar.co/cdn/shop/files/Cigar-29_590x.jpg?v=1624292130");')
                      .card__image-wrapper(style='padding-top:149.9267935578331%')
                        img.card__image.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[295,394,590,700,800,1000,1200,1500,1800,2000,2400,2732]' data-aspectratio='0.6669921875' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/SE25484_295x.jpg?v=1614295652 295w, //www.goodcigar.co/cdn/shop/files/SE25484_394x.jpg?v=1614295652 394w, //www.goodcigar.co/cdn/shop/files/SE25484_590x.jpg?v=1614295652 590w, //www.goodcigar.co/cdn/shop/files/SE25484_700x.jpg?v=1614295652 700w, //www.goodcigar.co/cdn/shop/files/SE25484_800x.jpg?v=1614295652 800w, //www.goodcigar.co/cdn/shop/files/SE25484_1000x.jpg?v=1614295652 1000w, //www.goodcigar.co/cdn/shop/files/SE25484_1200x.jpg?v=1614295652 1200w, //www.goodcigar.co/cdn/shop/files/SE25484_1500x.jpg?v=1614295652 1500w, //www.goodcigar.co/cdn/shop/files/SE25484_1800x.jpg?v=1614295652 1800w, //www.goodcigar.co/cdn/shop/files/SE25484_2000x.jpg?v=1614295652 2000w, //www.goodcigar.co/cdn/shop/files/SE25484_2400x.jpg?v=1614295652 2400w, //www.goodcigar.co/cdn/shop/files/SE25484_2732x.jpg?v=1614295652 2732w' sizes='373px' srcset='index_files/SE25484_295x.jpg 295w, index_files/SE25484_394x.webp 394w, index_files/SE25484_590x.jpg 590w, index_files/SE25484_700x.jpg 700w, index_files/SE25484_800x.jpg 800w, index_files/SE25484_1000x.jpg 1000w, index_files/SE25484_1200x.jpg 1200w, index_files/SE25484_1500x.jpg 1500w, index_files/SE25484_1800x.jpg 1800w, index_files/SE25484_2000x.webp 2000w, index_files/SE25484_2400x.jpg 2400w, index_files/SE25484_2732x.jpg 2732w')
                      figcaption
                        h4 Product 3
                      picture(style='display: none;')
                        source(data-srcset='//www.goodcigar.co/cdn/shop/files/Cigar-29_180x.jpg?v=1624292130 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-29_295x.jpg?v=1624292130 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-29_394x.jpg?v=1624292130 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-29_590x.jpg?v=1624292130 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-29_788x.jpg?v=1624292130 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-29_900x.jpg?v=1624292130 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-29_1180x.jpg?v=1624292130 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-29_1200x.jpg?v=1624292130 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-29.jpg?v=1624292130 1280w 1600h' sizes='448.00000000000006px' srcset='index_files/Cigar-29_180x.avif 180w, index_files/Cigar-29_295x.webp 295w, index_files/Cigar-29_394x.jpg 394w, index_files/Cigar-29_590x.webp 590w, index_files/Cigar-29_788x.webp 788w, index_files/Cigar-29_900x.jpg 900w, index_files/Cigar-29_1180x.jpg 1180w, index_files/Cigar-29_1200x.webp 1200w, index_files/Cigar-29.webp 1280w')
                        img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='448.00000000000006px')
              .grid__item.one-third.medium-down--one-whole
                .box
                  a.rollover(href='themes/cigars/templates/product.html?id=')
                    figure.animation-label-overlay.lazyloaded(data-bgset='//www.goodcigar.co/cdn/shop/files/Voyage-66_180x.jpg?v=1614295200 180w 270h,//www.goodcigar.co/cdn/shop/files/Voyage-66_295x.jpg?v=1614295200 295w 442h,//www.goodcigar.co/cdn/shop/files/Voyage-66_394x.jpg?v=1614295200 394w 591h,//www.goodcigar.co/cdn/shop/files/Voyage-66_590x.jpg?v=1614295200 590w 885h,//www.goodcigar.co/cdn/shop/files/Voyage-66_788x.jpg?v=1614295200 788w 1181h,//www.goodcigar.co/cdn/shop/files/Voyage-66_900x.jpg?v=1614295200 900w 1349h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1180x.jpg?v=1614295200 1180w 1769h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1200x.jpg?v=1614295200 1200w 1799h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1500x.jpg?v=1614295200 1500w 2249h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1800x.jpg?v=1614295200 1800w 2698h,//www.goodcigar.co/cdn/shop/files/Voyage-66_2000x.jpg?v=1614295200 2000w 2998h,//www.goodcigar.co/cdn/shop/files/Voyage-66.jpg?v=1614295200 2953w 4427h' style='max-width: 2736px; background-image: url("https://www.goodcigar.co/cdn/shop/files/Voyage-66_394x.jpg?v=1614295200");')
                      .card__image-wrapper(style='padding-top:149.92690058479533%')
                        img.card__image.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[295,394,590,700,800,1000,1200,1500,1800,2000,2400,2736]' data-aspectratio='0.666991711360312' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/SE25486_295x.jpg?v=1614295652 295w, //www.goodcigar.co/cdn/shop/files/SE25486_394x.jpg?v=1614295652 394w, //www.goodcigar.co/cdn/shop/files/SE25486_590x.jpg?v=1614295652 590w, //www.goodcigar.co/cdn/shop/files/SE25486_700x.jpg?v=1614295652 700w, //www.goodcigar.co/cdn/shop/files/SE25486_800x.jpg?v=1614295652 800w, //www.goodcigar.co/cdn/shop/files/SE25486_1000x.jpg?v=1614295652 1000w, //www.goodcigar.co/cdn/shop/files/SE25486_1200x.jpg?v=1614295652 1200w, //www.goodcigar.co/cdn/shop/files/SE25486_1500x.jpg?v=1614295652 1500w, //www.goodcigar.co/cdn/shop/files/SE25486_1800x.jpg?v=1614295652 1800w, //www.goodcigar.co/cdn/shop/files/SE25486_2000x.jpg?v=1614295652 2000w, //www.goodcigar.co/cdn/shop/files/SE25486_2400x.jpg?v=1614295652 2400w, //www.goodcigar.co/cdn/shop/files/SE25486_2736x.jpg?v=1614295652 2736w' sizes='373px' srcset='index_files/SE25486_295x.webp 295w, index_files/SE25486_394x.webp 394w, index_files/SE25486_590x.jpg 590w, index_files/SE25486_700x.webp 700w, index_files/SE25486_800x.webp 800w, index_files/SE25486_1000x.jpg 1000w, index_files/SE25486_1200x.jpg 1200w, index_files/SE25486_1500x.jpg 1500w, index_files/SE25486_1800x.jpg 1800w, index_files/SE25486_2000x.jpg 2000w, index_files/SE25486_2400x.jpg 2400w, index_files/SE25486_2736x.jpg 2736w')
                      figcaption
                        h4 Product 4
                      picture(style='display: none;')
                        source(data-srcset='//www.goodcigar.co/cdn/shop/files/Voyage-66_180x.jpg?v=1614295200 180w 270h,//www.goodcigar.co/cdn/shop/files/Voyage-66_295x.jpg?v=1614295200 295w 442h,//www.goodcigar.co/cdn/shop/files/Voyage-66_394x.jpg?v=1614295200 394w 591h,//www.goodcigar.co/cdn/shop/files/Voyage-66_590x.jpg?v=1614295200 590w 885h,//www.goodcigar.co/cdn/shop/files/Voyage-66_788x.jpg?v=1614295200 788w 1181h,//www.goodcigar.co/cdn/shop/files/Voyage-66_900x.jpg?v=1614295200 900w 1349h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1180x.jpg?v=1614295200 1180w 1769h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1200x.jpg?v=1614295200 1200w 1799h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1500x.jpg?v=1614295200 1500w 2249h,//www.goodcigar.co/cdn/shop/files/Voyage-66_1800x.jpg?v=1614295200 1800w 2698h,//www.goodcigar.co/cdn/shop/files/Voyage-66_2000x.jpg?v=1614295200 2000w 2998h,//www.goodcigar.co/cdn/shop/files/Voyage-66.jpg?v=1614295200 2953w 4427h' sizes='373.3333333333333px' srcset='index_files/Voyage-66_180x.jpg 180w, index_files/Voyage-66_295x.jpg 295w, index_files/Voyage-66_394x.webp 394w, index_files/Voyage-66_590x.webp 590w, index_files/Voyage-66_788x.jpg 788w, index_files/Voyage-66_900x.webp 900w, index_files/Voyage-66_1180x.webp 1180w, index_files/Voyage-66_1200x.jpg 1200w, index_files/Voyage-66_1500x.webp 1500w, index_files/Voyage-66_1800x.webp 1800w, index_files/Voyage-66_2000x.jpg 2000w, index_files/Voyage-66.jpg 2953w')
                        img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='373.3333333333333px')
              .grid__item.one-third.medium-down--one-whole
                .box
                  a.rollover(href='themes/cigars/templates/product.html?id=')
                    figure.animation-label-overlay.lazyloaded(data-bgset='//www.goodcigar.co/cdn/shop/files/Rove-35_180x.jpg?v=1614295152 180w 120h,//www.goodcigar.co/cdn/shop/files/Rove-35_295x.jpg?v=1614295152 295w 197h,//www.goodcigar.co/cdn/shop/files/Rove-35_394x.jpg?v=1614295152 394w 263h,//www.goodcigar.co/cdn/shop/files/Rove-35_590x.jpg?v=1614295152 590w 393h,//www.goodcigar.co/cdn/shop/files/Rove-35_788x.jpg?v=1614295152 788w 526h,//www.goodcigar.co/cdn/shop/files/Rove-35_900x.jpg?v=1614295152 900w 600h,//www.goodcigar.co/cdn/shop/files/Rove-35_1180x.jpg?v=1614295152 1180w 787h,//www.goodcigar.co/cdn/shop/files/Rove-35_1200x.jpg?v=1614295152 1200w 800h,//www.goodcigar.co/cdn/shop/files/Rove-35_1500x.jpg?v=1614295152 1500w 1000h,//www.goodcigar.co/cdn/shop/files/Rove-35_1800x.jpg?v=1614295152 1800w 1201h,//www.goodcigar.co/cdn/shop/files/Rove-35_2000x.jpg?v=1614295152 2000w 1334h,//www.goodcigar.co/cdn/shop/files/Rove-35.jpg?v=1614295152 4771w 3182h' style='max-width: 2974px; background-image: url("https://www.goodcigar.co/cdn/shop/files/Rove-35_900x.jpg?v=1614295152");')
                      .card__image-wrapper(style='padding-top:149.93275050437123%')
                        img.card__image.lazyautosizes.lazyloaded(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-widths='[295,394,590,700,800,1000,1200,1500,1800,2000,2400,2974]' data-aspectratio='0.6669656873738506' data-sizes='auto' alt='' data-srcset='//www.goodcigar.co/cdn/shop/files/SE25478_295x.jpg?v=1614295652 295w, //www.goodcigar.co/cdn/shop/files/SE25478_394x.jpg?v=1614295652 394w, //www.goodcigar.co/cdn/shop/files/SE25478_590x.jpg?v=1614295652 590w, //www.goodcigar.co/cdn/shop/files/SE25478_700x.jpg?v=1614295652 700w, //www.goodcigar.co/cdn/shop/files/SE25478_800x.jpg?v=1614295652 800w, //www.goodcigar.co/cdn/shop/files/SE25478_1000x.jpg?v=1614295652 1000w, //www.goodcigar.co/cdn/shop/files/SE25478_1200x.jpg?v=1614295652 1200w, //www.goodcigar.co/cdn/shop/files/SE25478_1500x.jpg?v=1614295652 1500w, //www.goodcigar.co/cdn/shop/files/SE25478_1800x.jpg?v=1614295652 1800w, //www.goodcigar.co/cdn/shop/files/SE25478_2000x.jpg?v=1614295652 2000w, //www.goodcigar.co/cdn/shop/files/SE25478_2400x.jpg?v=1614295652 2400w, //www.goodcigar.co/cdn/shop/files/SE25478_2974x.jpg?v=1614295652 2974w' sizes='373px' srcset='index_files/SE25478_295x.webp 295w, index_files/SE25478_394x.jpg 394w, index_files/SE25478_590x.webp 590w, index_files/SE25478_700x.jpg 700w, index_files/SE25478_800x.jpg 800w, index_files/SE25478_1000x.jpg 1000w, index_files/SE25478_1200x.webp 1200w, index_files/SE25478_1500x.jpg 1500w, index_files/SE25478_1800x.jpg 1800w, index_files/SE25478_2000x.webp 2000w, index_files/SE25478_2400x.webp 2400w, index_files/SE25478_2974x.webp 2974w')
                      figcaption
                        h4 Product 5
                      picture(style='display: none;')
                        source(data-srcset='//www.goodcigar.co/cdn/shop/files/Rove-35_180x.jpg?v=1614295152 180w 120h,//www.goodcigar.co/cdn/shop/files/Rove-35_295x.jpg?v=1614295152 295w 197h,//www.goodcigar.co/cdn/shop/files/Rove-35_394x.jpg?v=1614295152 394w 263h,//www.goodcigar.co/cdn/shop/files/Rove-35_590x.jpg?v=1614295152 590w 393h,//www.goodcigar.co/cdn/shop/files/Rove-35_788x.jpg?v=1614295152 788w 526h,//www.goodcigar.co/cdn/shop/files/Rove-35_900x.jpg?v=1614295152 900w 600h,//www.goodcigar.co/cdn/shop/files/Rove-35_1180x.jpg?v=1614295152 1180w 787h,//www.goodcigar.co/cdn/shop/files/Rove-35_1200x.jpg?v=1614295152 1200w 800h,//www.goodcigar.co/cdn/shop/files/Rove-35_1500x.jpg?v=1614295152 1500w 1000h,//www.goodcigar.co/cdn/shop/files/Rove-35_1800x.jpg?v=1614295152 1800w 1201h,//www.goodcigar.co/cdn/shop/files/Rove-35_2000x.jpg?v=1614295152 2000w 1334h,//www.goodcigar.co/cdn/shop/files/Rove-35.jpg?v=1614295152 4771w 3182h' sizes='840.0000000000001px' srcset='index_files/Rove-35_180x.jpg 180w, index_files/Rove-35_295x.jpg 295w, index_files/Rove-35_394x.jpg 394w, index_files/Rove-35_590x.jpg 590w, index_files/Rove-35_788x.webp 788w, index_files/Rove-35_900x.webp 900w, index_files/Rove-35_1180x.jpg 1180w, index_files/Rove-35_1200x.jpg 1200w, index_files/Rove-35_1500x.webp 1500w, index_files/Rove-35_1800x.jpg 1800w, index_files/Rove-35_2000x.webp 2000w, index_files/Rove-35.jpg 4771w')
                        img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='840.0000000000001px')
      style.
        #shopify-section-1481011878590 .box figcaption h4 {
        color: #ffffff;
        }
        #shopify-section-1481011878590 .box a figure:after, #shopify-section-1481011878590 .box div.hover-wrapper figure:after {
        background-color: rgba(0, 0, 0, 0.28);
        }
        #shopify-section-1481011878590 .box a:hover figure:after, #shopify-section-1481011878590 .box div.hover-wrapper:hover figure:after {
        background-color: rgba(0, 0, 0, 0.28);
        }
    #shopify-section-1604424372103bd99b.shopify-section.hero-section
      .hero.hero-1604424372103bd99b.section-standard.no-border(data-section-id='1604424372103bd99b' data-section-type='hero-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.background-alignment-center.size-x-large.lazyloaded(data-bgset='//www.goodcigar.co/cdn/shop/files/Cigar-38_180x.jpg?v=1624292129 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-38_295x.jpg?v=1624292129 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-38_394x.jpg?v=1624292129 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-38_590x.jpg?v=1624292129 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-38_788x.jpg?v=1624292129 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-38_900x.jpg?v=1624292129 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-38_1180x.jpg?v=1624292129 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-38_1200x.jpg?v=1624292129 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-38.jpg?v=1624292129 1280w 1600h' style='background-image: url("https://www.goodcigar.co/cdn/shop/files/Cigar-38.jpg?v=1624292129");')
              .content-box
                h2 Cigars for any adventure
                a.button.outline(href='themes/cigars/templates/product.html?id=') Shop Cigars
              picture(style='display: none;')
                source(data-srcset='//www.goodcigar.co/cdn/shop/files/Cigar-38_180x.jpg?v=1624292129 180w 225h,//www.goodcigar.co/cdn/shop/files/Cigar-38_295x.jpg?v=1624292129 295w 369h,//www.goodcigar.co/cdn/shop/files/Cigar-38_394x.jpg?v=1624292129 394w 493h,//www.goodcigar.co/cdn/shop/files/Cigar-38_590x.jpg?v=1624292129 590w 738h,//www.goodcigar.co/cdn/shop/files/Cigar-38_788x.jpg?v=1624292129 788w 985h,//www.goodcigar.co/cdn/shop/files/Cigar-38_900x.jpg?v=1624292129 900w 1125h,//www.goodcigar.co/cdn/shop/files/Cigar-38_1180x.jpg?v=1624292129 1180w 1475h,//www.goodcigar.co/cdn/shop/files/Cigar-38_1200x.jpg?v=1624292129 1200w 1500h,//www.goodcigar.co/cdn/shop/files/Cigar-38.jpg?v=1624292129 1280w 1600h' sizes='1626px' srcset='index_files/Cigar-38_180x.jpg 180w, index_files/Cigar-38_295x.jpg 295w, index_files/Cigar-38_394x.webp 394w, index_files/Cigar-38_590x.jpg 590w, index_files/Cigar-38_788x.webp 788w, index_files/Cigar-38_900x.webp 900w, index_files/Cigar-38_1180x.webp 1180w, index_files/Cigar-38_1200x.jpg 1200w, index_files/Cigar-38.webp 1280w')
                img.lazyautosizes.lazyloaded(alt='' data-sizes='auto' data-parent-fit='cover' sizes='1626px')
      style.
        .hero-1604424372103bd99b .content-box {
        background-color: rgba(0, 0, 0, 0.16);
        color: #ffffff;
        }
        .hero-1604424372103bd99b .content-box, .hero-1604424372103bd99b .content-box h2, .hero-1604424372103bd99b .content-box a {
        color: #ffffff;
        border-color: #ffffff;
        }
        .hero-1604424372103bd99b .content-box a:hover {
        color: #ffffff;
        border-color: #ffffff;
        }
        html.no-js .hero-1604424372103bd99b .featured-hero {
        background-image: url('//www.goodcigar.co/cdn/shop/files/Cigar-38_900x.jpg?v=1624292129');
        }
    #shopify-section-1604425148beb5b203.shopify-section.newsletter-section
      .newsletter.newsletter-1604425148beb5b203.section-standard.no-border(data-section-id='1604425148beb5b203' data-section-type='newsletter-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.lazyload.background-alignment-center.size-small
              .content-box
                h2 The ikon cigars Newsletter
                .rte
                  p Sign up and receive 15% off your first cigar pack.
                .section-email
                  // /snippets/newsletter-subscribe.liquid
                  form#newsletter-newsletter-section.contact-form(method='post' action='/contact#newsletter-newsletter-section' accept-charset='UTF-8')
                    input(type='hidden' name='form_type' value='customer')
                    input(type='hidden' name='utf8' value='✓')
                    input(type='hidden' name='contact[tags]' value='prospect, newsletter, email subscribe, newsletter-section')
                    .input-row
                      .input-wrapper
                        input#email.input-group-field(type='email' name='contact[email]' placeholder='email@example.com' required='')
                      .button-wrapper
                        button#subscribe.btn(type='submit') Go
      style.
        .newsletter-1604425148beb5b203 .content-box {
        background-color: rgba(240, 240, 240, 0.0);
        color: #283247;
        }
        .newsletter-1604425148beb5b203 .content-box, .newsletter-1604425148beb5b203 .content-box h2, .newsletter-1604425148beb5b203 .content-box a {
        color: #283247;
        border-color: #283247;
        }
        .newsletter-1604425148beb5b203 .content-box a:hover {
        color: #283247;
        border-color: #283247;
        }
        .newsletter-1604425148beb5b203 .section-email input {
        border-color: rgba(40, 50, 71, 0.5);
        }
        .newsletter-1604425148beb5b203 .section-email input.errors {
        border-color: #e7633e;
        }
        .newsletter-1604425148beb5b203 .section-email input:focus {
        border-color: #283247;
        }
        .newsletter-1604425148beb5b203 .section-email input::-webkit-input-placeholder {
        color: rgba(40, 50, 71, 0.5);
        }
        .newsletter-1604425148beb5b203 .section-email input::-moz-placeholder {
        color: rgba(40, 50, 71, 0.5);
        }
        .newsletter-1604425148beb5b203 .section-email input:-ms-input-placeholder {
        color: rgba(40, 50, 71, 0.5);
        }
        .newsletter-1604425148beb5b203 .section-email input:-moz-placeholder {
        color: rgba(40, 50, 71, 0.5);
        }
        .newsletter-1604425148beb5b203 .section-email button {
        background-color: #e7633e;
        color: #f0f0f0;
        }
        .newsletter-1604425148beb5b203 .section-email div.errors {
        color: #e7633e;
        }
    #shopify-section-160442492635087a40.shopify-section.hero-section
      .hero.hero-160442492635087a40.section-standard.no-border(data-section-id='160442492635087a40' data-section-type='hero-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.lazyload.background-alignment-center.size-medium(data-bgset='//www.goodcigar.co/cdn/shop/files/Apex-16_180x.jpg?v=1614295471 180w 120h,//www.goodcigar.co/cdn/shop/files/Apex-16_295x.jpg?v=1614295471 295w 197h,//www.goodcigar.co/cdn/shop/files/Apex-16_394x.jpg?v=1614295471 394w 263h,//www.goodcigar.co/cdn/shop/files/Apex-16_590x.jpg?v=1614295471 590w 394h,//www.goodcigar.co/cdn/shop/files/Apex-16_788x.jpg?v=1614295471 788w 526h,//www.goodcigar.co/cdn/shop/files/Apex-16_900x.jpg?v=1614295471 900w 601h,//www.goodcigar.co/cdn/shop/files/Apex-16_1180x.jpg?v=1614295471 1180w 787h,//www.goodcigar.co/cdn/shop/files/Apex-16_1200x.jpg?v=1614295471 1200w 801h,//www.goodcigar.co/cdn/shop/files/Apex-16.jpg?v=1614295471 1500w 1001h')
              .content-box
                h2 Apex by ikon cigars Co.
                .rte
                  p
                    em A mild, creamy cigar made for the everyday.
                a.button.outline(href='themes/cigars/templates/product.html?id=') Read More
      style.
        .hero-160442492635087a40 .content-box {
        background-color: rgba(0, 0, 0, 0.24);
        color: #ffffff;
        }
        .hero-160442492635087a40 .content-box, .hero-160442492635087a40 .content-box h2, .hero-160442492635087a40 .content-box a {
        color: #ffffff;
        border-color: #ffffff;
        }
        .hero-160442492635087a40 .content-box a:hover {
        color: #ffffff;
        border-color: #ffffff;
        }
        html.no-js .hero-160442492635087a40 .featured-hero {
        background-image: url('//www.goodcigar.co/cdn/shop/files/Apex-16_900x.jpg?v=1614295471');
        }
    #shopify-section-16044244562fc8a55b.shopify-section.hero-section
      .hero.hero-16044244562fc8a55b.section-standard.no-border(data-section-id='16044244562fc8a55b' data-section-type='hero-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.lazyload.background-alignment-center.size-medium(data-bgset='//www.goodcigar.co/cdn/shop/files/Voyage-18_180x.jpg?v=1614295152 180w 120h,//www.goodcigar.co/cdn/shop/files/Voyage-18_295x.jpg?v=1614295152 295w 197h,//www.goodcigar.co/cdn/shop/files/Voyage-18_394x.jpg?v=1614295152 394w 263h,//www.goodcigar.co/cdn/shop/files/Voyage-18_590x.jpg?v=1614295152 590w 393h,//www.goodcigar.co/cdn/shop/files/Voyage-18_788x.jpg?v=1614295152 788w 526h,//www.goodcigar.co/cdn/shop/files/Voyage-18_900x.jpg?v=1614295152 900w 600h,//www.goodcigar.co/cdn/shop/files/Voyage-18_1180x.jpg?v=1614295152 1180w 787h,//www.goodcigar.co/cdn/shop/files/Voyage-18_1200x.jpg?v=1614295152 1200w 800h,//www.goodcigar.co/cdn/shop/files/Voyage-18_1500x.jpg?v=1614295152 1500w 1000h,//www.goodcigar.co/cdn/shop/files/Voyage-18_1800x.jpg?v=1614295152 1800w 1201h,//www.goodcigar.co/cdn/shop/files/Voyage-18_2000x.jpg?v=1614295152 2000w 1334h,//www.goodcigar.co/cdn/shop/files/Voyage-18.jpg?v=1614295152 4771w 3182h')
              .content-box
                h2 Voyage by ikon cigars Co.
                .rte
                  p
                    em A medium bodied, Cubanesque blend.
                a.button.outline(href='themes/cigars/templates/product.html?id=') Read More
      style.
        .hero-16044244562fc8a55b .content-box {
        background-color: rgba(0, 0, 0, 0.24);
        color: #ffffff;
        }
        .hero-16044244562fc8a55b .content-box, .hero-16044244562fc8a55b .content-box h2, .hero-16044244562fc8a55b .content-box a {
        color: #ffffff;
        border-color: #ffffff;
        }
        .hero-16044244562fc8a55b .content-box a:hover {
        color: #ffffff;
        border-color: #ffffff;
        }
        html.no-js .hero-16044244562fc8a55b .featured-hero {
        background-image: url('//www.goodcigar.co/cdn/shop/files/Voyage-18_900x.jpg?v=1614295152');
        }
    #shopify-section-16044248143e3623cb.shopify-section.hero-section
      .hero.hero-16044248143e3623cb.section-standard.no-border(data-section-id='16044248143e3623cb' data-section-type='hero-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.lazyload.background-alignment-center.size-medium(data-bgset='//www.goodcigar.co/cdn/shop/files/Rove-40_1_180x.jpg?v=1614295208 180w 120h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_295x.jpg?v=1614295208 295w 197h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_394x.jpg?v=1614295208 394w 263h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_590x.jpg?v=1614295208 590w 394h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_788x.jpg?v=1614295208 788w 526h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_900x.jpg?v=1614295208 900w 600h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_1180x.jpg?v=1614295208 1180w 787h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_1200x.jpg?v=1614295208 1200w 800h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_1500x.jpg?v=1614295208 1500w 1001h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_1800x.jpg?v=1614295208 1800w 1201h,//www.goodcigar.co/cdn/shop/files/Rove-40_1_2000x.jpg?v=1614295208 2000w 1334h,//www.goodcigar.co/cdn/shop/files/Rove-40_1.jpg?v=1614295208 3976w 2652h')
              .content-box
                h2 Rove by ikon cigars Co.
                .rte
                  p
                    em Our most full-bodied and flavorful cigar.
                a.button.outline(href='themes/cigars/templates/product.html?id=') Read More
      style.
        .hero-16044248143e3623cb .content-box {
        background-color: rgba(0, 0, 0, 0.26);
        color: #ffffff;
        }
        .hero-16044248143e3623cb .content-box, .hero-16044248143e3623cb .content-box h2, .hero-16044248143e3623cb .content-box a {
        color: #ffffff;
        border-color: #ffffff;
        }
        .hero-16044248143e3623cb .content-box a:hover {
        color: #ffffff;
        border-color: #ffffff;
        }
        html.no-js .hero-16044248143e3623cb .featured-hero {
        background-image: url('//www.goodcigar.co/cdn/shop/files/Rove-40_1_900x.jpg?v=1614295208');
        }
    #shopify-section-16044265807149ba67.shopify-section.featured-text-section
      .featured-text.section-standard(data-section-id='16044265807149ba67' data-section-type='featured-text-section')
        .contain-full-width
          .wrapper
            .content.align-center.rte
              h2 &quot;My favorite cigars to enjoy on the go. Anytime, anywhere!&quot;
              .richtext
                p - Jonathan [Denver, CO]
    #shopify-section-16044253797eabfe92.shopify-section.hero-section
      .hero.hero-16044253797eabfe92.section-standard.no-border(data-section-id='16044253797eabfe92' data-section-type='hero-section')
        .contain-full-width.no-padding
          .wrapper
            .featured-hero.lazyload.background-alignment-center.size-x-large(data-bgset='//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_180x.jpg?v=1618239939 180w 225h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_295x.jpg?v=1618239939 295w 369h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_394x.jpg?v=1618239939 394w 493h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_590x.jpg?v=1618239939 590w 738h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_788x.jpg?v=1618239939 788w 985h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_900x.jpg?v=1618239939 900w 1125h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_1180x.jpg?v=1618239939 1180w 1475h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_1200x.jpg?v=1618239939 1200w 1500h,//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5.jpg?v=1618239939 1280w 1600h')
              .content-box
      style.
        .hero-16044253797eabfe92 .content-box {
        background-color: rgba(0, 0, 0, 0.0);
        color: #ffffff;
        }
        .hero-16044253797eabfe92 .content-box, .hero-16044253797eabfe92 .content-box h2, .hero-16044253797eabfe92 .content-box a {
        color: #ffffff;
        border-color: #ffffff;
        }
        .hero-16044253797eabfe92 .content-box a:hover {
        color: #ffffff;
        border-color: #ffffff;
        }
        html.no-js .hero-16044253797eabfe92 .featured-hero {
        background-image: url('//www.goodcigar.co/cdn/shop/files/MicrosoftTeams-image_5_900x.jpg?v=1618239939');
        }
    // END content_for_index
  #shopify-section-footer.shopify-section.footer
    div(data-section-id='footer' data-section-type='footer-section')
      footer.site-footer
        .wrapper
          .grid
            .box.box-1.box-first.layout-4.newsletter
              .offer-message
                h4 Newsletter
                .rte
                  p
                    | Subscribe to be the first to hear about our exclusive offers and latest arrivals.
              .offer-email
                // /snippets/newsletter-subscribe.liquid
                form#newsletter-footer.contact-form(method='post' action='/contact#newsletter-footer' accept-charset='UTF-8')
                  input(type='hidden' name='form_type' value='customer')
                  input(type='hidden' name='utf8' value='✓')
                  input(type='hidden' name='contact[tags]' value='prospect, newsletter, email subscribe, footer')
                  .input-row
                    .input-wrapper
                      input#email.input-group-field(type='email' name='contact[email]' placeholder='email@example.com' required='')
                    .button-wrapper
                      button#subscribe.btn(type='submit') Go
            .box.box-2.layout-4.menu(role='navigation' aria-labelledby='nav-customer-care')
              h4#nav-customer-care Customer care
              p Get answers to your questions
              ul
                li
                  a(href='https://www.ikoncigars.com/policies/refund-policy') Refund Policy
                li
                  a(href='https://www.ikoncigars.com/pages/faq') FAQ
                li
                  a(href='https://www.ikoncigars.com//pages/terms-of-use') Terms Of Use
                li
                  a(href='https://www.ikoncigars.com//pages/privacy-policy') Privacy Policy
                li
                  a(href='https://www.ikoncigars.com//pages/wholesale-retail-sales') Wholesale
            .box.box-3.layout-4.menu(role='navigation' aria-labelledby='nav-featured-collections')
              h4#nav-featured-collections Featured collections
              p Browse our popular products
              ul.nested-menu
                li
                  a(href='hhttps://www.ikoncigars.com/products/monthly-subscription') SUBSCRIBE
                li.has-dropdown
                  a(href='themes/cigars/templates/product.html?id=' aria-haspopup='true' aria-expanded='false') Cigar Packs
                  ul.dropdown(aria-hidden='true')
                    li
                      a(href='https://www.ikoncigars.com//products/apex-by-good-cigar-co-1' tabindex='-1') Apex [Mild]
                    li
                      a(href='https://www.ikoncigars.com//products/voyage-by-good-cigar-co' tabindex='-1') Voyage [Medium]
                    li
                      a(href='https://www.ikoncigars.com//products/rove-by-good-cigar-co' tabindex='-1') Rove [Full Bodied]
                    li
                      a(href='https://www.ikoncigars.com//products/good-cigar-adventure-packs' tabindex='-1') Sampler
                li.has-dropdown
                  a(href='https://www.ikoncigars.com//collections/all-gifts' aria-haspopup='true' aria-expanded='false') Gifts
                  ul.dropdown(aria-hidden='true')
                    li
                      a(href='https://www.ikoncigars.com//products/good-cigar-adventure-packs' tabindex='-1') Single Packs
                    li
                      a(href='https://www.ikoncigars.com//collections/pre-paid-gift-subscriptions' tabindex='-1') Subscription Gifts
                    li
                      a(href='https://www.ikoncigars.com/products/wedding-cigars' tabindex='-1') Groomsman Gifts
                li.has-dropdown
                  a(href='https://www.ikoncigars.com/blogs/the-straight-cut' aria-haspopup='true' aria-expanded='false') Learn
                  ul.dropdown(aria-hidden='true')
                    li
                      a(href='https://www.ikoncigars.com/blogs/the-straight-cut' tabindex='-1') Blog
                    li
                      a(href='https://www.ikoncigars.com/pages/faq' tabindex='-1') FAQs
                    li
                      a(href='https://www.ikoncigars.com/pages/good-cigar-co-ratings-portal' tabindex='-1') Rate my cigars
                    li
                      a(href='https://www.ikoncigars.com/pages/wholesale-retail-sales' tabindex='-1') Wholesale Program
            .box.box-4.box-last.layout-4.social
              h4 Get in touch
              p
                span.contact Contact Us
              .richtext.rte.content
                p hello@goodcigar.co
                p
                p
                  | SURGEON GENERAL&rsquo;S WARNING: Smoking Causes Lung Cancer, Heart Disease, Emphysema, and May Complicate Pregnancy.
              ul.social-icons
                li
                  a(href='https://www.facebook.com/goodcigarco' title='Facebook - ikon cigars Co.')
                    svg.icon.icon-social-facebook(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 448 512')
                      path(d='M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z')
                li
                  a(href='https://www.instagram.com/goodcigarco/' title='Instagram - ikon cigars Co.')
                    svg.icon.icon-social-instagram(aria-hidden='true' focusable='false' role='presentation' viewbox='0 0 448 512')
                      path(d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z')
          .box.payment-types
            p Accepted Payments
            ul.payment-types__list
              li
                svg.payment-icon.payment-icon--american_express(xmlns='http://www.w3.org/2000/svg' role='img' viewbox='0 0 38 24' width='38' height='24' aria-labelledby='pi-american_express')
                  title#pi-american_express American Express
                  g(fill='none')
                    path(fill='#000' d='M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z' opacity='.07')
                    path(fill='#006FCF' d='M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1')
                    path(fill='#FFF' d='M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z')
              li
                svg.payment-icon.payment-icon--master(viewbox='0 0 38 24' xmlns='http://www.w3.org/2000/svg' role='img' width='38' height='24' aria-labelledby='pi-master')
                  title#pi-master Mastercard
                  path(opacity='.07' d='M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z')
                  path(fill='#fff' d='M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32')
                  circle(fill='#EB001B' cx='15' cy='12' r='7')
                  circle(fill='#F79E1B' cx='23' cy='12' r='7')
                  path(fill='#FF5F00' d='M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z')
              li
                svg.payment-icon.payment-icon--visa(viewbox='0 0 38 24' xmlns='http://www.w3.org/2000/svg' role='img' width='38' height='24' aria-labelledby='pi-visa')
                  title#pi-visa Visa
                  path(opacity='.07' d='M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z')
                  path(fill='#fff' d='M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32')
                  path(d='M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z' fill='#142688')
          p.copyright
            | &copy; 2023, 
            a(href='https://www.ikoncigars.com/' title='') Ikon Cigars
            br
            a(target='_blank' rel='nofollow' href='https://www.shopify.com/?utm_campaign=poweredby&utm_medium=shopify&utm_source=onlinestore') Powered by Shopify
#WebPixelsManagerSandboxContainer
  iframe#web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX(src='index_files/a.html' name='web-pixel-sandbox-CUSTOM-shopify-custom-pixel-LAX' sandbox='allow-scripts allow-forms' tabindex='-1' aria-hidden='true' style='display:none; height:0; width:0; visibility: hidden;')
#omnisend-dynamic-container(style='overflow: hidden; height: 0px;')
  #omnisend-pixel-container
  #omnisend-jsonp-container
    script(src='index_files/getSettings.json')
iframe#cm_iframe(style='display: none; visibility: hidden;' src='index_files/cm.html' width='0' height='0')
