doctype html
//
  -
  Copyright 2017 The AMP Start Authors. All Rights Reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS-IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
html(⚡='')
  head
    meta(charset='utf-8')
    title #{name}
    link(rel='canonical', href='https://www.ampstart.com/templates/gallery.amp')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    meta(name='amp-google-client-id-api', content='googleanalytics')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(custom-element='amp-sidebar', src='https://cdn.ampproject.org/v0/amp-sidebar-0.1.js', async='')
    script(custom-element='amp-carousel', src='https://cdn.ampproject.org/v0/amp-carousel-0.1.js', async='')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,600', rel='stylesheet')
    style(amp-custom='').
      /*! Bassplate | MIT License | http://github.com/basscss/bassplate */
      /*! Bassplate | MIT License | http://github.com/basscss/bassplate */
      /*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}[hidden],template{display:none}.h00{font-size:4rem}.h0,.h1{font-size:3rem}.h2{font-size:2rem}.h3{font-size:1.5rem}.h4{font-size:1.125rem}.h5{font-size:.875rem}.h6{font-size:.75rem}.font-family-inherit{font-family:inherit}.font-size-inherit{font-size:inherit}.text-decoration-none{text-decoration:none}.bold{font-weight:700}.regular{font-weight:400}.italic{font-style:italic}.caps{text-transform:uppercase;letter-spacing:.2em}.left-align{text-align:left}.center{text-align:center}.right-align{text-align:right}.justify{text-align:justify}.nowrap{white-space:nowrap}.break-word{word-wrap:break-word}.line-height-1{line-height:1rem}.line-height-2{line-height:1.125rem}.line-height-3{line-height:1.5rem}.line-height-4{line-height:2rem}.list-style-none{list-style:none}.underline{text-decoration:underline}.truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.list-reset{list-style:none;padding-left:0}.inline{display:inline}.block{display:block}.inline-block{display:inline-block}.table{display:table}.table-cell{display:table-cell}.overflow-hidden{overflow:hidden}.overflow-scroll{overflow:scroll}.overflow-auto{overflow:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.left{float:left}.right{float:right}.fit{max-width:100%}.max-width-1{max-width:24rem}.max-width-2{max-width:32rem}.max-width-3{max-width:48rem}.max-width-4{max-width:64rem}.border-box{box-sizing:border-box}.align-baseline{vertical-align:baseline}.align-top{vertical-align:top}.align-middle{vertical-align:middle}.align-bottom{vertical-align:bottom}.m0{margin:0}.mt0{margin-top:0}.mr0{margin-right:0}.mb0{margin-bottom:0}.ml0,.mx0{margin-left:0}.mx0{margin-right:0}.my0{margin-top:0;margin-bottom:0}.m1{margin:.5rem}.mt1{margin-top:.5rem}.mr1{margin-right:.5rem}.mb1{margin-bottom:.5rem}.ml1,.mx1{margin-left:.5rem}.mx1{margin-right:.5rem}.my1{margin-top:.5rem;margin-bottom:.5rem}.m2{margin:1rem}.mt2{margin-top:1rem}.mr2{margin-right:1rem}.mb2{margin-bottom:1rem}.ml2,.mx2{margin-left:1rem}.mx2{margin-right:1rem}.my2{margin-top:1rem;margin-bottom:1rem}.m3{margin:1.5rem}.mt3{margin-top:1.5rem}.mr3{margin-right:1.5rem}.mb3{margin-bottom:1.5rem}.ml3,.mx3{margin-left:1.5rem}.mx3{margin-right:1.5rem}.my3{margin-top:1.5rem;margin-bottom:1.5rem}.m4{margin:2rem}.mt4{margin-top:2rem}.mr4{margin-right:2rem}.mb4{margin-bottom:2rem}.ml4,.mx4{margin-left:2rem}.mx4{margin-right:2rem}.my4{margin-top:2rem;margin-bottom:2rem}.mxn1{margin-left:calc(.5rem * -1);margin-right:calc(.5rem * -1)}.mxn2{margin-left:calc(1rem * -1);margin-right:calc(1rem * -1)}.mxn3{margin-left:calc(1.5rem * -1);margin-right:calc(1.5rem * -1)}.mxn4{margin-left:calc(2rem * -1);margin-right:calc(2rem * -1)}.m-auto{margin:auto}.mt-auto{margin-top:auto}.mr-auto{margin-right:auto}.mb-auto{margin-bottom:auto}.ml-auto,.mx-auto{margin-left:auto}.mx-auto{margin-right:auto}.my-auto{margin-top:auto;margin-bottom:auto}.p0{padding:0}.pt0{padding-top:0}.pr0{padding-right:0}.pb0{padding-bottom:0}.pl0,.px0{padding-left:0}.px0{padding-right:0}.py0{padding-top:0;padding-bottom:0}.p1{padding:.5rem}.pt1{padding-top:.5rem}.pr1{padding-right:.5rem}.pb1{padding-bottom:.5rem}.pl1{padding-left:.5rem}.py1{padding-top:.5rem;padding-bottom:.5rem}.px1{padding-left:.5rem;padding-right:.5rem}.p2{padding:1rem}.pt2{padding-top:1rem}.pr2{padding-right:1rem}.pb2{padding-bottom:1rem}.pl2{padding-left:1rem}.py2{padding-top:1rem;padding-bottom:1rem}.px2{padding-left:1rem;padding-right:1rem}.p3{padding:1.5rem}.pt3{padding-top:1.5rem}.pr3{padding-right:1.5rem}.pb3{padding-bottom:1.5rem}.pl3{padding-left:1.5rem}.py3{padding-top:1.5rem;padding-bottom:1.5rem}.px3{padding-left:1.5rem;padding-right:1.5rem}.p4{padding:2rem}.pt4{padding-top:2rem}.pr4{padding-right:2rem}.pb4{padding-bottom:2rem}.pl4{padding-left:2rem}.py4{padding-top:2rem;padding-bottom:2rem}.px4{padding-left:2rem;padding-right:2rem}.col{float:left}.col,.col-right{box-sizing:border-box}.col-right{float:right}.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}@media (min-width:40.06rem){.sm-col{float:left;box-sizing:border-box}.sm-col-right{float:right;box-sizing:border-box}.sm-col-1{width:8.33333%}.sm-col-2{width:16.66667%}.sm-col-3{width:25%}.sm-col-4{width:33.33333%}.sm-col-5{width:41.66667%}.sm-col-6{width:50%}.sm-col-7{width:58.33333%}.sm-col-8{width:66.66667%}.sm-col-9{width:75%}.sm-col-10{width:83.33333%}.sm-col-11{width:91.66667%}.sm-col-12{width:100%}}@media (min-width:52.06rem){.md-col{float:left;box-sizing:border-box}.md-col-right{float:right;box-sizing:border-box}.md-col-1{width:8.33333%}.md-col-2{width:16.66667%}.md-col-3{width:25%}.md-col-4{width:33.33333%}.md-col-5{width:41.66667%}.md-col-6{width:50%}.md-col-7{width:58.33333%}.md-col-8{width:66.66667%}.md-col-9{width:75%}.md-col-10{width:83.33333%}.md-col-11{width:91.66667%}.md-col-12{width:100%}}@media (min-width:64.06rem){.lg-col{float:left;box-sizing:border-box}.lg-col-right{float:right;box-sizing:border-box}.lg-col-1{width:8.33333%}.lg-col-2{width:16.66667%}.lg-col-3{width:25%}.lg-col-4{width:33.33333%}.lg-col-5{width:41.66667%}.lg-col-6{width:50%}.lg-col-7{width:58.33333%}.lg-col-8{width:66.66667%}.lg-col-9{width:75%}.lg-col-10{width:83.33333%}.lg-col-11{width:91.66667%}.lg-col-12{width:100%}}.flex{display:-ms-flexbox;display:flex}@media (min-width:40.06rem){.sm-flex{display:-ms-flexbox;display:flex}}@media (min-width:52.06rem){.md-flex{display:-ms-flexbox;display:flex}}@media (min-width:64.06rem){.lg-flex{display:-ms-flexbox;display:flex}}.flex-column{-ms-flex-direction:column;flex-direction:column}.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.items-start{-ms-flex-align:start;align-items:flex-start}.items-end{-ms-flex-align:end;align-items:flex-end}.items-center{-ms-flex-align:center;align-items:center}.items-baseline{-ms-flex-align:baseline;align-items:baseline}.items-stretch{-ms-flex-align:stretch;align-items:stretch}.self-start{-ms-flex-item-align:start;align-self:flex-start}.self-end{-ms-flex-item-align:end;align-self:flex-end}.self-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.self-baseline{-ms-flex-item-align:baseline;align-self:baseline}.self-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}.justify-start{-ms-flex-pack:start;justify-content:flex-start}.justify-end{-ms-flex-pack:end;justify-content:flex-end}.justify-center{-ms-flex-pack:center;justify-content:center}.justify-between{-ms-flex-pack:justify;justify-content:space-between}.justify-around{-ms-flex-pack:distribute;justify-content:space-around}.justify-evenly{-ms-flex-pack:space-evenly;justify-content:space-evenly}.content-start{-ms-flex-line-pack:start;align-content:flex-start}.content-end{-ms-flex-line-pack:end;align-content:flex-end}.content-center{-ms-flex-line-pack:center;align-content:center}.content-between{-ms-flex-line-pack:justify;align-content:space-between}.content-around{-ms-flex-line-pack:distribute;align-content:space-around}.content-stretch{-ms-flex-line-pack:stretch;align-content:stretch}.flex-auto{-ms-flex:1 1 auto;flex:1 1 auto;min-width:0;min-height:0}.flex-none{-ms-flex:none;flex:none}.order-0{-ms-flex-order:0;order:0}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.order-last{-ms-flex-order:99999;order:99999}.relative{position:relative}.absolute{position:absolute}.fixed{position:fixed}.top-0{top:0}.right-0{right:0}.bottom-0{bottom:0}.left-0{left:0}.z1{z-index:1}.z2{z-index:2}.z3{z-index:3}.z4{z-index:4}.border{border-style:solid;border-width:1px}.border-top{border-top-style:solid;border-top-width:1px}.border-right{border-right-style:solid;border-right-width:1px}.border-bottom{border-bottom-style:solid;border-bottom-width:1px}.border-left{border-left-style:solid;border-left-width:1px}.border-none{border:0}.rounded{border-radius:3px}.circle{border-radius:50%}.rounded-top{border-radius:3px 3px 0 0}.rounded-right{border-radius:0 3px 3px 0}.rounded-bottom{border-radius:0 0 3px 3px}.rounded-left{border-radius:3px 0 0 3px}.not-rounded{border-radius:0}.hide{position:absolute;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}@media (max-width:40rem){.xs-hide{display:none}}@media (min-width:40.06rem) and (max-width:52rem){.sm-hide{display:none}}@media (min-width:52.06rem) and (max-width:64rem){.md-hide{display:none}}@media (min-width:64.06rem){.lg-hide{display:none}}.display-none{display:none}*{box-sizing:border-box}body{background:#fff;color:#4a4a4a;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;min-width:315px;overflow-x:hidden;font-smooth:always;-webkit-font-smoothing:antialiased}main{max-width:700px;margin:0 auto}p{padding:0;margin:0}.ampstart-accent{color:#003f93}#content:target{margin-top:calc(0px - 3.5rem);padding-top:3.5rem}.ampstart-title-lg{font-size:3rem;line-height:3.5rem;letter-spacing:.06rem}.ampstart-title-md{font-size:2rem;line-height:2.5rem;letter-spacing:.06rem}.ampstart-title-sm{font-size:1.5rem;line-height:2rem;letter-spacing:.06rem}.ampstart-subtitle,body{line-height:1.5rem;letter-spacing:normal}.ampstart-subtitle{color:#003f93;font-size:1rem}.ampstart-byline,.ampstart-caption,.ampstart-hint,.ampstart-label{font-size:.875rem;color:#4f4f4f;line-height:1.125rem;letter-spacing:.06rem}.ampstart-label{text-transform:uppercase}.ampstart-footer,.ampstart-small-text{font-size:.75rem;line-height:1rem;letter-spacing:.06rem}.ampstart-card{box-shadow:0 1px 1px 0 rgba(0,0,0,.14),0 1px 1px -1px rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}.h1,h1{font-size:3rem;line-height:3.5rem}.h2,h2{font-size:2rem;line-height:2.5rem}.h3,h3{font-size:1.5rem;line-height:2rem}.h4,h4{font-size:1.125rem;line-height:1.5rem}.h5,h5{font-size:.875rem;line-height:1.125rem}.h6,h6{font-size:.75rem;line-height:1rem}h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:400;letter-spacing:.06rem}a,a:active,a:visited{color:inherit}.ampstart-btn{font-family:inherit;font-weight:inherit;font-size:1rem;line-height:1.125rem;padding:.7em .8em;text-decoration:none;white-space:nowrap;word-wrap:normal;vertical-align:middle;cursor:pointer;background-color:#3f4ae6;color:#fff;border:1px solid #fff}.ampstart-btn:visited{color:#fff}.ampstart-btn-secondary{background-color:#ff5774;color:#000;border:1px solid #000}.ampstart-btn-secondary:visited{color:#000}.ampstart-btn:active .ampstart-btn:focus{opacity:.8}.ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover{opacity:.5;outline:0;cursor:default}.ampstart-dropcap:first-letter{color:#000;font-size:3rem;font-weight:700;float:left;overflow:hidden;line-height:3rem;margin-left:0;margin-right:.5rem}.ampstart-initialcap{padding-top:1rem;margin-top:1.5rem}.ampstart-initialcap:first-letter{color:#000;font-size:3rem;font-weight:700;margin-left:-2px}.ampstart-pullquote{border:none;border-left:4px solid #3f4ae6;font-size:1.5rem;padding-left:1.5rem}body{color:#000;font-family:Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;line-height:1.6}.gallery-base-content{background:#fff;overflow-x:hidden}.gallery-base-container{position:relative;width:calc(.46 * 100vw + 9.375 * 1.025rem);max-width:50rem}.gallery-base-invert{color:#fff;mix-blend-mode:difference;-webkit-font-smoothing:antialiased}.ampstart-headerbar{z-index:1}.gallery-base-callout{margin:0 0 3.5rem;font-size:1.25rem;color:#3f4ae6;font-weight:500}.gallery-base-section:not(:last-child){margin-bottom:8rem}.gallery-base-rich-text h2{font-size:2rem}.gallery-base-rich-text address,.gallery-base-rich-text h2{font-family:Oswald,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;letter-spacing:.05rem}.gallery-base-rich-text address{font-size:1.125rem;font-style:normal}.gallery-base-rich-text p{line-height:1.8}.gallery-base-rich-text blockquote{margin:0 0 3.5rem;font-size:1.5rem;color:#3f4ae6;font-weight:600}.gallery-base-section{font-size:1.12rem}.gallery-inner-offset-img{margin-left:0}@media (min-width:40.06rem){.gallery-inner-offset-img{margin-left:-6.25rem}}.gallery-inner-background-1{position:absolute;width:calc(20vmin + 12.5 * 1rem);left:calc(20vw - 10 * 1rem);top:140vh;overflow:hidden}.gallery-inner-background-2{position:absolute;width:calc(100vmin + 25 * 1rem);left:40vw;top:10vh;overflow:hidden}.gallery-inner-perspective{perspective:2500px;transform-style:preserve-3d}.gallery-inner-3d-row{margin-bottom:24rem;padding-bottom:120%;position:relative}@media (min-width:52.06rem){.gallery-inner-3d-row{margin-bottom:0;padding-bottom:40%}}.gallery-inner-3d-row-img-center,.gallery-inner-3d-row-img-left,.gallery-inner-3d-row-img-right{position:absolute;transition:transform .5s}.gallery-inner-3d-row-img-center amp-img,.gallery-inner-3d-row-img-left amp-img,.gallery-inner-3d-row-img-right amp-img{transition:box-shadow .5s;box-shadow:0 30px 60px rgba(6,7,22,.15)}.gallery-inner-3d-row-img-left{width:80%;left:-10%;top:-10%;transform:rotateX(-12deg) rotateY(20deg) rotate(2deg)}.gallery-inner-3d-row-img-center{width:90%;left:3%;top:88%;z-index:1;transform:translateZ(120px) rotateX(-6deg) rotateY(-1deg)}.gallery-inner-3d-row-img-right{width:65%;right:-10%;top:35%;transform:translateZ(60px) rotateY(-40deg)}@media (min-width:52.06rem){.gallery-inner-3d-row-img-left{width:40%;left:-20%;top:-18%}.gallery-inner-3d-row-img-center{width:40%;left:5%;top:10%}.gallery-inner-3d-row-img-right{width:30%;right:3%;top:-25%}}.gallery-inner-3d-row-img-center:hover,.gallery-inner-3d-row-img-left:hover,.gallery-inner-3d-row-img-right:hover{transition:transform .25s,box-shadow .25s}.gallery-inner-3d-row-img-center:hover,.gallery-inner-3d-row-img-left:hover,.gallery-inner-3d-row-img-right:hover{transform:translateZ(200px)}.gallery-inner-3d-row-img-center:hover amp-img,.gallery-inner-3d-row-img-left:hover amp-img,.gallery-inner-3d-row-img-right:hover amp-img{transition:box-shadow .25s;box-shadow:0 30px 80px rgba(6,7,22,.15)}@media (min-width:52.06rem){.gallery-inner-img-right{margin-left:-5.625rem}}.gallery-inner-img-right-small{margin-top:-3.75rem;float:right}@media (min-width:40.06rem){.gallery-inner-img-right-small{margin-top:0}}.gallery-recommended-image img{-o-object-fit:cover;object-fit:cover}.gallery-related-section-items li:first-child .gallery-recommended-image{transform:matrix3d(1.534047,.12295,0,.001049,.081503,1.335949,0,.000489,0,0,1,0,-49.863192,-29.415962,0,1);box-shadow:1vh 6vh 5vh rgba(6,7,22,.15)}.gallery-related-section-items li:nth-child(2) .gallery-recommended-image{transform:matrix3d(1.104404,-.050629,0,.000115,.223984,1.35379,0,.000809,0,0,1,0,-24.574335,-22.172093,0,1);transform-origin:0 0;box-shadow:.5vh 3vh 4vh rgba(6,7,22,.15)}.gallery-related-section-items li:nth-child(3) .gallery-recommended-image{transform:matrix3d(.819634,-.109733,0,-.000154,-.11382,.81154,0,-.000399,0,0,1,0,33.10833,33.633254,0,1);transform-origin:0 0;box-shadow:1.5vh 4vh 5vh rgba(6,7,22,.15)}.gallery-recommended-image{background:#eee;transform-origin:0 0;margin-bottom:1.5rem;transition:box-shadow .2s ease-in-out}.ampstart-image-with-caption{cursor:pointer;transition:all .2s ease-in-out}.gallery-related-section-items li:hover .ampstart-image-with-caption{transform:translateY(-.5vh) scale(1.05)}.gallery-related-section-items li:hover .gallery-recommended-image{box-shadow:1.5vh 7vh 6vh rgba(6,7,22,.15)}@media (max-height:40rem){.v-xs-hide{display:none}}@media (min-height:40.06rem) and (max-height:52rem){.v-sm-hide{display:none}}@media (min-height:52.06rem) and (max-height:64rem){.v-md-hide{display:none}}@media (min-height:64.06rem){.v-lg-hide{display:none}}@media (-ms-high-contrast:active),(-ms-high-contrast:none){.gallery-base-invert{color:inherit;mix-blend-mode:normal}}.gallery-header{height:1.125rem;width:auto;position:absolute;top:0;left:0;margin:1.125rem;margin-right:0;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;z-index:100}.gallery-header .gallery-nav{display:none;-ms-flex-direction:column;flex-direction:column;-ms-flex:none;flex:none}@media (min-width:40.06rem) and (min-height:40.06rem){.gallery-header{margin:1.875rem;margin-right:0}}.gallery-header-rotate{display:none;-ms-flex:none;flex:none;white-space:nowrap;margin:0 0 0 1rem}.gallery-mobile-header .gallery-header-rotate{display:block}@media (min-width:40.06rem){.gallery-header{position:fixed;-ms-flex-direction:column;flex-direction:column;width:1.125rem;height:auto}.gallery-header-rotate{display:block;margin:1rem 0;transform:rotate(-90deg) translateY(calc(-50% + 1.125rem / 2))}.gallery-header-rotate:before{content:"";display:block;padding-bottom:calc(100% - 1.125rem)}}@media (min-width:40.06rem) and (min-height:40.06rem){.gallery-header-rotate{margin:1.75rem 0}}@media (min-width:40.06rem) and (min-height:40.06rem){.gallery-header .gallery-nav{display:-ms-flexbox;display:flex}}.gallery-header-heading{margin:0;font-size:.84375rem;line-height:1.125rem}.gallery-header-heading a{color:inherit;text-decoration:none}.ampstart-sidebar{width:320px;padding-top:30px;padding-left:30px;padding-right:0}.ampstart-sidebar-nav{margin-top:32px}.ampstart-nav-link{-ms-flex-line-pack:center;align-content:center}figure{margin:0}.gallery-landing-title{font-weight:600;line-height:1.2;width:100%;height:100%;max-width:80vw;padding:1rem 2vw 4rem;font-size:13vw;pointer-events:none}@media (min-width:40.06rem){.gallery-landing-title{font-size:7vw;padding:1rem 5vw}}.amp-carousel-button{background-color:#fff;box-shadow:-10px 0 20px rgba(0,0,0,.12);border-radius:0;width:50px;height:89px;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}.amp-carousel-button:hover{background-color:#ff0}.amp-carousel-button:focus{outline:none}.amp-carousel-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z'/%3E%3C/svg%3E");right:0}.amp-carousel-button-prev{left:0;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/%3E%3C/svg%3E")}@media (max-width:40rem){.amp-carousel-button{position:fixed;top:auto;bottom:0;transform:none;width:55px;height:55px}}.gallery-landing-wall-scroll{width:285vh;height:100vh;min-width:100vw;overflow:hidden}.gallery-landing-wall-scroll:after{width:0;height:100%}@media (max-width:40rem){.gallery-landing-wall-scroll{margin-bottom:-3px}}@keyframes a{0%{transform:translateY(-2vh) rotate(1turn)}50%{transform:translateY(2vh) rotate(1turn)}to{transform:translateY(-2vh) rotate(1turn)}}@keyframes b{0%{transform:translateY(-1vh) rotate(1turn)}50%{transform:translateY(1vh) rotate(1turn)}to{transform:translateY(-1vh) rotate(1turn)}}.gallery-landing-image-wrapped{width:25vh;position:absolute;display:block;transform:translateZ(0);transform-origin:0 0 0;animation-name:a;animation-duration:20s;animation-iteration-count:infinite;animation-timing-function:ease-in-out;animation-fill-mode:both;-webkit-tap-highlight-color:rgba(0,0,0,0)}.amp-mode-mouse .gallery-landing-image-link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:2}.gallery-landing-image-wrapped:nth-child(odd){animation-name:b}.gallery-landing-image-wrapped amp-img{-o-object-fit:cover;object-fit:cover;box-shadow:1vh 6vh 5vh rgba(6,7,22,.15);transition:transform .3s;pointer-events:none}.gallery-landing-image-wrap:first-child amp-img{background:#d97b7f}.gallery-landing-image-wrap:nth-child(2) amp-img{background:#127eb1}.gallery-landing-image-wrap:nth-child(3) amp-img{background:#e4bf0b}.gallery-landing-image-wrap:nth-child(4) amp-img{background:#9f3f7a}.gallery-landing-image-wrap:nth-child(5) amp-img{background:#5870ed}.gallery-landing-image-wrap:nth-child(6) amp-img{background:#fe95a6}.gallery-landing-image-wrap:nth-child(7) amp-img{background:#a8a697}.gallery-landing-image-wrap:nth-child(8) amp-img{background:#c8acbc}.gallery-landing-image-wrap:nth-child(9) amp-img{background:#ee9d57}.gallery-landing-image-wrap:nth-child(10) amp-img{background:#ddd1d2}.gallery-landing-image-wrap:nth-child(11) amp-img{background:#8dbbc0}.gallery-landing-image-wrap:nth-child(12) amp-img{background:#9bd1ee}.gallery-landing-image-wrap:nth-child(13) amp-img{background:#b48b86}.gallery-landing-image-wrap:nth-child(14) amp-img{background:#764b4e}.gallery-landing-image-wrap:nth-child(15) amp-img{background:#aaaab3}.gallery-landing-image-wrap:nth-child(16) amp-img{background:#aeb197}.gallery-landing-image-wrap:nth-child(17) amp-img{background:#370afa}.gallery-landing-image-wrap:last-child amp-img{background:#c1c1bf}.gallery-landing-image-wrapped:hover amp-img{transform:translateY(-1vh) scale(1.05);transition:transform .2s ease-in-out}.gallery-landing-image-wrap:first-child{animation-delay:0s;width:24vh;top:-1vh;left:12vh}.gallery-landing-image-wrap:first-child .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.521661,.127984,0,.001017,.082592,1.496461,0,.000351,0,0,1,0,-56.643176,-55.187345,0,1)}.gallery-landing-image-wrap:nth-child(2){animation-delay:-2s;width:28vh;top:-10vh;left:35vh}.gallery-landing-image-wrap:nth-child(2) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.444379,.138817,0,.000882,.246091,1.673779,0,.000905,0,0,1,0,-64.107588,-45.240566,0,1)}.gallery-landing-image-wrap:nth-child(3){animation-delay:-1s;width:44vh;top:48vh;left:-2vh}.gallery-landing-image-wrap:nth-child(3) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.104404,-.050629,0,.000115,.223984,1.35379,0,.000809,0,0,1,0,-24.574335,-22.172093,0,1)}.gallery-landing-image-wrap:nth-child(4){animation-delay:-3s;width:34vh;top:38vh;left:52vh}.gallery-landing-image-wrap:nth-child(4) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.312456,.098572,0,.000644,.116002,1.323502,0,.000588,0,0,1,0,-28.539579,-27.456328,0,1)}.gallery-landing-image-wrap:nth-child(5){animation-delay:-2s;width:23vh;top:69vh;left:5vh}.gallery-landing-image-wrap:nth-child(5) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.998783,-.044528,0,.000032,.07285,1.139849,0,.000198,0,0,1,0,-4.515098,-5.430712,0,1)}.gallery-landing-image-wrap:nth-child(6){animation-delay:-4s;width:35vh;top:78vh;left:44vh}.gallery-landing-image-wrap:nth-child(6) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.534047,.12295,0,.001049,.081503,1.335949,0,.000489,0,0,1,0,-49.863192,-29.415962,0,1)}.gallery-landing-image-wrap:nth-child(7){animation-delay:-4s;width:39vh;top:7vh;left:70vh}.gallery-landing-image-wrap:nth-child(7) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.208845,.004968,0,.000161,.169136,1.372948,0,.000839,0,0,1,0,-32.627194,-29.944317,0,1)}.gallery-landing-image-wrap:nth-child(8){animation-delay:-6s;width:34vh;top:5vh;left:139vh}.gallery-landing-image-wrap:nth-child(8) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.819634,-.109733,0,-.000154,-.11382,.81154,0,-.000399,0,0,1,0,33.10833,33.633254,0,1)}.gallery-landing-image-wrap:nth-child(9){animation-delay:-5s;width:30vh;top:-2vh;left:177vh}.gallery-landing-image-wrap:nth-child(9) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.193897,.087705,0,.000467,.076065,1.194052,0,.000205,0,0,1,0,-21.152673,-20.648401,0,1)}.gallery-landing-image-wrap:nth-child(10){animation-delay:-7s;width:42vh;top:54vh;left:112vh}.gallery-landing-image-wrap:nth-child(10) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.819634,-.109733,0,-.000154,-.11382,.81154,0,-.000399,0,0,1,0,33.10833,33.633254,0,1)}.gallery-landing-image-wrap:nth-child(11){animation-delay:-6s;width:30vh;top:52vh;left:84vh}.gallery-landing-image-wrap:nth-child(11) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.89571,-.038726,0,.000055,-.083272,.894952,0,-.000429,0,0,1,0,23.268295,11.492843,0,1)}.gallery-landing-image-wrap:nth-child(12){animation-delay:-9s;width:42vh;top:70vh;left:239vh}.gallery-landing-image-wrap:nth-child(12) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.867716,-.079118,0,-.000161,-.106942,1.015822,0,-.00004,0,0,1,0,34.862638,3.24487,0,1)}.gallery-landing-image-wrap:nth-child(13){animation-delay:-8s;width:25vh;top:-2vh;left:107vh}.gallery-landing-image-wrap:nth-child(13) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.962128,.072648,0,.000217,-.14266,.787403,0,-.000634,0,0,1,0,25.055509,10.224789,0,1)}.gallery-landing-image-wrap:nth-child(14){animation-delay:-10s;width:39vh;top:-8vh;left:215vh}.gallery-landing-image-wrap:nth-child(14) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.212487,.110254,0,.000537,-.037257,1.077496,0,-.000037,0,0,1,0,-12.026806,-13.900956,0,1)}.gallery-landing-image-wrap:nth-child(15){animation-delay:-9s;width:29vh;top:71vh;left:152vh}.gallery-landing-image-wrap:nth-child(15) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(.91049,-.084392,0,-.000021,.048552,.930481,0,-.000257,0,0,1,0,.486161,14.78311,0,1)}.gallery-landing-image-wrap:nth-child(16){animation-delay:-11s;width:28vh;top:12vh;left:259vh}.gallery-landing-image-wrap:nth-child(16) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.020174,-.024515,0,.000056,.074137,1.131994,0,.000252,0,0,1,0,-6.0324,-7.678183,0,1)}.gallery-landing-image-wrap:nth-child(17){animation-delay:-10s;width:42vh;top:37vh;left:214vh}.gallery-landing-image-wrap:nth-child(17) .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.017658,.047053,0,.000139,-.070528,.886048,0,-.000278,0,0,1,0,5.477972,7.254419,0,1)}.gallery-landing-image-wrap:last-child{animation-delay:-12s;width:30vh;top:54vh;left:192vh}.gallery-landing-image-wrap:last-child .gallery-landing-image-transform{width:100%;height:100%;transform:matrix3d(1.240996,.134028,0,.000724,.045148,.984221,0,-.000332,0,0,1,0,-27.79074,-7.127927,0,1)}.gallery-landing-image-wrapped .gallery-landing-image-transform{transform-origin:0 0 0}.gallery-landing-image-caption{position:absolute;top:9.5vh;left:calc(5% + 4.5vh);z-index:40;color:#fff}.gallery-landing-image-caption-extraleft{left:calc(-12% - 40px)}.gallery-landing-image-caption-bottom{top:auto;bottom:3vh}.gallery-landing-image-caption-right{left:auto;right:calc(-2% - 1vh)}.gallery-landing-image-caption-content{padding:.7em 1.2em;box-shadow:.5rem 2rem 4rem rgba(0,0,0,.3);background:red;font-size:.8em;line-height:1.35;opacity:0;transform:scale(.8) rotateX(0deg);transition:all .25s ease-in-out}@media (min-height:40.06rem){.gallery-landing-image-caption-content{font-size:1.05em;line-height:1.45}}.gallery-landing-caption-link{color:#fff;font-weight:700;border-bottom:1px solid #fff;text-decoration:none;line-height:1;margin-top:.6em;margin-bottom:.25em;visibility:hidden;transition:visibility 0s linear .25s}.amp-mode-mouse .gallery-landing-caption-link{display:none}.gallery-landing-image-caption:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:blue;transform:scaleX(0) rotateX(1turn);transform-origin:top left;transition:all .2s ease-in-out;z-index:1}@keyframes c{0%{transform:scaleX(0) rotate(1turn);transform-origin:top left}48%{transform:scaleX(1) rotate(1turn);transform-origin:top left}52%{transform:scaleX(1) rotate(1turn);transform-origin:top right}to{transform:scaleX(0) rotate(1turn);transform-origin:top right}}.gallery-landing-image-wrapped:focus .gallery-landing-image-caption-content,.gallery-landing-image-wrapped:hover .gallery-landing-image-caption-content{opacity:1;pointer-events:auto;transform:scale(1) rotateX(0deg);transition:opacity 0s linear .25s}.gallery-landing-image-wrapped:focus .gallery-landing-caption-link,.gallery-landing-image-wrapped:hover .gallery-landing-caption-link{visibility:visible}.gallery-landing-image-wrapped:focus .gallery-landing-image-caption:after,.gallery-landing-image-wrapped:hover .gallery-landing-image-caption:after{animation-name:c;animation-duration:.5s;animation-timing-function:ease-in-out}.gallery-landing-image-wrapped:nth-child(8n-1) .gallery-landing-image-caption-content{background:#e63c09}.gallery-landing-image-wrapped:nth-child(8n-1) .gallery-landing-image-caption:after{background:#f8685d}.gallery-landing-image-wrapped:nth-child(8n-2) .gallery-landing-image-caption-content{background:#b812ab}.gallery-landing-image-wrapped:nth-child(8n-2) .gallery-landing-image-caption:after{background:#df45ed}.gallery-landing-image-wrapped:nth-child(8n-3) .gallery-landing-image-caption-content{background:#eb4d68}.gallery-landing-image-wrapped:nth-child(8n-3) .gallery-landing-image-caption:after{background:#f5a8c2}.gallery-landing-image-wrapped:nth-child(8n-4) .gallery-landing-image-caption-content{background:#1b5b17}.gallery-landing-image-wrapped:nth-child(8n-4) .gallery-landing-image-caption:after{background:#49ab2b}.gallery-landing-image-wrapped:nth-child(8n-5) .gallery-landing-image-caption-content{background:#4a145b}.gallery-landing-image-wrapped:nth-child(8n-5) .gallery-landing-image-caption:after{background:#7927b0}.gallery-landing-image-wrapped:nth-child(8n-6) .gallery-landing-image-caption-content{background:#2d646e}.gallery-landing-image-wrapped:nth-child(8n-6) .gallery-landing-image-caption:after{background:#4ab5b3}.gallery-landing-image-wrapped:nth-child(8n-7) .gallery-landing-image-caption-content{background:#25b841}.gallery-landing-image-wrapped:nth-child(8n-7) .gallery-landing-image-caption:after{background:#61e064}.gallery-landing-image-wrapped:nth-child(8n) .gallery-landing-image-caption-content{background:#06345e}.gallery-landing-image-wrapped:nth-child(8n) .gallery-landing-image-caption:after{background:#0c87c0}.gallery-sidebar{padding-top:0;width:23.4375rem;padding-right:0;box-sizing:content-box}.gallery-sidebar-close-button,.gallery-sidebar a{-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration:none;padding-left:2.5rem}.gallery-sidebar[side]{background:#fff;transition:transform .3s cubic-bezier(0,0,.21,1),box-shadow .3s}.gallery-sidebar[open]{box-shadow:0 0 2rem rgba(6,7,22,.15)}@media (min-width:40.06rem) and (min-height:40.06rem){.gallery-sidebar-content{padding:1.875rem;padding-right:0}}.ampstart-sidebar-header{font-weight:300;margin:2rem 0 calc(1.25rem * .925)}.ampstart-navbar-trigger{-ms-flex:none;flex:none;cursor:pointer;line-height:1}.ampstart-headerbar .ampstart-navbar-trigger{padding:0;margin-top:20px}.gallery-sidebar .ampstart-navbar-trigger{height:2.35rem;line-height:calc(2.35rem * 1.066666667);overflow:hidden;padding:0 .625rem;margin-top:calc(2.35rem / -2 + 1.25rem / 2)}.ampstart-navbar-trigger:active,.ampstart-navbar-trigger:focus,.gallery-sidebar .ampstart-navbar-trigger{background:#ccc;color:#fff;outline:none}.gallery-sidebar-close-button:hover{background-color:#eee}.gallery-sidebar .ampstart-navbar-trigger:active,.gallery-sidebar .ampstart-navbar-trigger:focus{outline:none;background-color:#ccc}.gallery-sidebar-close-button svg{display:block;width:1.125rem;height:1.125rem}.ampstart-sidebar-nav-title{position:absolute;top:2rem;margin-left:2.875rem;text-transform:none;color:#000;font-weight:100}.ampstart-sidebar-nav-title,.gallery-sidebar-heading{font-size:.84375rem;line-height:1.25rem;letter-spacing:.05em}.gallery-sidebar-heading{margin:0 0 0 1rem}.gallery-sidebar-heading a{text-decoration:none;color:inherit}@media (min-width:40.06rem) and (min-height:40.06rem){.gallery-sidebar-heading{margin:0 0 0 1.875rem}}.ampstart-sidebar-nav{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;counter-reset:a -1;margin:1rem 0;background:#fff}.ampstart-nav-link{-ms-flex:none;flex:none;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;font-size:1.375rem;font-weight:600;text-transform:none;-webkit-font-smoothing:antialiased;line-height:1.2;letter-spacing:-.03em;text-decoration:none;padding:1.1rem 0;white-space:nowrap;position:relative}.ampstart-nav-item{margin-left:-2.5rem}.ampstart-nav-link:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;transform:scaleX(0) translateZ(0);transform-origin:left center;transition:transform .24s ease-in-out}.ampstart-nav-link:hover:after{display:block;content:"";transform:scaleX(1) translateZ(0)}.ampstart-nav-item:nth-child(7n+1){color:#e4bf0b}.ampstart-nav-item:nth-child(7n+1) .ampstart-nav-link:after{background-color:rgba(228,191,11,.1)}.ampstart-nav-item:nth-child(7n+3){color:#fe95a6}.ampstart-nav-item:nth-child(7n+3) .ampstart-nav-link:after{background-color:rgba(254,149,166,.1)}.ampstart-nav-item:nth-child(7n+4){color:#aeb197}.ampstart-nav-item:nth-child(7n+4) .ampstart-nav-link:after{background-color:hsla(67,14%,64%,.1)}.ampstart-nav-item:nth-child(7n+5){color:#127eb1}.ampstart-nav-item:nth-child(7n+5) .ampstart-nav-link:after{background-color:rgba(18,126,177,.1)}.ampstart-nav-item:nth-child(7n+6){color:#5870ed}.ampstart-nav-item:nth-child(7n+6) .ampstart-nav-link:after{background-color:rgba(88,112,237,.1)}.ampstart-nav-item:nth-child(7n+7){color:#774a4e}.ampstart-nav-item:nth-child(7n+7) .ampstart-nav-link:after{background-color:rgba(119,74,78,.1)}.ampstart-nav-item:nth-child(2) .ampstart-nav-link{border-top:1px solid #aaa;border-bottom:1px solid rgba(0,0,0,.3)}.ampstart-nav-item:nth-child(2) .ampstart-nav-link:after{background-color:#000;top:-1px;bottom:-1px}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi){.ampstart-nav-item:nth-child(2) .ampstart-nav-link{border:none;background:linear-gradient(180deg,#000,#000 50%,#fff 0) 0 0/100% 1px no-repeat,linear-gradient(180deg,#000,#000 50%,#fff 0) 0 100%/100% 1px no-repeat}.ampstart-nav-item:nth-child(2) .ampstart-nav-link:after{top:0;bottom:0}}.ampstart-nav-item .ampstart-nav-link:before{width:1.125rem;margin-right:1rem;text-align:center;-ms-flex-item-align:start;align-self:flex-start;color:#000;font-size:.9375rem;font-weight:200;-webkit-font-smoothing:antialiased;line-height:1.71875rem;counter-increment:a;content:counter(a);-ms-flex:none;flex:none}.ampstart-nav-item:nth-child(2) .ampstart-nav-link:before,.ampstart-nav-item:nth-child(2) .gallery-sidebar-nav-item-icon,.ampstart-nav-item:nth-child(2) .gallery-sidebar-nav-item-text{color:#fff;z-index:1;mix-blend-mode:difference;-webkit-font-smoothing:antialiased}@media (-ms-high-contrast:active),(-ms-high-contrast:none){.ampstart-nav-item:nth-child(2) .gallery-sidebar-nav-item-text{color:#000;mix-blend-mode:normal}}.gallery-sidebar-nav-item-text{-ms-flex:auto;flex:auto;margin-right:1rem}.gallery-sidebar-nav-item-icon,.gallery-sidebar-nav-item-text,.gallery-sidebar-nav-item:before{z-index:1}@media (min-width:40.06rem) and (min-height:40.06rem){.ampstart-nav-item .ampstart-nav-link:before,.gallery-sidebar-nav-item-text{margin-right:1.875rem}}.gallery-sidebar-nav-item-image{-ms-flex:none;flex:none;width:3.125rem;height:3.125rem;margin:-1rem 0;border-radius:50%;z-index:1;transition:transform .1s,box-shadow .1s;box-shadow:0 0 0 rgba(6,7,22,.2)}.gallery-sidebar-nav-item-image,.gallery-sidebar-nav-item-image img{-o-object-fit:cover;object-fit:cover}.ampstart-nav-item:nth-child(3) .gallery-sidebar-nav-item-image{background:#fe95a6}.ampstart-nav-item:nth-child(4) .gallery-sidebar-nav-item-image{background:#aeb197}.ampstart-nav-item:nth-child(5) .gallery-sidebar-nav-item-image{background:#127eb1}.ampstart-nav-item:nth-child(6) .gallery-sidebar-nav-item-image{background:#5870ed}.ampstart-nav-item:nth-child(7) .gallery-sidebar-nav-item-image{background:#774a4e}.ampstart-nav-item:nth-child(8) .gallery-sidebar-nav-item-image{background:#e4bf0b}.gallery-sidebar-nav-item-icon{-ms-flex:none;flex:none;width:.82em;height:.82em;margin-left:.6rem;margin-right:.6rem;color:#000;margin-top:-2px}.gallery-sidebar-nav-item-icon svg *{stroke-width:4.1px}.gallery-component-tagline{left:calc(1rem + 36px + .65rem);pointer-events:none;position:absolute;top:20px;z-index:9}.gallery-component-tagline>div{font-size:.84375rem;line-height:36px}@media (min-width:40.06rem){.gallery-component-tagline{left:1rem;top:calc(20px + 36px + .65rem)}.gallery-component-tagline>div{transform:rotate(-90deg) translate(-100%);transform-origin:top left}}
  body
    .gallery-component-tagline.xs-hide(href='./soko/index.html')
      div admin
    main#content.gallery-base-content.fit(role='main')
      h1.gallery-landing-title.flex.justify-center.items-center.center.absolute.top-0.left-0.right-0.z1.mx-auto.gallery-base-invert
        | #{name}
      amp-carousel.gallery-landing-wall.block.relative(width='100vw', height='100vh', controls='')
        .gallery-landing-wall-scroll.relative
         for store in stores
          figure.gallery-landing-image-wrapped.gallery-landing-image-wrap
            a.gallery-landing-image-link(href='./bits/index-'+store.id+'.html')
            figcaption.gallery-landing-image-caption.gallery-landing-image-caption-content
              h2.h4.regular #{store.name}
              h3.h4.regular(role='author') #{store.desc}
              a.gallery-landing-caption-link.inline-block(href='./bits/index-'+store.id+'.html') open
            .gallery-landing-image-transform
              amp-img(width='8', height='12', layout='responsive', noloading='', src='https://www.bitsoko.org'+store.bannerPath, srcset='\
              https://www.bitsoko.org'+store.bannerPath+' 1x,\
              https://www.bitsoko.org'+store.bannerPath+' 2x\
              ', alt='wooden chair')
          