doctype html
// saved from url=(0044)https://colorlib.com/preview/theme/vineyard/
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Vineyard - Free Bootstrap 4 Template by Colorlib
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='./index_files/css' rel='stylesheet')
  link(href='./index_files/css(1)' rel='stylesheet')
  link(href='./index_files/css(2)' rel='stylesheet')
  link(rel='stylesheet' href='./index_files/open-iconic-bootstrap.min.css')
  link(rel='stylesheet' href='./index_files/animate.css')
  link(rel='stylesheet' href='./index_files/owl.carousel.min.css')
  link(rel='stylesheet' href='./index_files/owl.theme.default.min.css')
  link(rel='stylesheet' href='./index_files/magnific-popup.css')
  link(rel='stylesheet' href='./index_files/aos.css')
  link(rel='stylesheet' href='./index_files/ionicons.min.css')
  link(rel='stylesheet' href='./index_files/bootstrap-datepicker.css')
  link(rel='stylesheet' href='./index_files/jquery.timepicker.css')
  link(rel='stylesheet' href='./index_files/flaticon.css')
  link(rel='stylesheet' href='./index_files/icomoon.css')
  link(rel='stylesheet' href='./index_files/style.css')
  script(type='text/javascript' async='' src='./index_files/analytics.js')
  script#mew-web3script(type='application/javascript' async='false' src='chrome-extension://nlbmnnijcnlegkjjpcfjclmcfggfefdm/js/cxWeb3.js')
  script#mew-extensionId(type='application/javascript' async='false').
    (function(t){window.extensionID=t})("nlbmnnijcnlegkjjpcfjclmcfggfefdm")
  style(type='text/css').
    .scrollax-performance, .scrollax-performance *, .scrollax-performance *:before, .scrollax-performance *:after { pointer-events: none !important; -webkit-animation-play-state: paused !important; animation-play-state: paused !important; };
  script(type='text/javascript' charset='UTF-8' src='./index_files/common.js')
  script(type='text/javascript' charset='UTF-8' src='./index_files/util.js')
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='https://colorlib.com/preview/theme/vineyard/index.html')
      | Vineyard
      span Christian Church
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/index.html') Home
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/about.html') About
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/ministry.html') Ministries
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/sermons.html') Sermons
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/events.html') Events
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/blog.html') Blog
        li.nav-item
          a.nav-link(href='https://colorlib.com/preview/theme/vineyard/contact.html') Contact
.hero-wrap.js-fullheight(style='background-image: url("images/bg_1.jpg"); height: 899px;')
  .overlay
  .container
    .row.no-gutters.slider-text.js-fullheight.align-items-end.justify-content-end(data-scrollax-parent='true' style='height: 899px;')
      .col-md-8.text-justify.ftco-animate.mb-5.pr-lg-4.fadeInUp.ftco-animated
        a.icon-wrap.popup-vimeo.d-flex.align-items-center.mt-4(href='https://vimeo.com/45830194')
          .icon.d-flex.align-items-center.justify-content-center
            span.ion-ios-play
          .heading-title.ml-3
            span Watch our latest sermons
        h1.mb-0 Loving God, Loving Others, Serving God With All Your Heart
        h3.subheading.mb-4.pb-1 Submit your presence to the creator of the universe
section.ftco-section.ftco-no-pt.ftco-no-pb
  .container
    .row.no-gutters
      .col-lg-6.py-4.py-md-5
        .d-flex.services.ftco-animate.text-lg-right.py-4.px-lg-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-praying
          .media-body.pr-lg-4
            h3.heading.mb-3 Daily Prayers
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .d-flex.services.active.ftco-animate.text-lg-right.py-4.px-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-church
          .media-body.pr-lg-4
            h3.heading.mb-3 Church Community
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .d-flex.services.ftco-animate.text-lg-right.py-4.px-lg-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-bible
          .media-body.pr-lg-4
            h3.heading.mb-3 Teaching
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .d-flex.services.ftco-animate.text-lg-right.py-4.px-lg-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-social-care
          .media-body.pr-lg-4
            h3.heading.mb-3 Helpers
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .d-flex.services.ftco-animate.text-lg-right.py-4.px-lg-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-rings
          .media-body.pr-lg-4
            h3.heading.mb-3 Wedding
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .d-flex.services.ftco-animate.text-lg-right.py-4.px-lg-4
          .icon.order-md-last.d-flex.align-items-center.justify-content-center
            span.flaticon-promotion
          .media-body.pr-lg-4
            h3.heading.mb-3 Events
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-6.d-flex.align-items-stretch
        .img.img-about(style='background-image: url(images/about.jpg);')
section#section-counter.ftco-counter
  .container
    .row.d-flex.no-gutters
      .col-md-6.d-flex.flex-column.align-items-stretch
        .img.d-flex.align-self-stretch.align-items-center.justify-content-center(style='background-image:url(images/about-2.jpg);')
          a.icon-video.popup-vimeo.d-flex.align-items-center.justify-content-center.text-center(href='https://www.youtube.com/watch?v=ism1XqnZJEg')
            span.ion-ios-play
      .col-md-6.px-md-5.py-4.py-md-5
        .row.justify-content-start.pt-md-3.pb-md-3
          .col-md-12.heading-section.ftco-animate
            h2.mb-4 We are church that believes in Jesus Christ
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. A small river named Duden flows by their place and supplies it with the necessary regelialia.
        .row
          .col-md-3.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center.py-4.mb-4
              .text
                strong.number(data-number='70000') 70,000
                span Members
          .col-md-3.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center.py-4.mb-4
              .text
                strong.number(data-number='1000') 1,000
                span Pastors
          .col-md-3.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center.py-4.mb-4
              .text
                strong.number(data-number='100000') 100,000
                span Donation
          .col-md-3.justify-content-center.counter-wrap.ftco-animate
            .block-18.text-center.py-4.mb-4
              .text
                strong.number(data-number='100') 100
                span Churches
section.ftco-section.bg-light
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-12.text-center.heading-section.heading-section-light.ftco-animate
        span.subheading Experience God&apos;s Presence
        h2.mb-2
          span.px-4 Sermon for Today
    .row.d-flex.sermon-wrap
      .col-md-6.d-flex.align-items-stretch.ftco-animate
        .img(style='background-image: url(images/sermon-1.jpg);')
      .col-md-6.py-4.text.ftco-animate
        h2.mb-4
          a(href='https://colorlib.com/preview/theme/vineyard/sermon.html') Lord is Sufficient for all of our needs
        .meta
          p
            span
              | Sermon from: 
              a.ptr(href='https://colorlib.com/preview/theme/vineyard/#') Felix Gonner
            span
              | Categories: 
              a(href='https://colorlib.com/preview/theme/vineyard/#') God
              | , 
              a(href='https://colorlib.com/preview/theme/vineyard/#') Pray
            span
              a(href='https://colorlib.com/preview/theme/vineyard/#') On Sunday 13 Jan, 2019
        p
          | A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        p.mt-4.btn-customize
          a.btn.btn-primary.px-4.py-3.mr-md-2.popup-vimeo(href='https://vimeo.com/45830194')
            span.icon-play
            |  Watch Sermons
          a.btn.btn-black.px-4.py-3.ml-lg-2(href='https://colorlib.com/preview/theme/vineyard/#')
            span.icon-download
            |  Download Sermons
section.instagram.ftco-section.ftco-no-pt.ftco-no-pb
  .container-fluid.px-md-0
    .row.no-gutters
      .col-sm-12.col-md.ftco-animate
        a.insta-img.img.image-popup(href='https://colorlib.com/preview/theme/vineyard/images/insta-1.jpg' style='background-image: url(images/insta-1.jpg);')
          .icon.d-flex.justify-content-center
            span.icon-instagram.align-self-center
      .col-sm-12.col-md.ftco-animate
        a.insta-img.img.image-popup(href='https://colorlib.com/preview/theme/vineyard/images/insta-2.jpg' style='background-image: url(images/insta-2.jpg);')
          .icon.d-flex.justify-content-center
            span.icon-instagram.align-self-center
      .col-sm-12.col-md.ftco-animate
        a.insta-img.img.image-popup(href='https://colorlib.com/preview/theme/vineyard/images/insta-3.jpg' style='background-image: url(images/insta-3.jpg);')
          .icon.d-flex.justify-content-center
            span.icon-instagram.align-self-center
      .col-sm-12.col-md.ftco-animate
        a.insta-img.img.image-popup(href='https://colorlib.com/preview/theme/vineyard/images/insta-4.jpg' style='background-image: url(images/insta-4.jpg);')
          .icon.d-flex.justify-content-center
            span.icon-instagram.align-self-center
section.ftco-section.testimony-section.img(style='background-image: url(images/bg_3.jpg);')
  .overlay
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
        h2.mb-2 Inspirational Testimony
    .row.justify-content-center.ftco-animate
      .col-md-8
        .carousel-testimony.owl-carousel.ftco-owl.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage(style='transition: all 0s ease 0s; width: 8360px; transform: translate3d(-2280px, 0px, 0px);')
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_4.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.active.center(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_2.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_4.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_2.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
              .owl-item.cloned(style='width: 730px; margin-right: 30px;')
                .item
                  .testimony-wrap.text-center.py-4.pb-5
                    .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                      span.quote.d-flex.align-items-center.justify-content-center
                        i.icon-quote-left
                    .text.p-3
                      p.mb-4
                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                      p.name John Cooper
                      span.position Member
          .owl-nav.disabled
            button.owl-prev(role='presentation')
              span.ion-ios-arrow-back
            button.owl-next(role='presentation')
              span.ion-ios-arrow-forward
          .owl-dots
            button.owl-dot.active
              span
            button.owl-dot
              span
            button.owl-dot
              span
            button.owl-dot
              span
            button.owl-dot
              span
section.ftco-section.ftco-no-pt.bg-light
  .container-fluid.px-0
    .row.no-gutters
      .col-md-3.event-wrap.event-wrap-full.ftco-animate
        .img(style='background-image: url(images/event-1.jpg);')
        .text
          h2.mb-3
            a(href='https://colorlib.com/preview/theme/vineyard/sermons.html') How To Recover The Cutting Edge
          .meta
            p
              span
                i.icon-calendar.mr-2
                |  Monday, 8:00 Am - Tuesday, 8:00 Pm
              span
                i.icon-my_location.mr-2
                a(href='https://colorlib.com/preview/theme/vineyard/#') Spring Church
              span
                i.icon-location_city.mr-2
                |  203 Fake St. Mountain View, San Francisco, California, USA
          p
            a.btn.btn-primary(href='https://colorlib.com/preview/theme/vineyard/sermons.html') Read more
      .col-md-3.event-wrap.event-wrap-full.ftco-animate
        .img(style='background-image: url(images/event-2.jpg);')
        .text
          h2.mb-3
            a(href='https://colorlib.com/preview/theme/vineyard/sermons.html') How To Recover The Cutting Edge
          .meta
            p
              span
                i.icon-calendar.mr-2
                |  Monday, 8:00 Am - Tuesday, 8:00 Pm
              span
                i.icon-my_location.mr-2
                a(href='https://colorlib.com/preview/theme/vineyard/#') Spring Church
              span
                i.icon-location_city.mr-2
                |  203 Fake St. Mountain View, San Francisco, California, USA
          p
            a.btn.btn-primary(href='https://colorlib.com/preview/theme/vineyard/sermons.html') Read more
      .col-md-3.event-wrap.event-wrap-full.ftco-animate
        .img(style='background-image: url(images/event-3.jpg);')
        .text
          h2.mb-3
            a(href='https://colorlib.com/preview/theme/vineyard/sermons.html') How To Recover The Cutting Edge
          .meta
            p
              span
                i.icon-calendar.mr-2
                |  Monday, 8:00 Am - Tuesday, 8:00 Pm
              span
                i.icon-my_location.mr-2
                a(href='https://colorlib.com/preview/theme/vineyard/#') Spring Church
              span
                i.icon-location_city.mr-2
                |  203 Fake St. Mountain View, San Francisco, California, USA
          p
            a.btn.btn-primary(href='https://colorlib.com/preview/theme/vineyard/sermons.html') Read more
      .col-md-3.event-wrap.event-wrap-full.ftco-animate
        .img(style='background-image: url(images/event-4.jpg);')
        .text
          h2.mb-3
            a(href='https://colorlib.com/preview/theme/vineyard/sermons.html') How To Recover The Cutting Edge
          .meta
            p
              span
                i.icon-calendar.mr-2
                |  Monday, 8:00 Am - Tuesday, 8:00 Pm
              span
                i.icon-my_location.mr-2
                a(href='https://colorlib.com/preview/theme/vineyard/#') Spring Church
              span
                i.icon-location_city.mr-2
                |  203 Fake St. Mountain View, San Francisco, California, USA
          p
            a.btn.btn-primary(href='https://colorlib.com/preview/theme/vineyard/sermons.html') Read more
    .row.no-gutters.justify-content-center.mt-4
      .col-md-7.text-center.heading-section.ftco-animate
        span.subheading Events
        h2.mb-2 Upcoming Events
section.ftco-section
  .container
    .row.justify-content-center.mb-5.pb-3
      .col-md-12.text-center.heading-section.heading-section-light.ftco-animate
        span.subheading Our Blog
        h2.mb-2
          span.px-4 Recent Blog
    .row
      .col-md-4.ftco-animate
        .blog-entry
          .text
            .meta.mb-0.pl-md-5
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Aug 5, 2019
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Admin
              div
                a.meta-chat(href='https://colorlib.com/preview/theme/vineyard/#')
                  span.icon-chat
                  |  3
            h3.heading.pl-md-5
              a(href='https://colorlib.com/preview/theme/vineyard/#') Know About Our God Who Created This Universe
          a.block-20(href='https://colorlib.com/preview/theme/vineyard/blog-single.html' style="background-image: url('images/image_1.jpg');")
          .text.py-3
            .desc.pl-md-5
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.ftco-animate
        .blog-entry
          .text
            .meta.mb-0.pl-md-5
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Aug 5, 2019
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Admin
              div
                a.meta-chat(href='https://colorlib.com/preview/theme/vineyard/#')
                  span.icon-chat
                  |  3
            h3.heading.pl-md-5
              a(href='https://colorlib.com/preview/theme/vineyard/#') Know About Our God Who Created This Universe
          a.block-20(href='https://colorlib.com/preview/theme/vineyard/blog-single.html' style="background-image: url('images/image_2.jpg');")
          .text.py-3
            .desc.pl-md-5
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.ftco-animate
        .blog-entry
          .text
            .meta.mb-0.pl-md-5
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Aug 5, 2019
              div
                a(href='https://colorlib.com/preview/theme/vineyard/#') Admin
              div
                a.meta-chat(href='https://colorlib.com/preview/theme/vineyard/#')
                  span.icon-chat
                  |  3
            h3.heading.pl-md-5
              a(href='https://colorlib.com/preview/theme/vineyard/#') Know About Our God Who Created This Universe
          a.block-20(href='https://colorlib.com/preview/theme/vineyard/blog-single.html' style="background-image: url('images/image_3.jpg');")
          .text.py-3
            .desc.pl-md-5
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia.
footer.ftco-footer.ftco-bg-dark.ftco-section
  .container
    .row.mb-5
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Vineyard Church
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='https://colorlib.com/preview/theme/vineyard/#')
                span.icon-twitter
            li.ftco-animate
              a(href='https://colorlib.com/preview/theme/vineyard/#')
                span.icon-facebook
            li.ftco-animate
              a(href='https://colorlib.com/preview/theme/vineyard/#')
                span.icon-instagram
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 About
          ul.list-unstyled
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Staff
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Beliefs
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | History
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Mission
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Wedding &amp; Funerals
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Jobs &amp; Internship
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Fellowships
      .col-md
        .ftco-footer-widget.mb-4.ml-md-5
          h2.ftco-heading-2 Connect
          ul.list-unstyled
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Home Groups
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Recovery Groups
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Memberships
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Children &amp; Students
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Volunteer
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Counseling
            li
              a.py-1.d-block(href='https://colorlib.com/preview/theme/vineyard/#')
                span.ion-ios-arrow-forward.mr-3
                | Assistance
      .col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Service Hours
          .opening-hours
            h4 Services Hours
            p.pl-3
              span.mb-3 Saturday Prayer Meeting &mdash; 10:00 am to 11:30 am
              span Sunday Service &mdash; 8:30 am to 11:30 am
    .row
      .col-md-12.text-center
        p
          | Copyright &copy;
          script(type='text/javascript').
            document.write(new Date().getFullYear());
          | 2020 All rights reserved | This template is made with 
          i.icon-heart.color-danger(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com/' target='_blank') Colorlib
#ftco-loader.fullscreen
  svg.circular(width='48px' height='48px')
    circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
    circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
script(src='./index_files/jquery.min.js' type='text/javascript')
script(src='./index_files/jquery-migrate-3.0.1.min.js' type='text/javascript')
script(src='./index_files/popper.min.js' type='text/javascript')
script(src='./index_files/bootstrap.min.js' type='text/javascript')
script(src='./index_files/jquery.easing.1.3.js' type='text/javascript')
script(src='./index_files/jquery.waypoints.min.js' type='text/javascript')
script(src='./index_files/jquery.stellar.min.js' type='text/javascript')
script(src='./index_files/owl.carousel.min.js' type='text/javascript')
script(src='./index_files/jquery.magnific-popup.min.js' type='text/javascript')
script(src='./index_files/aos.js' type='text/javascript')
script(src='./index_files/jquery.animateNumber.min.js' type='text/javascript')
script(src='./index_files/bootstrap-datepicker.js' type='text/javascript')
script(src='./index_files/scrollax.min.js' type='text/javascript')
script(src='./index_files/js' type='text/javascript')
script(src='./index_files/google-map.js' type='text/javascript')
script(src='./index_files/main.js' type='text/javascript')
script(async='' src='./index_files/js(1)' type='text/javascript')
script(type='text/javascript').
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');

