doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title PLAAS FARMERS PLATFORM
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  meta(content='' name='keywords')
  meta(content='' name='description')
  // Favicons
  link(href='themes/plaas/images/pic3.ico' rel='icon')
  link(href='themes/plaas/images/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' rel='stylesheet')
  // Bootstrap CSS File
  link(href='themes/plaas/js/lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Libraries CSS Files
  link(href='themes/plaas/js/lib/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  link(href='themes/plaas/js/lib/animate/animate.min.css' rel='stylesheet')
  link(href='themes/plaas/js/lib/ionicons/css/ionicons.min.css' rel='stylesheet')
  link(href='themes/plaas/js/lib/owlcarousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='themes/plaas/js/lib/lightbox/css/lightbox.min.css' rel='stylesheet')
  // Main Stylesheet File
  link(href='themes/plaas/css/style.css' rel='stylesheet')
  //
    =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
//
  ==========================
  Header
  ============================
header#header.fixed-top
  .container
    .logo.float-left
      // Uncomment below if you prefer to use an image logo
      // <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1>
      a.scrollto(href='#intro')
        img.img-fluid(src='themes/plaas/images/logo1.png' alt='')
    nav.main-nav.float-right.d-none.d-lg-block
      ul
        li.active
          a(href='#intro') Home
        li
          a(href='#about') About Us
        li
          a(href='#lpoe') LPOE
        li
          a(href='#components') Components
        li
          a(href='#services') Roadmap
        li
          a(href='#team') Team
        li
          a(href='#contact') Contact Us
    // .main-nav
// #header
//
  ==========================
  Intro Section
  ============================
section#intro.clearfix
  .container
    div
      // <p style="color:white"> (Plaas Contract Address) <a href="" style="color:white">0x8d9626315e8025b81c3bdb926db4c51dde237f52</a> <br>(DO NOT SEND ETH TO THIS ADDRESS )</p>
    .intro-img
      img.img-fluid(src='themes/plaas/images/intro-img2.png' alt='')
    .intro-info
      h2
        | POWERING AGRICULTURE 
        br
        | THROUGH BLOCKCHAIN
      div
        a.btn-get-started.scrollto(href='#about') Get Started
        a.btn-services.scrollto(href='https://plaas.io/Plaas_Whitepaper.pdf') Whitepaper
      .social-links
        a.twitter(href='https://twitter.com/plaasio' target='_blank')
          i.fa.fa-twitter
        a.facebook(href='https://www.facebook.com/plaas.io/' target='_blank')
          i.fa.fa-facebook
        a.telegram(href='https://t.me/Plaas2018' target='_blank')
          i.fa.fa-telegram
        // <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        a.linkedin(href='https://www.linkedin.com/company/plaasio/' target='_blank')
          i.fa.fa-linkedin
// #intro
main#main
  //
    ==========================
    About Us Section
    ============================
  section#about
    .container
      header.section-header
        h3 PLAAS
        p
          | Plaas Limited Proof of Extinction provide a farmers data storage,marketplace,data tracking and tracing through the blockchain
      .row.about-container
        .col-lg-6.content.order-lg-1.order-2
          //
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          .icon-box.wow.fadeInUp
            .icon
              i.fa.fa-shopping-bag
            h4.title
              a(href='') Plaas Stock Compliance PSC
            p.description
              | PLAAS is seeking to leverage blockchain technology by providing all the players in the African agricultural sector with a platform where they can store and share information about crops and animals securely
          .icon-box.wow.fadeInUp(data-wow-delay='0.2s')
            .icon
              i.fa.fa-shopping-bag
            h4.title
              a(href='') Storage and validation
            p.description
              | Plaas protocol provides a data storage and validation service via a network of independent validators that does not rely on a single coordinator, where:
              | (1) clients pay to retrieve data,
              | (2) Farmers earn tokens by offering data
              | (3) Validation Miners earn tokens by validating data
          .icon-box.wow.fadeInUp(data-wow-delay='0.4s')
            .icon
              i.fa.fa-bar-chart
            h4.title
              a(href='') Online Marketplace
            p.description
              | The platform will provide an online marketplace for buyers and sellers on the market who can use the native PLAAS coin to remit payments
        .col-lg-6.background.order-lg-2.order-1.wow.fadeInUp
          img.img-fluid(src='themes/plaas/images/intro-img1.png' alt='')
      .row.about-extra
        .col-lg-6.wow.fadeInUp
          img.img-fluid(src='themes/plaas/images/about-extra-1.png' alt='')
        #lpoe.col-lg-6.wow.fadeInUp.pt-5.pt-lg-0
          h4 Limited Proof-of-Extinction
          p
            | This overcomes the limit of reliable time by introducing entries that include a verifiable hash generated using the HMAC-Based One-Time Password (HOTP)
            | algorithm and the Time-Based One-time Password (TOTP) algorithm. Using the stock ID as reference, L-PoE only allows valid shares on any block to
          p
            | &#x25CF; variable &lsquo;time-periods&rsquo; of between 10-30 seconds a day, once per day.
            br
            |               &#x25CF; (x) number of days since the last successfully submitted share
            br
            |               &#x25CF; (y) number of days before the first successfully submitted share
            |               Invalid shares are rejected
      .row.about-extra
        .col-lg-6.wow.fadeInUp.order-1.order-lg-2
          img.img-fluid(src='themes/plaas/images/about-extra-3.svg' alt='')
        #components.col-lg-6.wow.fadeInUp.pt-4.pt-lg-0.order-2.order-lg-1
          h4 Components
          p
            | &#x25CF; Valid Share: a single data entry that has passed validation checks and has been submitted by a node to be included in a block and conforms to the structure
          p
            | &#x25CF; Node/Validator: a user+hardware+software component that verifies validity of data provided by farmer and record this for entry to the chain.
          p
            | &#x25CF; Extinction: a stock ID is considered extinct if it will no longer be able to produce valid shares. That means the stock specimen is no longer alive.
  // #about
  //
    ==========================
    Services Section
    ============================
  section#services.section-bg
    .container
      header.section-header
        h3 Roadmap
        // <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      .row
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-analytics-outline(style='color: #ff689b;')
            h4.title
              a(href='') January 2016
            p.description Initial Plaas setup idea
        .col-md-6.col-lg-5.wow.bounceInUp(data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-bookmarks-outline(style='color: #e9bf06;')
            h4.title
              a(href='') August 2016
            p.description Meeting in Kenya to discuss the future of Plaas
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-paper-outline(style='color: #3fcdc7;')
            h4.title
              a(href='') September 2017
            p.description Plaasio incorporated CO2017/18049
        .col-md-6.col-lg-5.wow.bounceInUp(data-wow-delay='0.1s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-speedometer-outline(style='color:#41cf2e;')
            h4.title
              a(href='') November 2017
            p.description Development of Plaas web Platform
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-world-outline(style='color: #d6ff22;')
            h4.title
              a(href='') December 2017
            p.description Presentation with ministry of youth,sports and culture secretary in Botswana
        .col-md-6.col-lg-5.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-clock-outline(style='color: #4680ff;')
            h4.title
              a(href='') May 2018
            p.description Public Presentation in South Africa,Sandton
        .col-md-6.col-lg-5.offset-lg-1.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-world-outline(style='color: #d6ff22;')
            h4.title
              a(href='') June 2018
            p.description Working on creating the Plaas Online Marketplace
        .col-md-6.col-lg-5.wow.bounceInUp(data-wow-delay='0.2s' data-wow-duration='1.4s')
          .box
            .icon
              i.ion-ios-clock-outline(style='color: #4680ff;')
            h4.title
              a(href='') Q4 2019
            p.description Launch of the PLS in exchanges
  // #services
  // #testimonials
  //
    ==========================
    Team Section
    ============================
  section#team
    .container
      .section-header
        h3 Team
        // <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      .row
        .col-lg-3.col-md-6.wow.fadeInUp
          .member
            img.img-fluid(src='themes/plaas/images/team-1.jpg' alt='')
            .member-info
              .member-info-content
                h4 Alakanani Itireleng
                span CEO and Founder
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-2.jpg' alt='')
            .member-info
              .member-info-content
                h4 Koketso Pelo
                span COO and Co-founder
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
          .member
            img.img-fluid(src='themes/plaas/images/team-3.jpg' alt='')
            .member-info
              .member-info-content
                h4 Anderson Itireleng
                span CMO and co-founder
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .member
            img.img-fluid(src='themes/plaas/images/team-11.jpg' alt='')
            .member-info
              .member-info-content
                h4 Kgosi Gaetsewe
                span CFO
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .member
            img.img-fluid(src='themes/plaas/images/team-4.jpg' alt='')
            .member-info
              .member-info-content
                h4 Trevor Musa
                span Cooperate Development
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp
          .member
            img.img-fluid(src='themes/plaas/images/team-5.jpg' alt='')
            .member-info
              .member-info-content
                h4 Felix Ugoji
                span Chief Strategic Officer
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-6.jpg' alt='')
            .member-info
              .member-info-content
                h4 Allen Juma
                span CTO &amp; Blockchain Dev
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-13.jpg' alt='')
            .member-info
              .member-info-content
                h4 Danisa Moyo
                span Communication and Zimbabwe expert
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-14.jpg' alt='')
            .member-info
              .member-info-content
                h4 Acushla Moyo
                span Communication and Zimbabwe expert
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
          .member
            img.img-fluid(src='themes/plaas/images/team-7.jpg' alt='')
            .member-info
              .member-info-content
                h4 David Desantis
                span Advisor
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.3s')
          .member
            img.img-fluid(src='themes/plaas/images/team-8.jpg' alt='')
            .member-info
              .member-info-content
                h4 Harveen Narulla
                span Advisor
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp
          .member
            img.img-fluid(src='themes/plaas/images/team-9.jpg' alt='')
            .member-info
              .member-info-content
                h4 Timothy Tim Tayshun
                span Advisor
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-10.jpg' alt='')
            .member-info
              .member-info-content
                h4 Andrew Wagner
                span Advisor
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='themes/plaas/images/team-12.jpg' alt='')
            .member-info
              .member-info-content
                h4 Emmanuel Adams
                span Advisor
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-google-plus
                  a(href='')
                    i.fa.fa-linkedin
  // #team
  //
    ==========================
    Clients Section
    ============================
  section#clients.section-bg
    .container
      .section-header
        h3 PARTNERS
      .row.no-gutters.clients-wrap.clearfix.wow.fadeInUp
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            a(href='')
              img.img-fluid(src='themes/plaas/images/clients/client-1.png' alt='')
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            a(href='')
              img.img-fluid(src='themes/plaas/images/clients/client-2.png' alt='')
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            a(href='')
              img.img-fluid(src='themes/plaas/images/clients/client-3.png' alt='')
        .col-lg-3.col-md-4.col-xs-6
          .client-logo
            a(href='')
              img.img-fluid(src='themes/plaas/images/clients/client-4.png' alt='')
  //
    ==========================
    Clients Section
    ============================
  section#farmers.section-bg
    .container
      .section-header
        h3 Farmers
      bits-exchange(apikey='0000' view-mode='carousel' color='' market-pairs='BWP/PLS,KES/PLS')
//
  ==========================
  Footer
  ============================
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-info
          h3 Plaas
          p
            | PLAAS Farmers Blockchain Plaform for farm data record, tracking of animal through use of RFID with blockchain and an online marketplace for buyers and sellers using Plaas Paymeny System.
        .col-lg-2.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              a(href='#') Home
            li
              a(href='#') About us
            li
              a(href='#') LPOE
            li
              a(href='#') Components
            li
              a(href='#') Team
        .col-lg-3.col-md-6.footer-contact
          h4 Contact Us
          p
            | Botswana plot 8878, Ext.2,African Mall, Gaborone
            | shop no 7,ist floor, 
            br
            |                 African Mall Ext.2, Gaborone 
            br
            strong Phone:
            |  +267 77748663
            br
            strong Email:
            |   info@plaas.io
            br
          .social-links
            a.twitter(href='https://twitter.com/plaasio')
              i.fa.fa-twitter
            a.facebook(href='https://www.facebook.com/plaas.io/')
              i.fa.fa-facebook
            a.telegram(href='https://t.me/Plaas2018')
              i.fa.fa-telegram
            // <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            a.linkedin(href='https://www.linkedin.com/company/plaasio/')
              i.fa.fa-linkedin
        .col-lg-3.col-md-6.footer-newsletter
          a(href='#intro')
            img.img-fluid(src='themes/plaas/images/Logo.png' alt='')
  .container
    .copyright
      | &copy; Copyright 2019 All rights reserved.
      strong Designed by PLAAS.
// #footer
a.back-to-top(href='#')
  i.fa.fa-chevron-up
// Uncomment below i you want to use a preloader
// <div id="preloader"></div>
// JavaScript Libraries
script(src='themes/plaas/js/lib/jquery/jquery.min.js')
script(src='themes/plaas/js/lib/jquery/jquery-migrate.min.js')
script(src='themes/plaas/js/lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='themes/plaas/js/lib/easing/easing.min.js')
script(src='themes/plaas/js/lib/mobile-nav/mobile-nav.js')
script(src='themes/plaas/js/lib/wow/wow.min.js')
script(src='themes/plaas/js/lib/waypoints/waypoints.min.js')
script(src='themes/plaas/js/lib/counterup/counterup.min.js')
script(src='themes/plaas/js/lib/owlcarousel/owl.carousel.min.js')
script(src='themes/plaas/js/lib/isotope/isotope.pkgd.min.js')
script(src='themes/plaas/js/lib/lightbox/js/lightbox.min.js')
// Contact Form JavaScript File
script(src='contactform/contactform.js')
script(src='/bitsAssets/js/exchange.js' defer='true')
// Template Main Javascript File
script(src='themes/plaas/js/main.js')

