doctype html
html(⚡='')
  head
    meta(charset='utf-8')
    title #{name}
    link(rel='canonical', href='https://www.ampstart.com/templates/travel/travel.amp')
    meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
    script(async='', src='https://cdn.ampproject.org/v0.js')
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(custom-element='amp-list', src='https://cdn.ampproject.org/v0/amp-list-0.1.js', async='')
    script(custom-element='amp-bind', src='https://cdn.ampproject.org/v0/amp-bind-0.1.js', async='')
    script(custom-template='amp-mustache', src='https://cdn.ampproject.org/v0/amp-mustache-0.1.js', async='')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700', rel='stylesheet')
    style(amp-custom='').
      /*! Bassplate | MIT License | http://github.com/basscss/bassplate */
      /*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}[hidden],template{display:none}.h1{font-size:2rem}.h2{font-size:1.5rem}.h3{font-size:1.25rem}.h4{font-size:1rem}.h5{font-size:.875rem}.h6{font-size:.75rem}.font-family-inherit{font-family:inherit}.font-size-inherit{font-size:inherit}.text-decoration-none{text-decoration:none}.bold{font-weight:700;font-weight:600}.regular{font-weight:400}.italic{font-style:italic}.caps{text-transform:uppercase;letter-spacing:0}.left-align{text-align:left}.center{text-align:center}.right-align{text-align:right}.justify{text-align:justify}.nowrap{white-space:nowrap}.break-word{word-wrap:break-word}.line-height-1{line-height:1}.line-height-2{line-height:1.4}.line-height-3{line-height:1.6}.line-height-4{line-height:2}.list-style-none{list-style:none}.underline{text-decoration:underline}.truncate{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.list-reset{list-style:none;padding-left:0}.inline{display:inline}.block{display:block}.inline-block{display:inline-block}.table{display:table}.table-cell{display:table-cell}.overflow-hidden{overflow:hidden}.overflow-scroll{overflow:scroll}.overflow-auto{overflow:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.left{float:left}.right{float:right}.fit{max-width:100%}.max-width-1{max-width:40rem}.max-width-2{max-width:52rem}.max-width-3{max-width:72rem}.max-width-4{max-width:88rem}.border-box{box-sizing:border-box}.align-baseline{vertical-align:baseline}.align-top{vertical-align:top}.align-middle{vertical-align:middle}.align-bottom{vertical-align:bottom}.m0{margin:0}.mt0{margin-top:0}.mr0{margin-right:0}.mb0{margin-bottom:0}.ml0,.mx0{margin-left:0}.mx0{margin-right:0}.my0{margin-top:0;margin-bottom:0}.m1{margin:1rem}.mt1{margin-top:1rem}.mr1{margin-right:1rem}.mb1{margin-bottom:1rem}.ml1,.mx1{margin-left:1rem}.mx1{margin-right:1rem}.my1{margin-top:1rem;margin-bottom:1rem}.m2{margin:1.5rem}.mt2{margin-top:1.5rem}.mr2{margin-right:1.5rem}.mb2{margin-bottom:1.5rem}.ml2,.mx2{margin-left:1.5rem}.mx2{margin-right:1.5rem}.my2{margin-top:1.5rem;margin-bottom:1.5rem}.m3{margin:3rem}.mt3{margin-top:3rem}.mr3{margin-right:3rem}.mb3{margin-bottom:3rem}.ml3,.mx3{margin-left:3rem}.mx3{margin-right:3rem}.my3{margin-top:3rem;margin-bottom:3rem}.m4{margin:4rem}.mt4{margin-top:4rem}.mr4{margin-right:4rem}.mb4{margin-bottom:4rem}.ml4,.mx4{margin-left:4rem}.mx4{margin-right:4rem}.my4{margin-top:4rem;margin-bottom:4rem}.mxn1{margin-left:-1rem;margin-right:-1rem}.mxn2{margin-left:-1.5rem;margin-right:-1.5rem}.mxn3{margin-left:-3rem;margin-right:-3rem}.mxn4{margin-left:-4rem;margin-right:-4rem}.ml-auto{margin-left:auto}.mr-auto,.mx-auto{margin-right:auto}.mx-auto{margin-left:auto}.p0{padding:0}.pt0{padding-top:0}.pr0{padding-right:0}.pb0{padding-bottom:0}.pl0,.px0{padding-left:0}.px0{padding-right:0}.py0{padding-top:0;padding-bottom:0}.p1{padding:1rem}.pt1{padding-top:1rem}.pr1{padding-right:1rem}.pb1{padding-bottom:1rem}.pl1{padding-left:1rem}.py1{padding-top:1rem;padding-bottom:1rem}.px1{padding-left:1rem;padding-right:1rem}.p2{padding:1.5rem}.pt2{padding-top:1.5rem}.pr2{padding-right:1.5rem}.pb2{padding-bottom:1.5rem}.pl2{padding-left:1.5rem}.py2{padding-top:1.5rem;padding-bottom:1.5rem}.px2{padding-left:1.5rem;padding-right:1.5rem}.p3{padding:3rem}.pt3{padding-top:3rem}.pr3{padding-right:3rem}.pb3{padding-bottom:3rem}.pl3{padding-left:3rem}.py3{padding-top:3rem;padding-bottom:3rem}.px3{padding-left:3rem;padding-right:3rem}.p4{padding:4rem}.pt4{padding-top:4rem}.pr4{padding-right:4rem}.pb4{padding-bottom:4rem}.pl4{padding-left:4rem}.py4{padding-top:4rem;padding-bottom:4rem}.px4{padding-left:4rem;padding-right:4rem}.col{float:left}.col,.col-right{box-sizing:border-box}.col-right{float:right}.col-1{width:8.33333%}.col-2{width:16.66667%}.col-3{width:25%}.col-4{width:33.33333%}.col-5{width:41.66667%}.col-6{width:50%}.col-7{width:58.33333%}.col-8{width:66.66667%}.col-9{width:75%}.col-10{width:83.33333%}.col-11{width:91.66667%}.col-12{width:100%}@media (min-width:40.06rem){.sm-col{float:left;box-sizing:border-box}.sm-col-right{float:right;box-sizing:border-box}.sm-col-1{width:8.33333%}.sm-col-2{width:16.66667%}.sm-col-3{width:25%}.sm-col-4{width:33.33333%}.sm-col-5{width:41.66667%}.sm-col-6{width:50%}.sm-col-7{width:58.33333%}.sm-col-8{width:66.66667%}.sm-col-9{width:75%}.sm-col-10{width:83.33333%}.sm-col-11{width:91.66667%}.sm-col-12{width:100%}}@media (min-width:52.06rem){.md-col{float:left;box-sizing:border-box}.md-col-right{float:right;box-sizing:border-box}.md-col-1{width:8.33333%}.md-col-2{width:16.66667%}.md-col-3{width:25%}.md-col-4{width:33.33333%}.md-col-5{width:41.66667%}.md-col-6{width:50%}.md-col-7{width:58.33333%}.md-col-8{width:66.66667%}.md-col-9{width:75%}.md-col-10{width:83.33333%}.md-col-11{width:91.66667%}.md-col-12{width:100%}}@media (min-width:72.06rem){.lg-col{float:left;box-sizing:border-box}.lg-col-right{float:right;box-sizing:border-box}.lg-col-1{width:8.33333%}.lg-col-2{width:16.66667%}.lg-col-3{width:25%}.lg-col-4{width:33.33333%}.lg-col-5{width:41.66667%}.lg-col-6{width:50%}.lg-col-7{width:58.33333%}.lg-col-8{width:66.66667%}.lg-col-9{width:75%}.lg-col-10{width:83.33333%}.lg-col-11{width:91.66667%}.lg-col-12{width:100%}}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}@media (min-width:40.06rem){.sm-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}@media (min-width:52.06rem){.md-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}@media (min-width:72.06rem){.lg-flex{display:-webkit-box;display:-ms-flexbox;display:flex}}.flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.items-start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.items-end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.items-center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.items-baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}.items-stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}.self-start{-ms-flex-item-align:start;align-self:flex-start}.self-end{-ms-flex-item-align:end;align-self:flex-end}.self-center{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.self-baseline{-ms-flex-item-align:baseline;align-self:baseline}.self-stretch{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;align-self:stretch}.justify-start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.justify-end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.justify-center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.justify-between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.justify-around{-ms-flex-pack:distribute;justify-content:space-around}.content-start{-ms-flex-line-pack:start;align-content:flex-start}.content-end{-ms-flex-line-pack:end;align-content:flex-end}.content-center{-ms-flex-line-pack:center;align-content:center}.content-between{-ms-flex-line-pack:justify;align-content:space-between}.content-around{-ms-flex-line-pack:distribute;align-content:space-around}.content-stretch{-ms-flex-line-pack:stretch;align-content:stretch}.flex-auto{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;min-width:0;min-height:0}.flex-none{-webkit-box-flex:0;-ms-flex:none;flex:none}.order-0{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}.order-1{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.order-2{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}.order-3{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}.order-last{-webkit-box-ordinal-group:100000;-ms-flex-order:99999;order:99999}.relative{position:relative}.absolute{position:absolute}.fixed{position:fixed}.top-0{top:0}.right-0{right:0}.bottom-0{bottom:0}.left-0{left:0}.z1{z-index:1}.z2{z-index:2}.z3{z-index:3}.z4{z-index:4}.border{border-style:solid;border-width:1px}.border-top{border-top-style:solid;border-top-width:1px}.border-right{border-right-style:solid;border-right-width:1px}.border-bottom{border-bottom-style:solid;border-bottom-width:1px}.border-left{border-left-style:solid;border-left-width:1px}.border-none{border:0}.rounded{border-radius:4px}.circle{border-radius:50%}.rounded-top{border-radius:4px 4px 0 0}.rounded-right{border-radius:0 4px 4px 0}.rounded-bottom{border-radius:0 0 4px 4px}.rounded-left{border-radius:4px 0 0 4px}.not-rounded{border-radius:0}.hide{position:absolute;height:1px;width:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}@media (max-width:40rem){.xs-hide{display:none}}@media (min-width:40.06rem) and (max-width:52rem){.sm-hide{display:none}}@media (min-width:52.06rem) and (max-width:72rem){.md-hide{display:none}}@media (min-width:72.06rem){.lg-hide{display:none}}.display-none{display:none}*{box-sizing:border-box}body{background:#fff;color:#323a43;font-family:Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;min-width:100%;overflow-x:hidden;font-smooth:always;-webkit-font-smoothing:antialiased}main{max-width:100%;margin:0 auto}p{padding:0;margin:0}.ampstart-accent{color:#003f93}#content:target{margin-top:calc(0px - 3.5rem);padding-top:3.5rem}.ampstart-title-lg{font-size:2rem;line-height:3.5rem;letter-spacing:.06rem}.ampstart-title-md{font-size:1.5rem;line-height:2.5rem;letter-spacing:.06rem}.ampstart-title-sm{font-size:1.25rem;line-height:2;letter-spacing:.06rem}.ampstart-subtitle,body{line-height:1.6;letter-spacing:normal}.ampstart-subtitle{color:#003f93;font-size:1rem}.ampstart-byline,.ampstart-caption,.ampstart-hint,.ampstart-label{font-size:.875rem;color:#4f4f4f;line-height:1.4;letter-spacing:.06rem}.ampstart-label{text-transform:uppercase}.ampstart-footer,.ampstart-small-text{font-size:.75rem;line-height:1;letter-spacing:.06rem}.ampstart-card{box-shadow:0 1px 1px 0 rgba(0,0,0,.14),0 1px 1px -1px rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}.h1,h1{font-size:2rem;line-height:3.5rem}.h2,h2{font-size:1.5rem;line-height:2.5rem}.h3,h3{font-size:1.25rem;line-height:2}.h4,h4{font-size:1rem;line-height:1.6}.h5,h5{font-size:.875rem;line-height:1.4}.h6,h6{font-size:.75rem;line-height:1}h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:400;letter-spacing:.06rem}a,a:active,a:visited{color:inherit}.ampstart-btn{font-family:inherit;font-weight:inherit;font-size:1rem;line-height:1.4;padding:.7em .8em;text-decoration:none;white-space:nowrap;word-wrap:normal;vertical-align:middle;cursor:pointer;background-color:#323a43;color:#fff;border:1px solid #fff}.ampstart-btn:visited{color:#fff}.ampstart-btn-secondary{background-color:#fff;color:#000;border:1px solid #000}.ampstart-btn-secondary:visited{color:#000}.ampstart-btn:active .ampstart-btn:focus{opacity:.8}.ampstart-btn[disabled],.ampstart-btn[disabled]:active,.ampstart-btn[disabled]:focus,.ampstart-btn[disabled]:hover{opacity:.5;outline:0;cursor:default}.ampstart-dropcap:first-letter{color:#000;font-size:2rem;font-weight:600;float:left;overflow:hidden;line-height:2rem;margin-left:0;margin-right:.5rem}.ampstart-initialcap{padding-top:1.5rem;margin-top:3rem}.ampstart-initialcap:first-letter{color:#000;font-size:2rem;font-weight:600;margin-left:-2px}.ampstart-pullquote{border:none;border-left:4px solid #323a43;font-size:1.25rem;padding-left:3rem}@media (min-width:40.06rem){.sm-p0{padding:0}.sm-pt0{padding-top:0}.sm-pr0{padding-right:0}.sm-pb0{padding-bottom:0}.sm-pl0,.sm-px0{padding-left:0}.sm-px0{padding-right:0}.sm-py0{padding-top:0;padding-bottom:0}.sm-p1{padding:1rem}.sm-pt1{padding-top:1rem}.sm-pr1{padding-right:1rem}.sm-pb1{padding-bottom:1rem}.sm-pl1,.sm-px1{padding-left:1rem}.sm-px1{padding-right:1rem}.sm-py1{padding-top:1rem;padding-bottom:1rem}.sm-p2{padding:1.5rem}.sm-pt2{padding-top:1.5rem}.sm-pr2{padding-right:1.5rem}.sm-pb2{padding-bottom:1.5rem}.sm-pl2,.sm-px2{padding-left:1.5rem}.sm-px2{padding-right:1.5rem}.sm-py2{padding-top:1.5rem;padding-bottom:1.5rem}.sm-p3{padding:3rem}.sm-pt3{padding-top:3rem}.sm-pr3{padding-right:3rem}.sm-pb3{padding-bottom:3rem}.sm-pl3,.sm-px3{padding-left:3rem}.sm-px3{padding-right:3rem}.sm-py3{padding-top:3rem;padding-bottom:3rem}.sm-p4{padding:4rem}.sm-pt4{padding-top:4rem}.sm-pr4{padding-right:4rem}.sm-pb4{padding-bottom:4rem}.sm-pl4,.sm-px4{padding-left:4rem}.sm-px4{padding-right:4rem}.sm-py4{padding-top:4rem;padding-bottom:4rem}}@media (min-width:52.06rem){.md-p0{padding:0}.md-pt0{padding-top:0}.md-pr0{padding-right:0}.md-pb0{padding-bottom:0}.md-pl0,.md-px0{padding-left:0}.md-px0{padding-right:0}.md-py0{padding-top:0;padding-bottom:0}.md-p1{padding:1rem}.md-pt1{padding-top:1rem}.md-pr1{padding-right:1rem}.md-pb1{padding-bottom:1rem}.md-pl1,.md-px1{padding-left:1rem}.md-px1{padding-right:1rem}.md-py1{padding-top:1rem;padding-bottom:1rem}.md-p2{padding:1.5rem}.md-pt2{padding-top:1.5rem}.md-pr2{padding-right:1.5rem}.md-pb2{padding-bottom:1.5rem}.md-pl2,.md-px2{padding-left:1.5rem}.md-px2{padding-right:1.5rem}.md-py2{padding-top:1.5rem;padding-bottom:1.5rem}.md-p3{padding:3rem}.md-pt3{padding-top:3rem}.md-pr3{padding-right:3rem}.md-pb3{padding-bottom:3rem}.md-pl3,.md-px3{padding-left:3rem}.md-px3{padding-right:3rem}.md-py3{padding-top:3rem;padding-bottom:3rem}.md-p4{padding:4rem}.md-pt4{padding-top:4rem}.md-pr4{padding-right:4rem}.md-pb4{padding-bottom:4rem}.md-pl4,.md-px4{padding-left:4rem}.md-px4{padding-right:4rem}.md-py4{padding-top:4rem;padding-bottom:4rem}}@media (min-width:72.06rem){.lg-p0{padding:0}.lg-pt0{padding-top:0}.lg-pr0{padding-right:0}.lg-pb0{padding-bottom:0}.lg-pl0,.lg-px0{padding-left:0}.lg-px0{padding-right:0}.lg-py0{padding-top:0;padding-bottom:0}.lg-p1{padding:1rem}.lg-pt1{padding-top:1rem}.lg-pr1{padding-right:1rem}.lg-pb1{padding-bottom:1rem}.lg-pl1,.lg-px1{padding-left:1rem}.lg-px1{padding-right:1rem}.lg-py1{padding-top:1rem;padding-bottom:1rem}.lg-p2{padding:1.5rem}.lg-pt2{padding-top:1.5rem}.lg-pr2{padding-right:1.5rem}.lg-pb2{padding-bottom:1.5rem}.lg-pl2,.lg-px2{padding-left:1.5rem}.lg-px2{padding-right:1.5rem}.lg-py2{padding-top:1.5rem;padding-bottom:1.5rem}.lg-p3{padding:3rem}.lg-pt3{padding-top:3rem}.lg-pr3{padding-right:3rem}.lg-pb3{padding-bottom:3rem}.lg-pl3,.lg-px3{padding-left:3rem}.lg-px3{padding-right:3rem}.lg-py3{padding-top:3rem;padding-bottom:3rem}.lg-p4{padding:4rem}.lg-pt4{padding-top:4rem}.lg-pr4{padding-right:4rem}.lg-pb4{padding-bottom:4rem}.lg-pl4,.lg-px4{padding-left:4rem}.lg-px4{padding-right:4rem}.lg-py4{padding-top:4rem;padding-bottom:4rem}}body{line-height:1.4}.travel-flip{-webkit-transition:-webkit-transform .1s;transition:-webkit-transform .1s;transition:transform .1s;transition:transform .1s,-webkit-transform .1s;-webkit-transform:rotate(0);transform:rotate(0)}.travel-flip-flipped{-webkit-transform:rotate(180deg);transform:rotate(180deg)}@-webkit-keyframes a{0%{opacity:0;-webkit-transform:translateY(2rem);transform:translateY(2rem)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes a{0%{opacity:0;-webkit-transform:translateY(2rem);transform:translateY(2rem)}to{opacity:1;-webkit-transform:none;transform:none}}@-webkit-keyframes b{0%{opacity:0}to{opacity:1}}@keyframes b{0%{opacity:0}to{opacity:1}}.travel-object-cover,.travel-object-cover>img{-o-object-fit:cover;object-fit:cover}amp-img.rounded img{border-radius:4px}amp-img.circle img{border-radius:50%}.travel-no-focus:focus{outline:none}.travel-type-active,.travel-type-active:visited{color:#fd68ae}.travel-type-artistic,.travel-type-artistic:visited{color:#32dada}.travel-type-drinks,.travel-type-drinks:visited{color:#4e93f8}.travel-type-fashion,.travel-type-fashion:visited{color:#f1c363}.travel-type-food,.travel-type-food:visited{color:#aa5efd}.travel-type-music,.travel-type-music:visited{color:#ec8936}.travel-type-nature,.travel-type-nature:visited{color:#14b52a}.travel-type-nightlife,.travel-type-nightlife:visited{color:#e83a3a}.travel-type-tours,.travel-type-tours:visited{color:#0ece9e}.travel-type-water,.travel-type-water:visited{color:#3abee8}.travel-overflow-container{display:inline-block;min-width:100vw;padding-left:calc((100vw - 72rem) / 2);padding-right:calc((100vw - 72rem) / 2)}.travel-link,.travel-link:visited{color:#8b58e3;text-decoration:none;font-family:inherit;-webkit-transition:color .15s ease-in;transition:color .15s ease-in}.travel-link:hover{color:#b99aef}.travel-link:focus{outline:none;border-bottom:2px solid rgba(50,58,67,.2)}.travel-link.gray,.travel-link.gray:visited{color:#8f98a3}.travel-link.gray:hover{color:#b4b4b4}.travel-pill{border-radius:1em;padding:2px 8px;color:#fff;background-color:#fb52a2}.travel-shadow,.travel-shadow-hover{box-shadow:0 .4rem 1.1rem rgba(50,58,67,.12)}.travel-shadow-hover{-webkit-transition:box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,transform .25s;transition:box-shadow .25s,transform .25s,-webkit-transform .25s}.travel-shadow-hover:not([disabled]):focus,.travel-shadow-hover:not([disabled]):hover{-webkit-transform:scale(1.02) translateY(-2%);transform:scale(1.02) translateY(-2%);box-shadow:0 .4rem 2rem rgba(50,58,67,.4)}.h1.line-height-2,.h2.line-height-2,.h3.line-height-2,.h4.line-height-2,.h5.line-height-2,.h6.line-height-2,h1.line-height-2,h2.line-height-2,h3.line-height-2,h4.line-height-2,h5.line-height-2,h6.line-height-2{line-height:1.4}.ampstart-btn{-webkit-transition:box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,-webkit-transform .25s;transition:box-shadow .25s,transform .25s;transition:box-shadow .25s,transform .25s,-webkit-transform .25s;line-height:1.125rem;padding:.5rem 1rem;border-color:transparent}.ampstart-btn[disabled]{opacity:.5;cursor:default}.ampstart-btn:not([disabled]):hover{-webkit-transform:scale(1.02) translateY(-2%);transform:scale(1.02) translateY(-2%);box-shadow:0 .4rem 2rem rgba(50,58,67,.4)}.ampstart-btn:not([disabled]):focus{outline:none;box-shadow:none}.ampstart-btn.bold{font-weight:600}.travel-date-input{line-height:1.125rem;padding:.5rem 1rem;padding-left:calc(.5rem * 2.5 + 1.2em)}.travel-date-input .travel-icon{position:absolute;left:0;top:0;box-sizing:content-box;padding:.5rem 1rem}.travel-date-input.input-dark .travel-date-input-label,.travel-date-input.input-dark .travel-icon{color:hsla(0,0%,100%,.75)}.travel-date-input input{opacity:0;border:none;background:none;font:inherit;line-height:1.125rem;height:1.125rem;margin-bottom:calc(1.125rem * -1);width:8rem;color:inherit}.travel-date-input-touched input,.travel-date-input input:focus{opacity:1}.travel-date-input input:focus{outline:none}.travel-date-input-touched input~.travel-date-input-label,.travel-date-input input:focus~.travel-date-input-label{opacity:0}.travel-date-input-touched input[disabled],.travel-date-input input[disabled]~.travel-date-input-label,.travel-date-input input[disabled]~.travel-icon{opacity:.5}.travel-date-input input::-webkit-datetime-edit-fields-wrapper{padding:0}.travel-date-input input::-webkit-clear-button,.travel-date-input input::-webkit-inner-spin-button{display:none}.travel-date-input input::-webkit-calendar-picker-indicator{opacity:0;padding:0;position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}.travel-input-icon>.travel-input{padding-left:calc(.5rem * 2.5 + 1.2em)}.travel-input-icon>.travel-input+.travel-icon{position:absolute;left:0;top:0;box-sizing:content-box;padding:.5rem 1rem}.travel-input-icon>.travel-input-big{padding-left:calc(1.25rem * 1.5 + 1.2em)}.travel-input-icon>.travel-input-big+.travel-icon{padding:1rem 1.25rem}.travel-input-icon>.travel-input-clear+.travel-icon,.travel-input-icon>.travel-input-dark+.travel-icon{color:hsla(0,0%,100%,.4)}.travel-input{padding:.5rem 1rem;line-height:1.125rem;background-color:#fff;border-width:1px;border-style:solid;color:inherit}.travel-input:not(.border){border-color:transparent}.travel-input-clear{color:#fff;background:none;border-color:hsla(0,0%,100%,.4)}.travel-input-big{padding:1rem 1.25rem}.travel-input-dark{background:rgba(0,0,0,.2)}.travel-input::-webkit-input-placeholder{color:#8f98a3}.travel-input-dark::-webkit-input-placeholder{color:currentColor;opacity:.75}.travel-input-clear::-webkit-input-placeholder{color:inherit;opacity:.4}.travel-border-gray{border-color:#e3e5e8}.travel-input-group>.travel-input{border-right-width:0}.travel-input-group>a,.travel-input-group>button{border-left-width:0;cursor:pointer;background-color:#fff;border:1px solid transparent}.travel-input-group-sep{width:0;height:1.375rem;border-left-width:1px;border-left-style:solid;margin:0 -.5px;pointer-events:none}.travel-input-group>.travel-input:focus,.travel-input-group>.travel-link:focus{outline:none;border-bottom:.125rem solid;border-bottom-color:#e3e5e8}.travel-activities-activity{-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;text-decoration:none;-webkit-perspective:800px;perspective:800px;margin:0 1.2rem}.travel-activities-activity .circle{background-color:#fff;margin-bottom:2px}.travel-activities-activity:focus,.travel-activities-activity:hover{-webkit-transform:scale(1.1);transform:scale(1.1)}.travel-activities-activity .circle{-webkit-transition:background .15s step-start .15s,-webkit-transform .3s ease-in-out;transition:background .15s step-start .15s,-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out,background .15s step-start .15s;transition:transform .3s ease-in-out,background .15s step-start .15s,-webkit-transform .3s ease-in-out}.travel-activities-activity .travel-activities-activity-icon{-webkit-transition:color .15s step-start .15s,-webkit-transform .15s step-start .15s;transition:color .15s step-start .15s,-webkit-transform .15s step-start .15s;transition:color .15s step-start .15s,transform .15s step-start .15s;transition:color .15s step-start .15s,transform .15s step-start .15s,-webkit-transform .15s step-start .15s}.travel-activities-activity:focus .circle,.travel-activities-activity:hover .circle{background-color:currentColor;-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}.travel-activities-activity:focus .travel-activities-activity-icon,.travel-activities-activity:hover .travel-activities-activity-icon{color:#fff;-webkit-transform:scaleX(-1);transform:scaleX(-1)}.travel-activities-activity:active{-webkit-transition:-webkit-transform .1s;transition:-webkit-transform .1s;transition:transform .1s;transition:transform .1s,-webkit-transform .1s;-webkit-transform:scale(1);transform:scale(1)}.travel-activities-activity:focus{outline:none}.travel-activities-activity-icon{display:-webkit-box;display:-ms-flexbox;display:flex;width:70px;height:70px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;border-radius:100%;font-size:2rem}.travel-angle-1,.travel-angle-2,.travel-angle-3{width:400vw;-webkit-transform-origin:50% 0;transform-origin:50% 0}.travel-angle-left{-webkit-transform:translateX(0);transform:translateX(0)}.travel-angle-right{-webkit-transform:translateX(100%);transform:translateX(100%)}.travel-angle-1{height:800px;-webkit-transform:translate(-50%,-3rem) rotate(20deg);transform:translate(-50%,-3rem) rotate(20deg);background-color:#fafbfc}@media (min-width:52.06rem){.travel-angle-1{-webkit-transform:translate(-50%,-17rem) rotate(20deg);transform:translate(-50%,-17rem) rotate(20deg)}}.travel-angle-2{height:1400px;-webkit-transform:translate(-50%,16rem) rotate(20deg);transform:translate(-50%,16rem) rotate(20deg);background-color:#fff}@media (min-width:52.06rem){.travel-angle-2{-webkit-transform:translate(-50%,20rem) rotate(20deg);transform:translate(-50%,20rem) rotate(20deg)}}.travel-angle-3{height:500px;-webkit-transform:translate(-50%,1rem) rotate(-5deg);transform:translate(-50%,1rem) rotate(-5deg);background-image:-webkit-linear-gradient(left,rgba(207,224,231,.2) 20%,rgba(243,246,247,.4) 50%);background-image:linear-gradient(90deg,rgba(207,224,231,.2) 20%,rgba(243,246,247,.4) 50%)}@media (min-width:52.06rem){.travel-angle-3{-webkit-transform:translate(-50%,16rem) rotate(-5deg);transform:translate(-50%,16rem) rotate(-5deg);-webkit-animation:b .3s .6s ease-in-out both;animation:b .3s .6s ease-in-out both}}.travel-discover-panel{max-width:440px;background-color:#fff}.travel-discover-heading{font-size:3.5rem}.travel-discover-panel-subheading,.travel-discover-subheading{color:#8f98a3}.travel-icon{display:inline-block;vertical-align:-23%;height:1.2em;width:1.2em;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 1.2em}.travel-icon-logo{color:#fff}.travel-img-icon-checkmark-purple{background-image:url(../img/travel/icon/checkmark-purple.png)}.travel-img-icon-map-pin-outline-gray{background-image:url(../img/travel/icon/map-pin-outline-gray.png)}.travel-img-icon-map-pin-transparent{background-image:url(../img/travel/icon/map-pin-transparent.png)}.travel-img-icon-plane-landing-transparent{background-image:url(../img/travel/icon/plane-landing-transparent.png)}.travel-img-icon-plane-taking-off-transparent{background-image:url(../img/travel/icon/plane-taking-off-transparent.png)}.travel-img-icon-sad-face-gray{background-image:url(../img/travel/icon/sad-face-gray.png)}.travel-img-icon-star-green{background-image:url(../img/travel/icon/star-green.png)}.travel-img-icon-star-silver{background-image:url(../img/travel/icon/star-silver.png)}.travel-like-heart-solid{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewbox='0 0 100 100'><path fill='%23FB52A2' d='M50,88.8652765 C76.6666667,70.4615567 90,53.8959001 90,39.1683068 C90,17.0769168 63.1171875,3.83663909 50,27.6306647 C38.875,3.83663909 10,17.0769168 10,39.1683068 C10,53.8959001 23.3333333,70.4615567 50,88.8652765 Z'/></svg>") no-repeat 50% 50%;background-size:contain;-webkit-box-flex:1;-ms-flex:1;flex:1}.travel-like-heart-white{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewbox='0 0 100 100'><path fill='white' d='M50,88.8652765 C76.6666667,70.4615567 90,53.8959001 90,39.1683068 C90,17.0769168 63.1171875,3.83663909 50,27.6306647 C38.875,3.83663909 10,17.0769168 10,39.1683068 C10,53.8959001 23.3333333,70.4615567 50,88.8652765 Z'/></svg>") no-repeat 50% 50%;background-size:contain;-webkit-box-flex:1;-ms-flex:1;flex:1}.travel-like-heart-outline{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewbox='0 0 100 100'><path fill='none' stroke='white' stroke-width='5' d='M50,88.8652765 C76.6666667,70.4615567 90,53.8959001 90,39.1683068 C90,17.0769168 63.1171875,3.83663909 50,27.6306647 C38.875,3.83663909 10,17.0769168 10,39.1683068 C10,53.8959001 23.3333333,70.4615567 50,88.8652765 Z'/></svg>") no-repeat 50% 50%;background-size:contain;-webkit-box-flex:1;-ms-flex:1;flex:1}.travel-like input{clip:rect(0 0 0 0)}.travel-like-hearts{width:2rem;height:2rem;background:rgba(0,0,0,.15);cursor:pointer}.travel-like-hearts:before{content:"";display:block;position:absolute;top:0;right:0;bottom:0;left:0;border-radius:50%;border:1px solid hsla(0,0%,100%,.5);-webkit-transform:scale(0);transform:scale(0)}.travel-like-heart-tiny{width:40%;height:40%;opacity:0}.travel-like-heart-tiny:nth-child(1){top:10%;left:55%;-webkit-animation-delay:.15s;animation-delay:.15s}.travel-like-heart-tiny:nth-child(2){top:-5%;left:30%;-webkit-animation-delay:.25s;animation-delay:.25s}.travel-like-heart-tiny:nth-child(3){top:-25%;left:65%;-webkit-animation-delay:.32s;animation-delay:.32s}.travel-like-heart{top:12%;right:12%;bottom:12%;left:12%}.travel-like-heart.travel-like-heart-solid,.travel-like-heart.travel-like-heart-white{opacity:0;-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}.travel-like-heart.travel-like-heart-outline{-webkit-transition:opacity .1s;transition:opacity .1s;-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}.travel-like input:checked+.travel-like-hearts:before{-webkit-animation:1.2s e both;animation:1.2s e both}.travel-like input:checked+.travel-like-hearts>.travel-like-heart-tiny{-webkit-animation-duration:.6s;animation-duration:.6s;-webkit-animation-name:f;animation-name:f}.travel-like input:checked+.travel-like-hearts>.travel-like-heart.travel-like-heart-outline{opacity:0}.travel-like input:checked+.travel-like-hearts>.travel-like-heart.travel-like-heart-solid{-webkit-animation:1.2s c both cubic-bezier(.445,.05,.55,.95);animation:1.2s c both cubic-bezier(.445,.05,.55,.95)}.travel-like input:checked+.travel-like-hearts>.travel-like-heart.travel-like-heart-white{-webkit-animation:1.2s d both;animation:1.2s d both}@-webkit-keyframes c{0.00%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:1}14.68%{-webkit-transform:translateZ(0) scale(1.26);transform:translateZ(0) scale(1.26)}31.75%{-webkit-transform:translateZ(0) scale(.94);transform:translateZ(0) scale(.94)}48.81%{-webkit-transform:translateZ(0) scale(1.01);transform:translateZ(0) scale(1.01);opacity:1}65.87%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}80%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}to{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}}@keyframes c{0.00%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:1}14.68%{-webkit-transform:translateZ(0) scale(1.26);transform:translateZ(0) scale(1.26)}31.75%{-webkit-transform:translateZ(0) scale(.94);transform:translateZ(0) scale(.94)}48.81%{-webkit-transform:translateZ(0) scale(1.01);transform:translateZ(0) scale(1.01);opacity:1}65.87%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}80%{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}to{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1);opacity:0}}@-webkit-keyframes d{48%{opacity:0}49%{opacity:1}to{opacity:1}}@keyframes d{48%{opacity:0}49%{opacity:1}to{opacity:1}}@-webkit-keyframes e{0%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:0}30%{opacity:1}40%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2)}50%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}to{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}}@keyframes e{0%{-webkit-transform:translateZ(0) scale(0);transform:translateZ(0) scale(0);opacity:0}30%{opacity:1}40%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2)}50%{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}to{-webkit-transform:translateZ(0) scale(1.2);transform:translateZ(0) scale(1.2);opacity:0}}@-webkit-keyframes f{0%{-webkit-transform:translate3d(-50%,0,0) scale(0);transform:translate3d(-50%,0,0) scale(0);opacity:1}to{-webkit-transform:translate3d(-50%,-100%,0) scale(1);transform:translate3d(-50%,-100%,0) scale(1);opacity:0}}@keyframes f{0%{-webkit-transform:translate3d(-50%,0,0) scale(0);transform:translate3d(-50%,0,0) scale(0);opacity:1}to{-webkit-transform:translate3d(-50%,-100%,0) scale(1);transform:translate3d(-50%,-100%,0) scale(1);opacity:0}}:root .travel-popular .travel-results-result{-webkit-animation:none;animation:none}.travel-popular-tilt-left,.travel-popular-tilt-right{display:inline-block;position:relative;-webkit-perspective:1000px;perspective:1000px;-webkit-perspective-origin:50% calc(100% + 4rem);perspective-origin:50% calc(100% + 4rem)}.travel-popular-tilt-left .travel-results-result{-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:rotateY(-15deg);transform:rotateY(-15deg)}.travel-popular-tilt-right .travel-results-result{-webkit-transform-origin:100% 0;transform-origin:100% 0;-webkit-transform:rotateY(15deg);transform:rotateY(15deg)}.travel-popular-tilt-left:before,.travel-popular-tilt-right:before{content:"";display:block;position:absolute;top:3rem;right:3rem;bottom:2rem;left:3rem;box-shadow:0 0 2.2rem 2.2rem rgba(50,58,67,.2)}.travel-popular-tilt-left:before{-webkit-transform-origin:2rem calc(100% + 2rem);transform-origin:2rem calc(100% + 2rem);-webkit-transform:translateY(.28rem) rotate(2.5deg);transform:translateY(.28rem) rotate(2.5deg)}.travel-popular-tilt-right:before{-webkit-transform-origin:calc(100% + 2rem) calc(100% + 2rem);transform-origin:calc(100% + 2rem) calc(100% + 2rem);-webkit-transform:translateY(.28rem) rotate(-2.5deg);transform:translateY(.28rem) rotate(-2.5deg)}.travel-results-result{-webkit-animation:a .4s ease-in-out both;animation:a .4s ease-in-out both;-webkit-animation-delay:.11s;animation-delay:.11s}.travel-results-result-link{border-radius:4px}.travel-results-result-link amp-img{background-color:#e3e5e8}.travel-results-result-text{color:#323a43}.travel-results-result-subtext{color:#8f98a3}.travel-results-result-stars{color:#e3e5e8}.travel-results-result-stars.green{color:#47b074}.travel-results-result-flags,.travel-results-result-like{pointer-events:none}.travel-results-result-flags>*,.travel-results-result-like>*{pointer-events:all}.travel-results-result-flags,.travel-results-result-like,.travel-results-result-link{-webkit-transition:-webkit-transform .2s;transition:-webkit-transform .2s;transition:transform .2s;transition:transform .2s,-webkit-transform .2s}.travel-results-result-link:focus,.travel-results-result:hover .travel-results-result-link{outline:none}.travel-results-result-link:focus,.travel-results-result-link:focus~.travel-results-result-flags,.travel-results-result-link:focus~.travel-results-result-like,.travel-results-result:hover .travel-results-result-flags,.travel-results-result:hover .travel-results-result-like,.travel-results-result:hover .travel-results-result-link{-webkit-transform:translateY(-.5rem);transform:translateY(-.5rem)}@-webkit-keyframes g{0%{opacity:0;-webkit-transform:translate3d(5vmax,2vmax,0) scale(1.1);transform:translate3d(5vmax,2vmax,0) scale(1.1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(0,-2vmax,0) scale(1);transform:translate3d(0,-2vmax,0) scale(1)}}@keyframes g{0%{opacity:0;-webkit-transform:translate3d(5vmax,2vmax,0) scale(1.1);transform:translate3d(5vmax,2vmax,0) scale(1.1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(0,-2vmax,0) scale(1);transform:translate3d(0,-2vmax,0) scale(1)}}@-webkit-keyframes h{0%{opacity:0;-webkit-transform:translate3d(-2vmax,0,0) scale(1);transform:translate3d(-2vmax,0,0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(2vmax,-2vmax,0) scale(1.1);transform:translate3d(2vmax,-2vmax,0) scale(1.1)}}@keyframes h{0%{opacity:0;-webkit-transform:translate3d(-2vmax,0,0) scale(1);transform:translate3d(-2vmax,0,0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translate3d(2vmax,-2vmax,0) scale(1.1);transform:translate3d(2vmax,-2vmax,0) scale(1.1)}}@-webkit-keyframes i{0%{opacity:0;-webkit-transform:translate3d(0,2vmax,0) scale(1);transform:translate3d(0,2vmax,0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translateY(-2vmax) scale(1.1);transform:translateY(-2vmax) scale(1.1)}}@keyframes i{0%{opacity:0;-webkit-transform:translate3d(0,2vmax,0) scale(1);transform:translate3d(0,2vmax,0) scale(1)}5%{opacity:1}33%{opacity:1}38%{opacity:0;-webkit-transform:translateY(-2vmax) scale(1.1);transform:translateY(-2vmax) scale(1.1)}}.travel-hero{height:100vmax}.travel-hero-bg{height:70vmax;-webkit-animation:b .8s ease-out both;animation:b .8s ease-out both}.travel-hero-bg:after{content:"";position:absolute;left:0;right:0;height:95vmax;top:calc(70vmax - 300px);background-image:-webkit-linear-gradient(top,transparent,#323a43 300px);background-image:linear-gradient(180deg,transparent,#323a43 300px)}.travel-hero-bg-img{top:-5vmax;right:-5vmax;bottom:-5vmax;left:-5vmax;opacity:0;background:#e3e5e8}.travel-hero-bg-img img{-o-object-fit:cover;object-fit:cover}.travel-hero-bg-img:nth-child(3) img{-o-object-position:80% 100%;object-position:80% 100%}.travel-hero-bg-img:nth-child(1){-webkit-animation:18s g linear infinite;animation:18s g linear infinite;background:url(../img/travel/hero-2-preview.jpg) no-repeat 50% 50%;background-size:cover}.travel-hero-bg-img:nth-child(2){-webkit-animation:18s h linear 6s infinite;animation:18s h linear 6s infinite;background:url(../img/travel/hero-3-preview.jpg) no-repeat 50% 50%;background-size:cover}.travel-hero-bg-img:nth-child(3){-webkit-animation:18s i linear 12s infinite;animation:18s i linear 12s infinite;background:url(../img/travel/hero-1-preview.jpg) no-repeat 50% 50%;background-size:cover}.travel-hero-content{padding-top:86px;height:calc(100vmax - 70px)}.travel-hero-search-dates{color:#fff}.travel-hero-heading{color:#fff;font-size:3.75rem;font-weight:700;letter-spacing:normal;-webkit-animation:a .4s .2s ease-in-out both;animation:a .4s .2s ease-in-out both}.travel-hero-subheading{color:#fff;font-size:18px;letter-spacing:normal;-webkit-animation:a .4s .25s ease-in-out both;animation:a .4s .25s ease-in-out both}.travel-hero-search .travel-input-icon{-webkit-animation:a .4s .3s ease-in-out both;animation:a .4s .3s ease-in-out both}.travel-hero-search-dates{-webkit-animation:a .4s .35s ease-in-out both;animation:a .4s .35s ease-in-out both}.travel-hero-search .ampstart-btn{font-size:1.25rem;background-color:#8b58e3;-webkit-animation:a .4s .4s ease-in-out both;animation:a .4s .4s ease-in-out both}.travel-hero-discover{color:#8f98a3;cursor:pointer;-webkit-animation:a .4s .45s ease-in-out both;animation:a .4s .45s ease-in-out both}.travel-hero-discover svg{display:block;margin:0 auto}.travel-angles{-webkit-animation:a .4s .5s ease-in-out both;animation:a .4s .5s ease-in-out both}.travel-discover{-webkit-animation:a .4s .55s ease-in-out both;animation:a .4s .55s ease-in-out both}.travel-activities{-webkit-animation:a .4s .6s ease-in-out both;animation:a .4s .6s ease-in-out both}@media (min-width:52.06rem){.travel-hero{z-index:1;height:auto}.travel-hero-bg,.travel-hero-content{position:relative;height:auto}.travel-hero-content{padding-top:calc(86px + 56px);padding-bottom:3rem}.travel-hero-heading{font-size:4.6rem}.travel-hero-subheading{font-size:1.5rem}.travel-hero-search{margin-top:4.25rem;max-width:530px}.travel-hero-search .travel-input{color:inherit;background-color:#fff;border-color:transparent}.travel-hero-search .travel-input-clear+.travel-icon{color:inherit}.travel-hero .ampstart-btn{display:inline-block;width:auto}.travel-hero-search-dates{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;color:#323a43}.travel-hero-search-dates .travel-date-input{-webkit-box-flex:0;-ms-flex:none;flex:none}}@media (min-width:40.06rem){.travel-header .travel-icon-logo{margin:inherit}}.travel-footer{background-color:#fff}.travel-footer amp-img{background-color:#e3e5e8}.travel-footer .link.gray:focus{border-bottom:.125rem solid hsla(0,0%,100%,.25)}.travel-footer-angle-block{left:50%}.travel-footer-right-column .blue{color:#3682ec}.travel-footer-input-bg{top:50%;bottom:-1px}.travel-footer-angle{width:200vw;bottom:100%;height:800px;-webkit-transform:translate(-25%,50px) rotate(20deg);transform:translate(-25%,50px) rotate(20deg);background-color:#dce6ea;opacity:.2}.travel-footer-angle-block{left:50%;background:#fff}.travel-newsletter-signup{background-color:#fff}.travel-footer .bg-black{background-color:#323a43}.travel-footer .gray{color:#8f98a3}.travel-footer-wrapper{background-color:#fff}@media (min-width:52.06rem){.travel-newsletter-signup{background-color:transparent;position:absolute;top:4rem;padding-left:4rem;left:50%}.travel-newsletter-signup .blue{font-size:2rem;color:#323a43}.travel-footer-input-bg{position:absolute;top:50%;bottom:-1px}.travel-footer .travel-input-group{box-shadow:none}.travel-footer .travel-input-group>button{border-color:#e3e5e8;border-top-style:solid;border-left-width:0}.travel-footer .travel-input-group>.travel-input{border-color:#e3e5e8}}.travel-featured-heading{letter-spacing:none}.travel-featured-grid,.travel-featured-tile{margin:2px}.travel-featured-tile-heading{letter-spacing:.1em}.travel-featured-tile:focus,.travel-featured-tile:hover{z-index:1}.travel-featured-tile amp-img{-webkit-transition:box-shadow .5s ease-out,-webkit-transform .5s ease-out;transition:box-shadow .5s ease-out,-webkit-transform .5s ease-out;transition:transform .5s ease-out,box-shadow .5s ease-out;transition:transform .5s ease-out,box-shadow .5s ease-out,-webkit-transform .5s ease-out}.travel-featured-tile img{-webkit-transition:-webkit-transform 2s ease-out;transition:-webkit-transform 2s ease-out;transition:transform 2s ease-out;transition:transform 2s ease-out,-webkit-transform 2s ease-out;-webkit-transform-origin:50% 66%;transform-origin:50% 66%}.travel-featured-tile:focus amp-img,.travel-featured-tile:hover amp-img{box-shadow:0 .6rem 2rem rgba(50,58,67,.4);-webkit-transform:scale(1.05);transform:scale(1.05)}.travel-featured-tile:focus img,.travel-featured-tile:hover img{-webkit-transform:scale(1.3);transform:scale(1.3)}.travel-featured-tile .travel-featured-overlay{color:#fff;-webkit-transition:-webkit-transform 2s ease-out;transition:-webkit-transform 2s ease-out;transition:transform 2s ease-out;transition:transform 2s ease-out,-webkit-transform 2s ease-out}.travel-featured-tile:hover .travel-featured-overlay{-webkit-transform:translateY(1rem);transform:translateY(1rem)}.travel-featured-tile amp-img:after{content:"";display:block;position:absolute;top:0;left:0;width:100%;padding-bottom:75%;opacity:.9;background-image:-webkit-linear-gradient(top,currentColor,transparent);background-image:linear-gradient(180deg,currentColor 0,transparent)}@media (min-width:40.06rem){.travel-featured-grid,.travel-featured-tile{margin:4px}}@media (min-width:52.06rem){.travel-featured:after{content:"";position:absolute;width:100%;z-index:-1;bottom:0;left:0;right:0;height:112px;margin-bottom:-8px;background-color:#8b58e3}.travel-featured-grid,.travel-featured-tile{margin:6px}}@media (min-width:72.06rem){.travel-featured-grid,.travel-featured-tile{margin:8px}}.travel-featured-color-blue,.travel-featured-color-blue:visited{color:#1b65d6}.travel-featured-color-cyan,.travel-featured-color-cyan:visited{color:#91b2c0}.travel-featured-color-orange,.travel-featured-color-orange:visited{color:#e2a367}.travel-featured-color-purple,.travel-featured-color-purple:visited{color:#281a5f}.travel-featured-color-cornflower,.travel-featured-color-cornflower:visited{color:#477bad}.travel-featured-color-teal,.travel-featured-color-teal:visited{color:#13a3c4}.travel-search{background-color:#8b58e3}.travel-search-heading{color:#fff}.travel-search .travel-link{background-color:#fff}
  body
  
    mixin liststore(item,title,desc,id)
           a.travel-featured-tile.flex.flex-auto.relative.travel-featured-color-cyan(href="/bits/?s="+id, on="tap:AMP.setState({fields_query: 'Barcelona', query_query: 'Barcelona'})")
                      amp-img.travel-object-cover.flex-auto(layout='responsive', width='264', height='246', src=item)
                      .travel-featured-overlay.absolute.z1.center.top-0.right-0.bottom-0.left-0.white.p2
                        .travel-featured-tile-heading.bold.caps.line-height-2.h3 #{title}
                        .h5 #{desc}
    mixin listpromo(item,title,desc,id,promoOwner,discount)
          .m1.mt3.mb2
                    .travel-popular-tilt-right.mb1
                      .relative.travel-results-result
                        a.travel-results-result-link.block.relative(href="/bits/?s="+id)
                          //amp-img.block.rounded(width='346', height='200', noloading='', src=item, srcset='../img/travel/activity/surf-day@2x.jpg 2x, ../img/travel/activity/surf-day.jpg 1x')
                          amp-img.block.rounded(width='346', height='200', noloading='', src=item)
                        .travel-results-result-like.absolute.top-0.right-0
                          .p1
                            // Like Button
                            label.travel-like
                              input.absolute(type='checkbox')
                              .travel-like-hearts.circle.inline-block.relative
                                .travel-like-heart-tiny.travel-like-heart-solid.absolute
                                .travel-like-heart-tiny.travel-like-heart-solid.absolute
                                .travel-like-heart-tiny.travel-like-heart-solid.absolute
                                .travel-like-heart.travel-like-heart-white.absolute.mx-auto
                                .travel-like-heart.travel-like-heart-solid.absolute.mx-auto
                                .travel-like-heart.travel-like-heart-outline.absolute.mx-auto
                            // / Like Button
                    .h2.line-height-2.mb1
                      span.travel-results-result-text #{desc}
                      span.travel-results-result-subtext.h3 •
                      //span.travel-results-result-subtext.h3 $ 
                      span.black.bold #{title}
                    .h4.line-height-2
                      .inline-block.relative.mr1.h3.line-height-2
                        .travel-results-result-stars.green ★★★★★
                      span.travel-results-result-subtext.mr1 241 Reviews
                      span.travel-results-result-subtext
                        svg.travel-icon(viewbox='0 0 77 100')
                          g(fill='none', fill-rule='evenodd')
                            path(stroke='currentColor', stroke-width='7.5', d='M38.794 93.248C58.264 67.825 68 49.692 68 38.848 68 22.365 54.57 9 38 9S8 22.364 8 38.85c0 10.842 9.735 28.975 29.206 54.398a1 1 0 0 0 1.588 0z')
                            circle(cx='38', cy='39', r='10', fill='currentColor')
                        |  Oaxaca
    amp-state#ui_hero
      script(type='application/json').
        true
    amp-state#ui_reset
      script(type='application/json').
        false
    amp-state#ui_filterPane
      script(type='application/json').
        false
    amp-state#ui_sortPane
      script(type='application/json').
        false
    amp-state#fields_query
      script(type='application/json').
        ""
    amp-state#fields_query_initial
      script(type='application/json').
        ""
    amp-state#fields_query_live
      script(type='application/json').
        ""
    amp-state#fields_query_edited
      script(type='application/json').
        false
    amp-state#query_query
      script(type='application/json').
        ""
    amp-state#fields_departure
      script(type='application/json').
        ""
    amp-state#fields_departure_initial
      script(type='application/json').
        ""
    amp-state#fields_departure_edited
      script(type='application/json').
        false
    amp-state#query_departure
      script(type='application/json').
        ""
    amp-state#fields_return
      script(type='application/json').
        ""
    amp-state#fields_return_initial
      script(type='application/json').
        ""
    amp-state#fields_return_edited
      script(type='application/json').
        false
    amp-state#query_return
      script(type='application/json').
        ""
    amp-state#fields_type
      script(type='application/json').
        []
    amp-state#fields_type_initial
      script(type='application/json').
        []
    amp-state#fields_type_edited
      script(type='application/json').
        false
    amp-state#query_type
      script(type='application/json').
        []
    amp-state#fields_city
      script(type='application/json').
        []
    amp-state#fields_city_initial
      script(type='application/json').
        []
    amp-state#fields_city_edited
      script(type='application/json').
        false
    amp-state#query_city
      script(type='application/json').
        []
    amp-state#fields_sort
      script(type='application/json').
        "popularity-desc"
    amp-state#fields_sort_initial
      script(type='application/json').
        "popularity-desc"
    amp-state#fields_sort_edited
      script(type='application/json').
        false
    amp-state#query_sort
      script(type='application/json').
        "popularity-desc"
    amp-state#fields_maxPrice
      script(type='application/json').
        801
    amp-state#fields_maxPrice_initial
      script(type='application/json').
        801
    amp-state#fields_maxPrice_live
      script(type='application/json').
        801
    amp-state#fields_maxPrice_edited
      script(type='application/json').
        false
    amp-state#query_maxPrice
      script(type='application/json').
        801
    section.travel-main-wrapper.overflow-hidden(role='main')
      section.relative.z2
        header.travel-header.absolute.top-0.right-0.left-0
          .px1.md-px2.py1.md-py2.flex.justify-between.items-center
            a.travel-icon-logo.mx-auto.inline-block.circle(href='travel.amp')
              svg.travel-icon.travel-icon-logo.h2(viewbox='0 0 100 100')
                g(fill='none', fill-rule='evenodd', stroke='currentColor', stroke-width='7.5')
                  circle(cx='50', cy='50', r='45')
                  path(d='M20.395 83.158c-2.37-10.263-.79-18.553 4.737-24.87 8.29-9.472 17.763-1.183 26.052-9.472 8.29-8.29 2.37-18.948 10.658-26.053 5.526-4.737 12.237-6.316 20.132-4.737M39.084 95c-2.788-10.2-1.912-17.304 2.627-21.316 6.808-6.017 14.956-.68 24.088-9.623 9.13-8.94 3.062-17.133 10.255-23.534 4.795-4.267 10.282-5.668 16.46-4.203')
      // Hero
      .travel-hero-bg.absolute.col-12
        amp-img.travel-hero-bg-img.absolute(src=cover, height='80vmax', noloading='')
          for promo in promos
               amp-img.travel-hero-bg-img.absolute(src=promo.promoBanner, height='80vmax', noloading='')
               
      section.travel-hero.relative
        .travel-hero-content.max-width-3.mx-auto.absolute.top-0.left-0.right-0.flex.self-end.items-center
          .travel-hero-content-inner.relative.px1.md-px2.flex-auto.self-end
            header
              h1.travel-hero-heading.mb2.line-height-1
                | #{name}
              h2.travel-hero-subheading.line-height-2.bold.xs-hide.sm-hide #{tagline}
            // Search Form
            .travel-hero-search
              label.travel-input-icon.travel-shadow.flex.col-12.relative.rounded
                input.travel-input.travel-input-big.travel-input-clear.border.block.col-12.rounded(list='locations', type='text', name='query', placeholder='Where would you like to stay?', on='\
                change:AMP.setState({\
                fields_query: event.value,\
                fields_query_live: event.value,\
                fields_query_edited: query_query != event.value\
                });\
                input-debounced:AMP.setState({\
                fields_query_live: event.value\
                });\
                ', value='', [value]='fields_query')
                svg.travel-icon(viewbox='0 0 74 100')
                  path(fill='currentColor', d='M40.18 95.404A3.944 3.944 0 0 1 37 97a3.944 3.944 0 0 1-3.18-1.596C28.268 87.787 5 54.66 5 34.334 5 17.027 19.327 3 37 3c17.673 0 32 14.028 32 31.333 0 20.327-23.267 53.454-28.82 61.07zM37 14.75c-11.046 0-20 8.768-20 19.583 0 10.816 8.954 19.584 20 19.584s20-8.768 20-19.584c0-5.193-2.107-10.174-5.858-13.847-3.75-3.672-8.838-5.736-14.142-5.736z')
              amp-list(layout='flex-item', src='/api/places?types=(regions)&types=(cities)&input=', [src]="'/api/places?types=(regions)&types=(cities)&input=' + fields_query_live")
                template(type='amp-mustache')
                  datalist#locations
                    | {{#predictions}}
                    option(value='{{description}}')
                      | {{/predictions}}
              .travel-hero-search-dates.flex.my2.justify-around
                label.travel-date-input.relative.bold.flex-auto([class]="'travel-date-input relative bold flex-auto' + (fields_departure ? ' travel-date-input-touched' : '')")
                  input.block.relative.p0.z1(type='date', placeholder='yyyy-mm-dd', pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}', title='yyyy-mm-dd', name='departure', on='\
                  change:AMP.setState({\
                  fields_departure: true,\
                  fields_departure_edited: true\
                  })\
                  ')
                  svg.travel-icon(viewbox='0 0 100 100')
                    path(fill='currentColor', d='M7.93 79.476h84.32v8.876H7.93v-8.876zm86.848-41.538c-.932-3.55-4.615-5.68-8.165-4.704l-23.566 6.302L32.427 11l-8.566 2.263 18.374 31.82-22.056 5.902-8.743-6.834L5 45.883l8.077 14.023 3.417 5.903 7.1-1.91 23.566-6.3 19.305-5.148 23.565-6.302c3.594-1.02 5.68-4.66 4.748-8.21z')
                  .travel-date-input-label
                    | Check-In
                label.travel-date-input.relative.bold.flex-auto([class]="'travel-date-input relative bold flex-auto' + (fields_return ? ' travel-date-input-touched' : '')")
                  input.block.relative.p0.z1(type='date', placeholder='yyyy-mm-dd', pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}', title='yyyy-mm-dd', name='return', on='\
                  change:AMP.setState({\
                  fields_return: true,\
                  fields_return_edited: true\
                  })\
                  ', disabled='', [disabled]='!fields_departure')
                  svg.travel-icon(viewbox='0 0 100 100')
                    path(fill='currentColor', d='M7.929 79.476h84.32v8.876H7.929v-8.876zm81.693-15.409c1.03-3.523-1.03-7.246-4.576-8.238L61.6 49.094 50.051 8.863l-8.508-2.471-.64 36.737-21.946-6.3-3.974-10.361-6.407-1.831-.3 16.18-.11 6.82 7.069 2.021 23.445 6.735 19.199 5.53 23.445 6.736c3.607.976 7.269-1.069 8.298-4.592z')
                  .travel-date-input-label
                    | Check-Out
              a.ampstart-btn.travel-input-big.rounded.center.bold.white.block.col-12(href='travel-results.amp', on='\
              tap:AMP.setState({\
              ui_reset: false,\
              ui_filterPane: false,\
              query_query: fields_query,\
              fields_query_edited: false,\
              query_departure: fields_departure,\
              fields_departure_edited: false,\
              query_return: fields_return,\
              fields_return_edited: false,\
              query_maxPrice: fields_maxPrice,\
              fields_maxPrice_edited: false,\
              query_city: fields_city,\
              fields_city_edited: false,\
              query_type: fields_type,\
              fields_type_edited: false,\
              query_sort: fields_sort,\
              fields_sort_edited: false,\
              })\
              ')
                | Find a Space
              // / Search Form
              a.travel-hero-discover.block.center.mx-auto.mt1.md-hide.lg-hide(on='tap:travel-landing-content.scrollTo')
                | Explore 
                svg.travel-icon(viewbox='0 0 66 100')
                  path(fill='currentColor', d='M33.5 56.172l-18.96-18.1c-1.497-1.43-3.922-1.43-5.418 0a3.539 3.539 0 0 0 0 5.17l21.67 20.687a3.914 3.914 0 0 0 2.708 1.07c.98 0 1.96-.357 2.71-1.07l21.668-20.687a3.541 3.541 0 0 0 0-5.172c-1.496-1.427-3.92-1.427-5.417 0L33.5 56.173z')
      // / Hero
      #travel-landing-content.travel-landing-content.relative
        // Angles
        .travel-angles.max-width-3.mx-auto
          .travel-angle-left
            .travel-angle-1.absolute
          .travel-angle-left
            .travel-angle-2.absolute
          .travel-angle-right
            .travel-angle-3.absolute
        // / Angles
        // Discover
        section.travel-discover.py4.mb3.relative.xs-hide.sm-hide
          .max-width-3.mx-auto.px1.md-px2
            .flex.justify-between.items-center
              header
                h2.travel-discover-heading.bold.line-height-2.xs-hide.sm-hide
                  | Discover
                  br.md-hide.lg-hide
                  |  Spaces
                .travel-discover-subheading.h2.xs-hide.sm-hide Get inspired and find your space
              .travel-discover-panel.travel-shadow-hover.px3.py2.ml1.mr3.myn3.xs-hide.sm-hide
                .bold.h2.line-height-2.my1 From the blog
                p.travel-discover-panel-subheading.h3.my1.line-height-2
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit amet dolor set.
                p.my1
                  a.travel-link(href='#') Read more
        // / Discover
        // Activities
        section.travel-activities.pb4.pt3.relative
          .max-width-3.mx-auto.px1.md-px2
            h3.bold.h1.line-height-2.mb2.md-hide.lg-hide(aria-hidden='true')
              | Spaces
              br
              | by category
            h3.bold.h1.line-height-2.mb2.xs-hide.sm-hide.center Spaces by category
          .overflow-scroll
            .travel-overflow-container
              .flex.justify-center.p1.md-px1.mxn1
                for store in stores
                    a.travel-activities-activity.travel-type-active.mx1(href='travel-results.amp', on="\
                    tap:AMP.setState({\
                    ui_viewIndex: 1,\
                    fields_type: ['active'],\
                    query_type: ['active']\
                    })\
                    ")
                      .travel-shadow.circle.inline-block
                        .travel-activities-activity-icon
                            apm-img(src=store.banner)
                      p.bold.center.line-height-4
                        | #{store.name}
        // / Activities
        .travel-footer-wrapper
          // Popular
          section.travel-popular.pb4.pt3.relative
            header.max-width-3.mx-auto.px1.md-px2
              h3.h1.bold.line-height-2.md-hide.lg-hide(aria-hidden='true')
                | Top Spaces
                br
                | Near You
              h3.h1.bold.line-height-2.xs-hide.sm-hide.center Top Spaces Near You
            .overflow-scroll
              .travel-overflow-container
                .flex.px1.md-px2.mxn1
                   for promo in promos
                    +listpromo(promo.promoBanner,promo.promoName,promo.promoDesc,promo.id,promo.promoOwner,promo.discount)
        
          // / Popular
          // Featured
          section.travel-featured.pt3.relative.clearfix
            header.max-width-2.mx-auto.px1.md-px2.relative
              h3.travel-featured-heading.h1.bold.line-height-2.mb2.center Featured Destinations
            .max-width-3.mx-auto.relative
              .travel-featured-grid.flex.flex-wrap.items-stretch
                .col-12.md-col-6.flex.items-stretch.flex-auto
                  a.travel-featured-tile.flex.flex-auto.relative.travel-featured-color-blue(href='travel-results.amp', on="tap:AMP.setState({fields_query: 'New York', query_query: 'New York'})")
                    amp-img.travel-object-cover.flex-auto(layout='responsive', width='336', height='507', src='../../img/travel/city/new-york.jpg')
                    .travel-featured-overlay.absolute.z1.center.top-0.right-0.bottom-0.left-0.white.p2
                      .travel-featured-tile-heading.caps.bold.line-height-2.h3 New York
                      .h5 379 adventures
                  .flex.flex-column.items-stretch.flex-auto
                     for store in stores
                       +liststore(store.banner,store.name,store.desc,store.id)
          // / Featured
          // Search
          section.travel-search.py4.xs-hide.sm-hide.relative
            .px1.md-px2.pb1.relative
              h3.travel-search-heading.travel-spacing-none.h1.bold.mb2.center Have a specific destination in mind?
              .flex.justify-center.pb2
                .travel-input-group.flex.items-center.col-8
                  input.travel-input.travel-input-big.line-height-2.block.col-12.flex-auto.rounded-left(type='text', name='query', placeholder='Where would you like to go?', on='change:AMP.setState({fields_query: event.value})', value='', [value]='fields_query')
                  span.travel-input-group-sep.travel-border-gray.relative.z1.block
                  a.travel-link.travel-input.travel-input-big.line-height-2.link.rounded-right.nowrap.text-decoration-none(href='travel-results.amp', on='\
                  tap:AMP.setState({\
                  ui_reset: false,\
                  ui_filterPane: false,\
                  query_query: fields_query,\
                  fields_query_edited: false,\
                  query_departure: fields_departure,\
                  fields_departure_edited: false,\
                  query_return: fields_return,\
                  fields_return_edited: false,\
                  query_maxPrice: fields_maxPrice,\
                  fields_maxPrice_edited: false,\
                  query_city: fields_city,\
                  fields_city_edited: false,\
                  query_type: fields_type,\
                  fields_type_edited: false,\
                  query_sort: fields_sort,\
                  fields_sort_edited: false,\
                  })\
                  ')
                    | Find my next adventure
          // / Search
          // Discover mobile
          section.travel-discover-mobile.max-width-3.mx-auto.py3.px1.md-hide.lg-hide
            header
              h2.h1.bold.line-height-2 Discover Adventures
              .travel-discover-subheading.h3 Get inspired and find your next big trip
            .flex.md-mx2.my3.py2.items-center.travel-discover-panel.travel-shadow-hover
              amp-img.rounded.relative.flex-none.mx1(width='100', height='100', src='../../img/travel/blogpost-thumbnail.jpg')
              .flex-auto
                .h3.bold.line-height-2.mb1 From the blog
                p.travel-discover-panel-subheading.my1
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit amet dolor set. 
                  a.travel-link(href='#') Read more
          // / Discover mobile
          // Footer
          footer.travel-footer.overflow-hidden
            .relative.bg-black
              // Angle
              .travel-footer-angle-block.absolute.top-0.bottom-0.right-0.xs-hide.sm-hide
              .travel-footer-angle.absolute.xs-hide.sm-hide
              // / Angle
              // Right column
              .travel-newsletter-signup
                header.max-width-3.mx-auto.px1.md-px2
                  h4.travel-footer-right-column-heading.travel-spacing-none.h2.mb3.blue
                    | Want travel deals
                    br
                    | straight to your inbox?
                  .h4.bold.mb1 Sign up to our newsletter
                .relative
                  .travel-footer-input-bg.bg-black.absolute.right-0.left-0.md-hide.lg-hide
                  .max-width-3.mx-auto.px1.md-px2.relative
                    .travel-input-group.flex.items-center.col-12.rounded.travel-shadow
                      input.travel-input.travel-input-big.block.col-12.flex-auto.rounded-left(type='text', name='email', placeholder='Enter your email')
                      span.travel-input-group-sep.travel-border-gray.relative.z1.block
                      button.travel-link.travel-input-big.nowrap.rounded-right(type='button')
                        | Sign up now
              // / Right column
              // Left column
              .max-width-3.mx-auto.px1.md-px2
                .flex.pt3.md-pt4.col-12.md-col-6.pr3
                  .col-2
                    a.inline-block.h2.line-height-1.circle.white(href='travel.amp')
                      svg.travel-icon.travel-icon-logo.h2(viewbox='0 0 100 100')
                        g(fill='none', fill-rule='evenodd', stroke='currentColor', stroke-width='7.5')
                          circle(cx='50', cy='50', r='45')
                          path(d='M20.395 83.158c-2.37-10.263-.79-18.553 4.737-24.87 8.29-9.472 17.763-1.183 26.052-9.472 8.29-8.29 2.37-18.948 10.658-26.053 5.526-4.737 12.237-6.316 20.132-4.737M39.084 95c-2.788-10.2-1.912-17.304 2.627-21.316 6.808-6.017 14.956-.68 24.088-9.623 9.13-8.94 3.062-17.133 10.255-23.534 4.795-4.267 10.282-5.668 16.46-4.203')
                  .col-5
                    h4.travel-spacing-none.mb2.h3.gray.bold Company
                    .line-height-4.mb4
                      a.travel-link.block.gray(href='#') About
                      a.travel-link.block.gray(href='#') Careers
                      a.travel-link.block.gray(href='#') Contact
                  .col-5
                    h4.travel-spacing-none.mb2.h3.gray.bold Discover
                    .line-height-4.mb4
                      a.travel-link.block.gray(href='#') Activities
                      a.travel-link.block.gray(href='#') Tours
                      a.travel-link.block.gray(href='#') Experiences
                      a.travel-link.block.gray(href='#') Featured Adventures
                      a.travel-link.block.gray(href='#') Search
                .py3.gray
                  | © Copyright 2017
              // / Left column
          // / Footer
