doctype html
//
  Verti by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Jamo Inc.
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='themes/verti/css/main.css')
#page-wrapper
  // Header
  #header-wrapper
    header#header.container
      // Logo
      #logo
        h1
          a(href='index.html') FastCryptoAtm
        span by james industries
      // Nav
      nav#nav
        ul
          li.current
            a(href='index.html') Welcome
          li
            a(href='#') Dropdown
            ul
              li
                a(href='#') Lorem ipsum dolor
              li
                a(href='#') Magna phasellus
              li
                a(href='#') Phasellus consequat
                ul
                  li
                    a(href='#') Lorem ipsum dolor
                  li
                    a(href='#') Phasellus consequat
                  li
                    a(href='#') Magna phasellus
                  li
                    a(href='#') Etiam dolore nisl
              li
                a(href='#') Veroeros feugiat
          li
            a(href='left-sidebar.html') Left Sidebar
          li
            a(href='right-sidebar.html') Right Sidebar
          li
            a(href='no-sidebar.html') No Sidebar
  // Banner
  #banner-wrapper
    #banner.box.container
      .row
        .col-7.col-12-medium
          h2 Fastcryptoatm
          p is a platform that makes it easy to buy and sell bitcoin satoshis
        .col-5.col-12-medium
          ul
            li
              a.button.large.icon.solid.fa-arrow-circle-right(href='#') Ok let&apos;s go
            li
              a.button.alt.large.icon.solid.fa-question-circle(href='#') More info
  // Features
  #features-wrapper
    .container
      bits-exchange(apikey='000' view-mode='carousel' color='#' market-pairs='BTC/KES,ETH/KES')
      .row
        .col-4.col-12-medium
          // Box
          section.box.feature
            a.image.featured(href='#')
              img(src='themes/verti/images/pic01.jpg' alt='')
            .inner
              header
                h2 Put something here
                p Maybe here as well I think
              p
                | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
        .col-4.col-12-medium
          // Box
          section.box.feature
            a.image.featured(href='#')
              img(src='themes/verti/images/pic02.jpg' alt='')
            .inner
              header
                h2 An interesting title
                p This is also an interesting subtitle
              p
                | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
        .col-4.col-12-medium
          // Box
          section.box.feature
            a.image.featured(href='#')
              img(src='themes/verti/images/pic03.jpg' alt='')
            .inner
              header
                h2 Oh, and finally ...
                p Here&apos;s another intriguing subtitle
              p
                | Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.
  // Main
  #main-wrapper
    .container
      .row.gtr-200
        .col-4.col-12-medium
          // Sidebar
          #sidebar
            section.widget.thumbnails
              h3 Interesting stuff
              .grid
                .row.gtr-50
                  .col-6
                    a.image.fit(href='#')
                      img(src='themes/verti/images/pic04.jpg' alt='')
                  .col-6
                    a.image.fit(href='#')
                      img(src='themes/verti/images/pic05.jpg' alt='')
                  .col-6
                    a.image.fit(href='#')
                      img(src='themes/verti/images/pic06.jpg' alt='')
                  .col-6
                    a.image.fit(href='#')
                      img(src='themes/verti/images/pic07.jpg' alt='')
              a.button.icon.fa-file-alt(href='#') More
        .col-8.col-12-medium.imp-medium
          // Content
          #content
            section.last
              h2 So what&apos;s this all about?
              p
                | This is 
                strong Verti
                | , a free and fully responsive HTML5 site template by 
                a(href='http://html5up.net') HTML5 UP
                | .
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Verti is released under the 
                a(href='http://html5up.net/license') Creative Commons Attribution license
                | , so feel free to use it for any personal or commercial project you might have going on (just don&apos;t forget to credit us for the design!)
              p
                | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.
              a.button.icon.solid.fa-arrow-circle-right(href='#') Continue Reading
  // Footer
  #footer-wrapper
    footer#footer.container
      .row
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Links
          section.widget.links
            h3 Random Stuff
            ul.style2
              li
                a(href='#') Etiam feugiat condimentum
              li
                a(href='#') Aliquam imperdiet suscipit odio
              li
                a(href='#') Sed porttitor cras in erat nec
              li
                a(href='#') Felis varius pellentesque potenti
              li
                a(href='#') Nullam scelerisque blandit leo
        .col-3.col-6-medium.col-12-small
          // Contact
          section.widget.contact.last
            h3 Contact Us
            ul
              li
                a.icon.brands.fa-twitter(href='#')
                  span.label Twitter
              li
                a.icon.brands.fa-facebook-f(href='#')
                  span.label Facebook
              li
                a.icon.brands.fa-instagram(href='#')
                  span.label Instagram
              li
                a.icon.brands.fa-dribbble(href='#')
                  span.label Dribbble
              li
                a.icon.brands.fa-pinterest(href='#')
                  span.label Pinterest
            p
              | 1234 Mwiki road
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Nairobi, Kasarani 254
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;(800) 555-0000
      .row
        .col-12
          #copyright
            ul.menu
              li &copy; J Inc. rights reserved
              li
                | Design: 
                a(href='http://html5up.net') JAMES Inc.
// Scripts
script(src='themes/verti/js/jquery.min.js')
script(src='themes/verti/js/jquery.dropotron.min.js')
script(src='themes/verti/js/browser.min.js')
script(src='themes/verti/js/breakpoints.min.js')
script(src='themes/verti/js/util.js')
script(src='/bitsAssets/js/exchange-v1.js' defer='true')
script(src='themes/verti/js/main.js')
