doctype html
// saved from url=(0050)
html.desktop.mbr-site-loaded
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='shortcut icon' href='./index_files/logo2.png' type='image/x-icon')
    meta(name='description' content='a micro, small and medium merchant shopping network')
    title #{name}
    link(rel='stylesheet' href='./themes/dooca/css/mobirise-icons.css')
    link(rel='stylesheet' href='./themes/dooca/css/mobirise2.css')
    link(rel='stylesheet' href='./themes/dooca/css/tether.min.css')
    link(rel='stylesheet' href='./themes/dooca/css/bootstrap.min.css')
    link(rel='stylesheet' href='./themes/dooca/css/bootstrap-grid.min.css')
    link(rel='stylesheet' href='./themes/dooca/css/bootstrap-reboot.min.css')
    link(rel='stylesheet' href='./themes/dooca/css/jquery.formstyler.css')
    link(rel='stylesheet' href='./themes/dooca/css/jquery.formstyler.theme.css')
    link(rel='stylesheet' href='./themes/dooca/css/style.css')
    link(rel='stylesheet' href='./themes/dooca/css/jquery.datetimepicker.min.css')
    link(rel='stylesheet' href='./themes/dooca/css/styles.css')
    link(rel='stylesheet' href='./themes/dooca/css/style_1_.css')
    link(rel='stylesheet' href='./themes/dooca/css/style_2_.css')
    link(rel='stylesheet' href='./themes/dooca/css/recaptcha.css')
    link(rel='preload' as='style' href='./themes/dooca/css/mbr-additional.css')
    link(rel='stylesheet' href='./themes/dooca/css/mbr-additional.css' type='text/css')
    
  body(onload='Init()')
    section#menu1-m.menu.cid-rKYPNHqRuO(once='menu')
      nav.navbar.navbar-dropdown.navbar-fixed-top.navbar-expand-lg
        .container
          .navbar-brand
            span.navbar-caption-wrap
              a#orgName.navbar-caption.mbr-light.text-white.display-5(style='font-size:250%;')
                | #{name}
          a#unliminetBlock.btn.btn-sm.btn-white.display-4(style='opacity:.4;pointer-events:none;position: absolute;right: 0;') offline | connecting..
          a#unliminet.btn.btn-sm.btn-white.display-4(onclick='doPayDooca()', ontouchstart='doPayDooca()', style='display:none;position: absolute;right: 0;') offline | please wait..
    section#header03-t.header03.cid-rKZ0aIBu1Z
      .container
        .row.jc-sb
          .col-md-12.col-lg-7.md-pb(style='flex: 0 0 68.333333%;max-width: 68.333333%;')
            .media-content
              .title-align.align-left
                h2.mbr-section-subtitle.mbr-exbold.align-left.mbr-light.mbr-fonts-style.display-7 MSM ENTERPRISE SHOPPING NETWORK
              h1.mbr-section-title.pb-4.mbr-white.align-left.mbr-exbold.mbr-fonts-style.display-1(style='font-size: 5rem;') SHOP & GET
              h1.mbr-section-title.pb-4.mbr-white.align-left.mbr-exbold.mbr-fonts-style.display-1 CONNECTED!
              p.mbr-text.align-left.pb-3.mbr-white.mbr-fonts-style.display-4
                | Get loyalty points or internet access whenever you shop at your local merchant, with free connectivity on your first two orders!*
              .pricebox(style='width: 120%; display: inline-block;margin-left: 10%;border-radius: 50px;padding: 30px;')
                ul.list(style='width: 45%;float: left;')
                  li.mbr-fonts-style.mbr-bold.item-first.mbr-white.item.display-7 Internet/day @
                div(style='display: flex;')
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 7
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 0
                ul.list(style='width: 55%;float: left;')
                  li.mbr-fonts-style.mbr-bold.item-first.mbr-white.item.display-7 Internet/month @
                div(style='display: flex;')
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 1
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 ,
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 5
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 0
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 0
                ul.list(style='width: 55%;float: left;')
                  li.mbr-fonts-style.mbr-bold.item-first.mbr-white.item.display-7 Security/month @
                div(style='display: flex;')
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 9
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 0
                  .price-wrap(style='margin-left: 0rem;margin-top: 5%;')
                    h3.price.mbr-exbold.mbr-white.align-left.mbr-fonts-style.display-2 0
                a.mbr-iconfont.mbr-bold.mbr-iconfont-btn.mobi-mbri(href='#login' style='z-index: 1000;font-weight: 900;top: 90%;width: 120px;height: 120px;font-size: 2.5rem;') >>
          .col-md-12.img-col.col-lg-5.my-auto(style='flex: 0 0 31.666667%;max-width: 31.666667%;')
            .mbr-figure
              img(loading='lazy' src='./themes/dooca/images/06.png' alt='altText' style='width: 120%; margin-left: -40px; margin-top: 40px;')
    section#content02-1l.content02.cid-rKZwGbRbkp
      .container
        .row.jc-sb
          .col-md-12.col-lg-5.md-pb(style='z-index: 1000;')
            .media-content
              h2.mbr-section-subtitle.mbr-semibold.align-left.mbr-light.mbr-fonts-style.display-5 Delivery
              h1.mbr-section-title.pb-3.align-left.mbr-exbold.mbr-fonts-style.display-2 Choose what you want and pay escrow
              p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                | Smart contract escrow services are available, pay to escrow before delivery and release escrow only after you have confirmed products after delivery. All funds are handled transparently by smart contracts
              .mbr-section-btn.align-left
                a.btn.btn-md.btn-primary.display-4(href='https://algoexplorer.io/address/WRIDGWK3KAPR72ZU4Z3RQHMZHOZN33AZ5LQDABVCUVVSE4A4Z3RBJ2SBDM')
                  span.mobi-mbri.mobi-mbri-users.mbr-iconfont.mbr-iconfont-btn
                  | ESCROW ADDRESS
          .col-md-12.mbr-figure.md-pb
            img(loading='lazy' src='./themes/dooca/images/02.png' alt='altText' style='position: relative;top: 105px;')
          .col-md-12.col-lg-5.md-pb
            .media-content
              h2.mbr-section-subtitle.mbr-semibold.align-right.mbr-light.mbr-fonts-style.display-5 Reward
              h1.mbr-section-title.pb-3.align-right.mbr-exbold.mbr-fonts-style.display-2 Earn points every time you order online
              p.mbr-text.align-right.pb-3.mbr-fonts-style.display-4
                | Earn bitcoin instantly everytime you complete deliveries from your favourite merchant using your bits wallet!
              .mbr-section-btn.align-right
                a.btn.btn-md.btn-primary.display-4(href='https://discord.com/invite/DHJ46Xn9Sd')
                  span.mobi-mbri.mobi-mbri-info.mbr-iconfont.mbr-iconfont-btn
                  | LEARN MORE
    section#pricing01-1k.features05.cid-rKZwEs9QK9
      .container
        .row
          .col-md-12.pb-5.col-lg-12.align-center
            h2.mbr-section-subtitle.mbr-exbold.mbr-light.mbr-fonts-style.display-5 earn bitcoin rewards or discounts with
            h1.mbr-section-title.pb-3.mbr-exbold.mbr-fonts-style.display-2 cashback promotions
          for promo in promos    
            .card.item.features-image.col-12.col-md-6.col-lg-3
              .item-wrapper.align-center
                .card-box.pt-4
                  h4.card-title.pb-3.mbr-bold.mbr-fonts-style.display-7 #{promo.promoName}
                  p.mbr-text.mbr-semibold.mbr-fonts-style.display-4
                    | #{promo.promoDesc}
                  h5.price.pb-4.mbr-bold.mbr-fonts-style.display-7 #{promo.discount}%
                  .mbr-section-btn
                    a.btn.btn-md.btn-white-outline.display-4(href='/bits/index-'+promo.promoOwner+'.html?pid='+promo.id)
                      span.mobi-mbri.mobi-mbri-cart-full.mbr-iconfont.mbr-iconfont-btn
                      | ORDER
                      |                                 NOW
                  .card-img
                    img(src=promo.promoBanner alt='altText')
    section#team01-1u.team01.cid-rKZxz4KoGz
      .container
        .row
          .title.col-12.align-center
            h2.pb-2.mbr-regular.mbr-fonts-style.display-5
              | limited connectivity
            h3.mbr-section-subtitle.mbr-exbold.pb-3.mbr-fonts-style.display-2 free services
      .container.pt-3.mt-2
        .row
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Social
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4
                  | connect to family and friends
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://telegram.org/' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-telegram.socicon
                  a(href='https://whatsapp.com/' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-whatsapp.socicon
                  a(href='https://wikipedia.com/' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-wikipedia.socicon
                  a(href='https://twitter.com/' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
                  a(href='https://www.facebook.com/' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://instagram.com/' target='_blank')
                    span.px-2.icon3.mbr-iconfont.mbr-iconfont-social.socicon-googleplus.socicon
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3(style='display: none;')
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face2.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Access control
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4 manage secure keys for access control
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
                  a(href='https://instagram.com/mobirise' target='_blank')
                    span.px-2.icon3.mbr-iconfont.mbr-iconfont-social.socicon-googleplus.socicon
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3(style='display: none;')
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face3.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Transport
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4
                  | get free routing for your rides
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
                  a(href='https://instagram.com/mobirise' target='_blank')
                    span.px-2.icon3.mbr-iconfont.mbr-iconfont-social.socicon-googleplus.socicon
    section#features07-1v.features07.cid-rKZAJiq8NO(style='display:none;')
      .container
        .row
          .col-md-12.pb-5.col-lg-12.align-center
            h2.mbr-section-subtitle.mbr-exbold.mbr-light.mbr-fonts-style.display-5 investment pools
            h1.mbr-section-title.pb-3.mbr-exbold.mbr-fonts-style.display-2 earn dividends from merchant investments
          for store in stores
            .card.item.features-image.col-12.col-md-10.col-lg-4
              .item-wrapper.card1
                h4.card-title.pb-2.mbr-bold.mbr-fonts-style.display-5(style='position: absolute;margin: 0 10px;color: #464343;text-overflow: ellipsis;width: 80%;overflow: hidden;white-space: nowrap;') #{store.name}
                .card-box.align-left.mbr-white.pt-4(style='margin-top: 20px;')
                  p.mbr-text.mbr-bold.pb-2.mbr-fonts-style.display-7(style='font-size: 1rem;')
                    | #{store.desc}
                  p.mbr-text.mbr-bold.pb-2.mbr-fonts-style.display-7(style='font-size: 1rem;')
                    | size: 0.00 B | returns: 4%
                  p.mbr-text.mbr-bold.pb-2.mbr-fonts-style.display-7(style='font-size: 1rem;')
                    | size: 0.00 B | returns: 4%
                .card-img.my-auto(style='display: inline-block;text-align:center;')
                  img(loading='lazy' src='./themes/dooca/images/03.png' alt='altText')
                  .link-wrap
                    h5.link.mbr-bold.mbr-fonts-style.display-4 View
                    span.mbr-iconfont.mbr-bold.mobi-mbri-right.mobi-mbri
                  .link-wrap
                    h5.link.mbr-bold.mbr-fonts-style.display-4 Invest
                    span.mbr-iconfont.mbr-bold.mobi-mbri-right.mobi-mbri
    section#premium01-1u.premium01.cid-rKZxz4KoGz(style='display:none;')
      .container
        .row
          .title.col-12.align-center
            h2.pb-2.mbr-regular.mbr-fonts-style.display-5
              | unliminet
            h3.mbr-section-subtitle.mbr-exbold.pb-3.mbr-fonts-style.display-2 premium services
      .container.pt-3.mt-2
        .row
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face1.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Deliveries
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4
                  | fast-track notifications on all your deliveries
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
                  a(href='https://instagram.com/mobirise' target='_blank')
                    span.px-2.icon3.mbr-iconfont.mbr-iconfont-social.socicon-googleplus.socicon
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face1.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Security
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4
                  | access community cameras
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
                  a(href='https://instagram.com/mobirise' target='_blank')
                    span.px-2.icon3.mbr-iconfont.mbr-iconfont-social.socicon-googleplus.socicon
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face2.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Games
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4 play online games
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
          .mbr-testimonial.p-3.align-center.col-12.col-md-6.col-lg-3
            .panel-item.p-3
              .card-block
                .testimonial-photo
                  img(loading='lazy' src='assets/images/face3.jpg')
              .card-footer
                .mbr-author-name.mbr-bold.mbr-fonts-style.display-7
                  | Storage
                p.mbr-author-desc.pt-1.mbr-regular.mbr-fonts-style.display-4
                  | Get free 50GB cloud storage
                .social-list.pt-3.pl-0.mb-0
                  a(href='https://twitter.com/mobirise' target='_blank')
                    span.px-2.icon1.mbr-iconfont.mbr-iconfont-social.socicon-facebook.socicon
                  a(href='https://www.facebook.com/pages/Mobirise/1616226671953247' target='_blank')
                    span.px-2.icon2.mbr-iconfont.mbr-iconfont-social.socicon-twitter.socicon
    section#features08-1w.features09.cid-rKZALJTiLI(style='display:none;')
      .container
        .title.col-12.align-center(style='margin-top:-170px;margin-bottom:140px;')
          h2.pb-2.mbr-regular.mbr-fonts-style.display-5
            | Community Pool
          h3.mbr-section-subtitle.mbr-exbold.pb-3.mbr-fonts-style.display-2 MSM Treasury
        .row.justify-content-center
          .col-md-7.col-lg-5.img-col.icon-col(style='display: inline-block;text-align:center;')
            .mbr-figure
              img(loading='lazy' src='./themes/dooca/images/07.png' alt='altText')
            .icon-wrap.align-left(style='display: inline-block;')
              span.mbr-iconfont.mobi-mbri-delivery.mobi-mbri
              h4.icon-text.align-left.mbr-fonts-style.display-4
                strong
                  | Total Fund: 19,800 BITS
            .icon-wrap.align-left(style='display: inline-block;')
              span.mbr-iconfont.mobi-mbri-delivery.mobi-mbri
              h4.icon-text.align-left.mbr-fonts-style.display-4
                strong
                  | 24h Volume: 16 BITS
          .col-md-3.col-lg-2.icon-col
            .icon-wrap.align-left
              span.mbr-iconfont.mobi-mbri-apple.mobi-mbri
              h4.icon-text.align-left.mbr-fonts-style.display-4
                strong
                  | Exchange: 10 BITS = 0.000005214 BTC
            .icon-wrap.align-left
              span.mbr-iconfont.mobi-mbri-globe-2.mobi-mbri
              h4.icon-text.align-left.mbr-fonts-style.display-4
                strong
                  | Rewards: 0.7 BITS: 
            .icon-wrap.align-left
              span.mbr-iconfont.mobi-mbri-users.mobi-mbri
              h4.icon-text.align-left.mbr-fonts-style.display-4
                strong
                  | Avg Performance: 4.5%
    section#accordions01-1y.accordion1.cid-rKZB8Wvyqu(style='display:none;')
      .container
        .row.justify-content-center
          .col-12.col-md-10.pb-5.col-lg-8
            h3.mbr-section-subtitle.mbr-semibold.align-center.mbr-fonts-style.display-5 FAQ
            h2.mbr-section-title.align-center.mbr-exbold.mbr-fonts-style.mbr-black.display-2
              div Questions?
          .col-12.col-md-10.col-lg-8.accordion-section
            .accordion-content
              #bootstrap-accordion_106.panel-group.accordionStyles.accordion(role='tablist' aria-multiselectable='true')
                .card
                  #headingOne.card-header(role='tab')
                    a.panel-title.collapsed.text-black(role='button' data-toggle='collapse' data-core='' href='#collapse1_106' aria-expanded='false' aria-controls='collapse1')
                      h4.mbr-fonts-style.display-7
                        | What products do we use?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse1_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingOne' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus
                        | turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur
                        | tortor. Proin aliquet neque nibh, pretium rutrum quam mattis. Morbi vitae
                        | sodales metus. Pellentesque vel elit ullamcorper, pellentesque magna nec, dictum
                        | purus.
                        br
                .card
                  #headingTwo.card-header(role='tab')
                    a.collapsed.panel-title.text-black(role='button' data-toggle='collapse' data-core='' href='#collapse2_106' aria-expanded='false' aria-controls='collapse2')
                      h4.mbr-fonts-style.display-7
                        | What cuisines are presented
                        | on the menu?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse2_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingTwo' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque
                        | dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius
                        | quis ligula in, aliquet consectetur tortor. Proin aliquet neque nibh, pretium
                        | rutrum quam mattis. Morbi vitae sodales metus. Pellentesque vel elit
                        | ullamcorper, pellentesque magna nec, dictum purus.
                .card
                  #headingThree.card-header(role='tab')
                    a.collapsed.text-black.panel-title(role='button' data-toggle='collapse' data-core='' href='#collapse3_106' aria-expanded='false' aria-controls='collapse3')
                      h4.mbr-fonts-style.display-7
                        | What types of payment do we
                        | accept?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse3_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingThree' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Donec ullamcorper neque dapibus ipsum semper, sit amet luctus
                        | turpis porttitor. Ut libero ante, varius quis ligula in, aliquet consectetur
                        | tortor. Proin aliquet neque nibh, pretium rutrum quam mattis. Morbi vitae
                        | sodales metus. Pellentesque vel elit ullamcorper, pellentesque magna nec, dictum
                        | purus.
                .card
                  #headingFour.card-header(role='tab')
                    a.collapsed.panel-title.text-black(role='button' data-toggle='collapse' data-core='' href='#collapse4_106' aria-expanded='false' aria-controls='collapse4')
                      h4.mbr-fonts-style.display-7
                        | Where to read reviews about
                        | you?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse4_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingFour' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque
                        | dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius
                        | quis ligula in, aliquet consectetur tortor. Proin aliquet neque nibh, pretium
                        | rutrum quam mattis. Morbi vitae sodales metus. Pellentesque vel elit
                        | ullamcorper, pellentesque magna nec, dictum purus.
                .card
                  #headingFive.card-header(role='tab')
                    a.collapsed.panel-title.text-black(role='button' data-toggle='collapse' data-core='' href='#collapse5_106' aria-expanded='false' aria-controls='collapse5')
                      h4.mbr-fonts-style.display-7
                        | How to become our supplier?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse5_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingFive' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque
                        | dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius
                        | quis ligula in, aliquet consectetur tortor. Proin aliquet neque nibh, pretium
                        | rutrum quam mattis. Morbi vitae sodales metus. Pellentesque vel elit
                        | ullamcorper, pellentesque magna nec, dictum purus.
                .card
                  #headingSix.card-header(role='tab')
                    a.collapsed.panel-title.text-black(role='button' data-toggle='collapse' data-core='' href='#collapse6_106' aria-expanded='false' aria-controls='collapse6')
                      h4.mbr-fonts-style.display-7
                        | Want to open a franchise?
                      span.sign.mbr-iconfont.mbri-arrow-down.inactive
                  #collapse6_106.panel-collapse.noScroll.collapse(role='tabpanel' aria-labelledby='headingSix' data-parent='#bootstrap-accordion_106')
                    .panel-body.p-4
                      p.mbr-fonts-style.panel-text.display-4
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper neque
                        | dapibus ipsum semper, sit amet luctus turpis porttitor. Ut libero ante, varius
                        | quis ligula in, aliquet consectetur tortor. Proin aliquet neque nibh, pretium
                        | rutrum quam mattis. Morbi vitae sodales metus. Pellentesque vel elit
                        | ullamcorper, pellentesque magna nec, dictum purus.
    section#testimonials02-1t.carouse2.slide.testimonials-slider.cid-rKZxq3KGfF(data-interval='false' style='display:none;')
      .container.text-center
        .row
          .col-12.col-md-12.pb-5.col-lg-12
            h3.mbr-section-subtitle.mbr-semibold.align-center.mbr-fonts-style.display-5 Reward
            h2.mbr-section-title.align-center.mbr-exbold.mbr-fonts-style.mbr-black.display-2
              | Clients review
        #testimonials02-1t-carousel.carousel.slide.pointer-event(role='listbox' data-pause='true' data-keyboard='false' data-ride='false' data-interval='false')
          .carousel-inner
            .carousel-item.active
              .user.col-md-8
                .user_image
                  img(loading='lazy' src='./themes/dooca/images/face1.jpg')
                p.user_name.pb-1.mbr-bold.mbr-fonts-style.display-7 Ann Grayson
                p.user_status.pb-2.mbr-fonts-style.display-4 Manager
                .user_text.pb-3
                  span.mbr-iconfont.mobi-mbri-quote-left.mobi-mbri
                  p.mbr-fonts-style.mbr-bold.display-7
                    em
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque dapibus ipsum
                      | semper, amet luctus turpis porttitor.
            .carousel-item
              .user.col-md-8
                .user_image
                  img(loading='lazy' src='./themes/dooca/images/face2.jpg')
                p.user_name.pb-1.mbr-bold.mbr-fonts-style.display-7 Jane Brown
                p.user_status.pb-2.mbr-fonts-style.display-4 Client
                .user_text.pb-3
                  span.mbr-iconfont.mobi-mbri-quote-left.mobi-mbri
                  p.mbr-fonts-style.mbr-bold.display-7
                    em
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque dapibus ipsum
                      | semper, amet luctus turpis porttitor.
            .carousel-item
              .user.col-md-8
                .user_image
                  img(loading='lazy' src='./themes/dooca/images/face3.jpg')
                p.user_name.pb-1.mbr-bold.mbr-fonts-style.display-7 Ben Stifler
                p.user_status.pb-2.mbr-fonts-style.display-4 Desinger
                .user_text.pb-3
                  span.mbr-iconfont.mobi-mbri-quote-left.mobi-mbri
                  p.mbr-fonts-style.mbr-bold.display-7
                    em
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec neque dapibus ipsum
                      | semper, amet luctus turpis porttitor.
          ol.carousel-indicators
            li.active(data-app-prevent-settings='' data-target='#testimonials02-1t-carousel' data-slide-to='0')
            li(data-app-prevent-settings='' data-target='#testimonials02-1t-carousel' data-slide-to='1')
            li(data-app-prevent-settings='' data-target='#testimonials02-1t-carousel' data-slide-to='2')
    section#video01-1z.video01.cid-rKZBomf7vw.mbr-parallax-background(style='z-index: 0; background-image: none; position: relative; display:none;')
      .mbr-overlay(style='opacity: 0.3; background-color: rgb(0, 0, 0);')
      .container.align-center
        .row.justify-content-md-center
          .col-lg-7
          .mbr-white.col-md-12.col-12.col-lg-12.p-0
            .mbr-media.show-modal.align-center.py-2(data-modal='.modalWindow1')
              .icon-wrap.m-auto.d-flex.justify-content-center.align-items-center
                span.mbr-iconfont.fa-play.fa.pl-2.mobi-mbri-play.mobi-mbri
      div
        .modalWindow.modalWindow1.w-100.h-100.pt-4(style='display: none;')
          .modalWindow-container.d-table-cell
            .modalWindow-video-container.align-middle
              .modalWindow-video
                iframee(width='100%' height='100%' frameborder='0' allowfullscreen='1' data-src='./index_files/J21qu_vspfg.html')
              a.close(role='button' data-dismiss='modal')
                span.mbri-close.mbr-iconfont.closeModal(aria-hidden='true')
                span.sr-only Close
      #jarallax-container-0(style='position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;')
        div(style='background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url("https://mobirise.com/extensions/dinerm4/assets/images/background2.jpg"); position: fixed; top: 0px; left: 0px; width: 1833px; height: 770.4px; overflow: hidden; pointer-events: none; margin-top: 55.8px; transform: translate3d(0px, 4713.07px, 0px);')
    section#login.form04.cid-rKZx9Oh1LG(style='padding-top: 110px;')
      .container#manageAccountDooca(style='display: none;')
        .row.justify-content-center
          .col-lg-8.my-auto.md-pb.mbr-form(data-form-type='formoid')
            // Formbuilder Form
            //form.mbr-form.form-with-styler(action='https://dooca.bitsoko.org/' method='POST' data-form-title='Form Name')
            div
              .form-row
                .alert.alert-success.col-12(hidden='hidden' data-form-alert='')
                  | Thanks for filling out
                  | the form!
                .alert.alert-danger.col-12(hidden='hidden' data-form-alert-danger='')
                  | Oops...! some
                  | problem!
              .dragArea.form-row
                .col-lg-12
                  h5.align-left.mbr-bold.mbr-fonts-style.display-7
                    | Account Status
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Pause billing anytime and remember to resume unlimited connectivity by clicking the "online" button top right.
                    br
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Pay with bitcoin or use your registered number to deposit to the mobile money account below, then click the "online" button top right to restart billing.
                    br
                //.col-lg-6.col-md-6.col-sm-6.form-group(data-for='name1')
                  input#Name-login.form-control.display-7(type='text' name='name1' placeholder='First name' data-form-field='Name' required='required' value='')
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4.go-security(style='background-color: #f8f9fa !important; border-color: #e7272d !important;color: #e7272d! important;height:100%;width:100%;', href='', onclick='goDoocaSecurity()') security
                .col-lg-1.col-md-1.col-sm-1.form-group
                .col-lg-2.col-md-2.col-sm-2.form-group
                  input#do-payment.form-control.display-7(type='number' name='payment' placeholder='KSH' data-form-field='payment' required='required' value='', disabled='disabled')
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4.do-payment(style='height:100%;width:100%;', href='', onclick='createDoocaPayment()', disabled='disabled') pay
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4.do-payment(style='background-color: #f8f9fa !important; border-color: #e7272d !important;color: #e7272d! important;height:100%;width:100%;', href='', onclick='createDoocaDispute()', disabled='disabled') dispute
                .col-lg-12.col-md-12.col-sm-12.form-group(data-for='Info', style='padding:3%;')
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Funds will be held in escrow for one month then released to community pool unless a dispute is opened.
                    br
                    | Incase your would like a refund, open a dispute and a network admin will call you shortly.
                    br
                  img(loading='lazy' src='./themes/dooca/images/tillnumber.png')
                
            // Formbuilder Form
            
      div.container#signupFormDooca(style='display: none;')
        .row.justify-content-center
          .col-lg-8.my-auto.md-pb.mbr-form(data-form-type='formoid')
            // Formbuilder Form
            //form.mbr-form.form-with-styler(action='https://dooca.bitsoko.org/' method='POST' data-form-title='Form Name')
            div
              .form-row
                .alert.alert-success.col-12(hidden='hidden' data-form-alert='')
                  | Thanks for filling out
                  | the form!
                .alert.alert-danger.col-12#signup-error(hidden='hidden' data-form-alert-danger='')
                  | Oops...!
                  | confirm the email or phone number!
              .dragArea.form-row
                .col-lg-12
                  h5.align-left.mbr-bold.mbr-fonts-style.display-7
                    | Free service!
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | You are already connected to free internet! To get unlimited connectivity, signup below to generate a payment address.
                    br
                .col-lg-6.col-md-6.col-sm-6.form-group(data-for='name1')
                  input#Name-login.form-control.display-7(type='text' name='name1' placeholder='First name' data-form-field='Name' required='required' value='')
                .col-lg-6.col-md-6.col-sm-6.form-group(data-for='name2')
                  input#Name-login.form-control.display-7(type='text' name='name2' placeholder='Second name' data-form-field='Name' required='required' value='')
                .col-lg-12.col-md-12.col-sm-12.form-group(data-for='email')
                  input#Email-login.form-control.display-7(type='email' name='email' placeholder='Email' data-form-field='Email' required='required' value='')
                .col-lg-12.col-md-12.col-sm-12.form-group(data-for='phone')
                  input#Phone-login.form-control.display-7(type='tel' name='phone' placeholder='Phone Number' data-form-field='Phone' required='required' value='')
                .col-lg-6.col-md-12.col-sm-12.form-group
                  button.btn.btn-primary.display-4(style='height:100%;width:100%;', href='', onclick='doSignupDoocanet()') signup
                .col-lg-6.col-md-12.col-sm-12.form-group(data-for='Info', style='padding:3%;')
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Billing is automatically paused when you have been offline for more than 24 hours. Click the "online" button to resume billing.
                    br
                
            // Formbuilder Form
            
      //security
      div.container#securityFormDooca(style='display: none;')
        .row.justify-content-center
          .col-lg-8.my-auto.md-pb.mbr-form(data-form-type='formoid')
            // Formbuilder Form
            //form.mbr-form.form-with-styler(action='https://dooca.bitsoko.org/' method='POST' data-form-title='Form Name')
            div
              .form-row
                .alert.alert-success.col-12(hidden='hidden' data-form-alert='')
                  | Thanks for filling out
                  | the form!
                .alert.alert-danger.col-12(hidden='hidden' data-form-alert-danger='')
                  | Oops...! some
                  | problem!
              .dragArea.form-row
                .col-lg-12
                  h5.align-left.mbr-bold.mbr-fonts-style.display-7
                    | Security settings
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Alerts are automatically sent from all the cameras in your account. Call tech support to help with adding new cameras.
                    br
                    | Security alerts are accesible to any device with your wifi password.
                    br
                .col-lg-8.col-md-8.col-sm-8.form-group(data-for='note1')
                  input#Name-secure.form-control.display-7(type='text' name='note1' placeholder='Security note' data-form-field='Note' required='required' value='')
                .col-lg-4.col-md-4.col-sm-4.form-group(data-for='camera')
                  input#Phone-login.form-control.display-7(type='number' name='camera' placeholder='Camera' data-form-field='Number' required='required' value='')
                .col-lg-6.col-md-6.col-sm-6.form-group(data-for='time-start')
                  input#Time-secure.form-control.display-7(type='time' name='time-start' placeholder='Start Time' data-form-field='Time' required='required' value='')
                .col-lg-6.col-md-6.col-sm-6.form-group(data-for='time-stop')
                  input#Time-secure.form-control.display-7(type='time' name='time-stop' placeholder='Stop Time' data-form-field='Time' required='required' value='')
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4(style='background-color: #f8f9fa !important; border-color: #e7272d !important;color: #e7272d! important;height:100%;width:100%;', href='', onclick='doSecurityClose()') back
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4(style='height:100%;width:100%;', href='', onclick='doSecurityDoocanet()') add new
                .col-lg-3.col-md-3.col-sm-3.form-group
                .col-lg-3.col-md-3.col-sm-3.form-group
                  button.btn.btn-primary.display-4(style='background-color: #f8f9fa !important; border-color: #e7272d !important;color: #e7272d! important;height:100%;width:100%;', href='', onclick='doSecurityDoocanet()') disable
                .col-lg-12.col-md-12.col-sm-12.form-group(data-for='Info', style='padding:3%;')
                  p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
                    | Current notifications:
                    br
                .col-lg-3.col-md-3.col-sm-3.form-group(data-for='c-n-1-a')
                  input#Name-secure.form-control.display-7(type='text' name='c-n-1-a' placeholder='armed person' data-form-field='c-n-1-a' value='' disabled='disabled')
                .col-lg-4.col-md-4.col-sm-4.form-group(data-for='c-n-1-b')
                  input#Name-secure.form-control.display-7(type='text' name='c-n-1-b' placeholder='Start: 10:30 PM - Stop: 6:00 AM' data-form-field='c-n-1-b' value='' disabled='disabled')
                .col-lg-3.col-md-3.col-sm-3.form-group(data-for='c-n-1-b')
                  input#Name-secure.form-control.display-7(type='text' name='c-n-1-c' placeholder='Camera: ALL' data-form-field='c-n-1-c' value='' disabled='disabled')
                .col-lg-2.col-md-2.col-sm-2.form-group(data-for='c-n-1-d' style='font-size: 150%;')
                  a.mbr-iconfont.mbr-bold.mbr-iconfont-btn.mobi-mbri(href="#login" style='z-index: 1000;font-weight: 900;top: 90%;width: 20px;height: 20px;margin: 10px') !
                  a.mbr-iconfont.mbr-bold.mbr-iconfont-btn.mobi-mbri(href="#login" style='z-index: 1000;font-weight: 900;top: 90%;width: 20px;height: 20px;margin: 10px') X
                div#current-notes(style='width: 100%;height: 2px;')
                
                
            // Formbuilder Form
            
      //map
      .google-map#signupMapDooca(style='display: none;')
        .col-lg-12(style='margin: 0 10%;width: 80%;')
          h5.align-left.mbr-bold.mbr-fonts-style.display-7
            | Are you covered?
          p.mbr-text.align-left.pb-3.mbr-fonts-style.display-4
            | If you are located within a dooca network coverage zone, download configuration settings for your device below and align to your nearest base-station to connect.
            br
        iframe(frameborder='0' style='border:0; width: 80%; height: 650px; margin: 0 10%;' src='' data-src='https://www.google.com/maps/d/embed?mid=1-8NMy2QJJUg12UTaIPZ35yh3QtY91yyj' allowfullscreen='')
    section#contacts01-1n.contacts01.cid-rKZx11gvcO
      .container
        .row.mbr-white.justify-content-center
          .card.col-md-8.align-center.col-lg-4
            .item-content
              h3.mbr-section-title.pb-2.mbr-bold.mbr-fonts-style.display-7 Network Admin
              .icon-wrap.icon-padding
                span.mbr-iconfont.mobi-mbri-phone.mobi-mbri
                a(href='tel:+254753336482')
                  h6.location.mbr-bold.mbr-fonts-style.display-7 Telegram/Whatsapp support
              .icon-wrap.icon-padding
                span.mbr-iconfont.mobi-mbri-phone.mobi-mbri
                a(href='tel:+254794333049')
                  h6.location.mbr-bold.mbr-fonts-style.display-7 Technician
              .icon-wrap.icon-padding
                span.mbr-iconfont.mobi-mbri-phone.mobi-mbri
                a(href='mailto:support@dooca.net')
                  h6.location.mbr-bold.mbr-fonts-style.display-7 Email
          .col-md-8.col-lg-4.md-pb.align-center
            .item-content.center
              span.bigicon.mbr-iconfont.mobi-mbri-share.mobi-mbri
              h3.mbr-section-title.pb-2.mbr-bold.mbr-fonts-style.display-7 Get Social
              p.mbr-text.mbr-fonts-style.display-4
                | Share with a friend
                | *connectivity offers may vary by region
          .col-md-8.card.md-pb.col-lg-4.align-center
            .item-content
              h3.mbr-section-title.pb-2.mbr-bold.mbr-fonts-style.display-7 Get More
              p.mbr-text.mbr-fonts-style.display-4
                | Connectivity solutions and services
              .wrapper.border1
                span.mbr-text.mbr-fonts-style.display-4
                  | DEVELOPERS 
                  br
                span.mbr-text.mbr-fonts-style.display-4
                  | Docs
                  br
                span.mbr-text.mbr-fonts-style.display-4
                  | API
                  br
              .wrapper
                a.mbr-text.mbr-fonts-style.display-4(href='https://speedtest.bitsoko.org/run' target='_blank')
                  | speed test
                  br
                a.mbr-text.mbr-fonts-style.display-4(href='https://dooca.bitsoko.org/?uid=AA%3A70%3A2A%3A9C%3AAC%3A2F&ip=0.0.0.0&org=1&connected=false' target='_blank')
                  | security test
                  br
    section#footer05-1p.cid-rKZx3KjQhz
      .container
        .row.align-center.mbr-white
          .col-lg-8
            .row-copirayt
              p.mbr-text.mb-0.mbr-fonts-style.mbr-white.align-left.display-4
                | © a dooca shopping network, powered by bitsoko.
          .col-lg-4
            .row.social-row
              .social-list.align-right
                .soc-item
                  a(href='https://twitter.com/bitsoko' target='_blank')
                    span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                .soc-item
                  a(href='https://www.facebook.com/pages/bitsoko' target='_blank')
                    span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                .soc-item
                  a(href='https://www.youtube.com/c/bitsoko' target='_blank')
                    span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social
                .soc-item
                  a(href='https://www.youtube.com/c/bitsoko' target='_blank')
                    span.mbr-iconfont.mbr-iconfont-social.socicon-vimeo.socicon
    script(src='./themes/dooca/js/jquery.min.js')
    script(src='./themes/dooca/js/tether.min.js')
    script(src='./themes/dooca/js/popper.min.js')
    script(src='./themes/dooca/js/bootstrap.min.js')
    script(src='./themes/dooca/js/jquery.formstyler.js')
    script(src='./themes/dooca/js/jquery.formstyler.min.js')
    script(src='./themes/dooca/js/jquery.touch-swipe.min.js')
    script(src='./themes/dooca/js/bootstrap-carousel-swipe.js')
    script(src='./themes/dooca/js/jquery.mb.vimeo_player.js')
    script(src='./themes/dooca/js/nav-dropdown.js')
    script(src='./themes/dooca/js/navbar-dropdown.js')
    script(src='./themes/dooca/js/mbr-switch-arrow.js')
    script(src='./themes/dooca/js/smooth-scroll.js')
    script(src='./themes/dooca/js/masonry.pkgd.min.js')
    script(src='./themes/dooca/js/imagesloaded.pkgd.min.js')
    script(src='./themes/dooca/js/jquery.datetimepicker.full.js')
    script(src='./themes/dooca/js/mbr-testimonials-slider.js')
    script(src='./themes/dooca/js/vimeo_player.js')
    script(src='./themes/dooca/js/jarallax.min.js')
    script(src='./themes/dooca/js/script.js')
    script(src='./themes/dooca/js/player.min.js')
    script(src='./themes/dooca/js/script_1_.js')
    script(src='./themes/dooca/js/script_2_.js')
    script(src='./themes/dooca/js/formoid.min.js')
    script(async='', src='bitsAssets/js/paymentRequester.js')
    script(async='', src='bitsAssets/js/browserDetect.js')
    script(async='', src='bitsAssets/js/connect.js')
    script(async='', src='bitsAssets/js/storeManager.js')
    script(async='', src='bitsAssets/js/globalServices.js')
    script(async='', src='bitsAssets/js/doocaPay.js')
    script(type='text/javascript').
      function deferIframe() {
      var iframeElem = document.getElementsByTagName('iframe');
      for ( var i = 0; i < iframeElem.length; i++ ) {
      if(iframeElem[i].getAttribute('data-src')) {
      iframeElem[i].setAttribute('src',iframeElem[i].getAttribute('data-src'));
      } 
      } 
      }
    script(type='module').
      import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-app.js'
      import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-messaging.js";
      // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
      //import { analytics } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-analytics.js'
      // Add Firebase products that you want to use
      //import { auth } from 'https://www.gstatic.com/firebasejs/9.9.0/firebase-auth.js'
      const firebaseConfig = {
      apiKey: "AIzaSyCekCWoVVIzl42emTig-uXHAu_wQZkxGcM",
      authDomain: "bitsoko-server.firebaseapp.com",
      databaseURL: "https://bitsoko-server.firebaseio.com",
      projectId: "bitsoko-server",
      storageBucket: "bitsoko-server.appspot.com",
      messagingSenderId: "476194103258",
      appId: "1:476194103258:web:600bf272e375329cc7aae3"
      };
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      // Initialize Firebase Cloud Messaging and get a reference to the service
      const messaging = getMessaging(app);
      //messaging.getToken({vapidKey: "BKagOny0KF_2pCJQ3m....moL0ewzQ8rZu"});
      // Get registration token. Initially this makes a network call, once retrieved
      // subsequent calls to getToken will return from cache.
      //const messaging = getMessaging();
      window.startGCloudMessaging = function startGCloudMessaging() {
      getToken(messaging, { vapidKey: 'BApjek5MCSelSbwEubMXjWqTOROrNJ9uHb0GmS-lmUNec_QxZtOsZlaK5tYWuPxkWmn-ymKtRnr2g8HbTTl0c00', serviceWorkerRegistration : swReg }).then((currentToken) => {
      if (currentToken) {
      // Send the token to your server and update the UI if necessary
      // ...
      console.log(currentToken);
      doFetch({
      action: 'setNotificationAddress',
      token: currentToken,
      domain: window.location.toString()
      })
      } else {
      // Show permission request UI
      console.log('No registration token available. Request permission to generate one.');
      // ...
      }
      }).catch((err) => {
      console.log('An error occurred while retrieving token. ', err);
      // ...
      });
      };