doctype html
head
  // meta
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Uncomment the meta tags you are going to use! Be relevant and don't spam!
  meta(name='keywords' content=tagline)
  meta(name='description' content=tagline)
  // Title
  title #{name}
  // iDevices & Retina Favicons
  link(rel='apple-touch-icon-precomposed' type='image/x-icon' href='themes/kallyas/images/apple-touch-icon-72x72-precomposed.png' sizes='72x72')
  link(rel='apple-touch-icon-precomposed' type='image/x-icon' href='themes/kallyas/images/favicons/apple-touch-icon-114x114-precomposed.png' sizes='114x114')
  link(rel='apple-touch-icon-precomposed' type='image/x-icon' href='themes/kallyas/images/favicons/apple-touch-icon-144x144-precomposed.png' sizes='144x144')
  link(rel='apple-touch-icon-precomposed' type='image/x-icon' href='themes/kallyas/images/favicons/apple-touch-icon-precomposed.png')
  // Desktop Favicons
  link(rel='icon' type='image/png' href='themes/kallyas/images/favicons/favicon-32x32.png' sizes='32x32')
  // Google Fonts CSS Stylesheet // More here https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
  link(href='themes/kallyas/css/css.css' rel='stylesheet' type='text/css')
  link(href='themes/kallyas/css/css_002.css' rel='stylesheet' type='text/css')
  // ***** Boostrap Custom / Addons Stylesheets *****
  link(rel='stylesheet' href='themes/kallyas/css/bootstrap.css' type='text/css' media='all')
  // Font Awesome icons library
  link(rel='stylesheet' href='themes/kallyas/css/font-awesome.css' type='text/css' media='all')
  // Required CSS file for iOS Slider element
  link(rel='stylesheet' href='themes/kallyas/css/style.css' type='text/css' media='all')
  // ***** Main + Responsive & Base sizing CSS Stylesheet *****
  link(rel='stylesheet' href='themes/kallyas/css/template.css' type='text/css' media='all')
  link(rel='stylesheet' href='themes/kallyas/css/responsive.css' type='text/css' media='all')
  link(rel='stylesheet' href='themes/kallyas/css/base-sizing.css' type='text/css' media='all')
  link(rel='stylesheet' href='themes/kallyas/css/dp.css' type='text/css' media='all')
  // Modernizr Library
  script(type='text/javascript' async='' src='themes/kallyas/js/recaptcha__en_002.js')
  script(type='text/javascript' async='' src='themes/kallyas/js/analytics.js')
  script(type='text/javascript' async='' src='themes/kallyas/js/recaptcha__en.js')
  script(type='text/javascript' src='themes/kallyas/js/modernizr.js')
  // jQuery Library
  script(type='text/javascript' src='themes/kallyas/js/jquery.js')
// Demo Panel
// Support Panel
input#support_p.panel-checkbox(type='checkbox')
.support_panel
  .support-close-inner
    label.spanel-label.inner(for='support_p')
      span.support-panel-close &times;
  .container
    .row
      .col-sm-12.col-md-12.col-lg-9
        // Title
        h4.m_title.mb-20
          | HOW TO SHOP
        // Content - how to shop steps
        .m_content.how_to_shop
          .row
            .col-sm-4
              span.number 1
              |  Login or create new account.
            // / col-sm-4
            .col-sm-4
              span.number 2
              |  Review your order.
            // / col-sm-4
            .col-sm-4
              span.number 3
              |  Payment 
              strong FREE
              |  shipment
            // / col-sm-4
          // / row
          p
            | If you still have problems, please let us know, by sending an email to support@website.com . Thank you!
        // / Content - how to shop steps
      // / col-sm-12 col-md-12 col-lg-9
      .col-sm-12.col-md-12.col-lg-3
        // Title
        h4.m_title.mb-20
          | SHOWROOM HOURS
        // Content
        .m_content
          | Mon-Fri 9:00AM - 6:00AM
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sat - 9:00AM-5:00PM
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sundays by appointment only!
        // / Content
      // / col-sm-12 col-md-12 col-lg-3
    // / row
  // / container
// / Support Panel
// buy panel
.buybtn-panel.is-hidden
  span#buybtn-close.buybtn-close
  .features-panel
    h3 What you get:
    ul.fancy-list.fs-normal
      li
        | Template package with over 
        strong 300 custom
        |  pages and elements
      li Visual content page builder
      li Revolution visual slider builder
      li PSD files
      li Future updates
      li
        | Top-noch support 
        strong 6 months
        |  included
    a.buybtn-cta(rel='nofollow' href='#' target='_blank')
      i.fas.fa-cloud-download-alt.mr-15
      | DOWNLOAD
  script.
    jQuery(document).ready(function($) {
    var closeBtn = jQuery('#buybtn-close'),
    panel = closeBtn.parent();
    setTimeout(function(){
    panel.addClass('is-hidden');
    }, 150);
    closeBtn.on('click', function(){
    panel.toggleClass('is-hidden');
    })
    });
// / buy panel
// Page Wrapper
#page_wrapper(style='height: auto;')
  #dp-js-header-helper(style='height:0 !important; display:none !important;')
  // Header style 1
  header#header.site-header.cta_button(data-header-style='1')
    // Header background
    .kl-header-bg
    // / Header background
    // Header wrapper
    .site-header-wrapper
      // Header Top wrapper
      .site-header-top-wrapper
        // Header Top container
        .siteheader-container.container
          // Header Top
          .site-header-row.site-header-top.d-flex.justify-content-between
            // Header Top Left Side
            .site-header-top-left.d-flex
              // Header Top Social links
              ul.topnav.social-icons.sc--clean.align-self-center
                li
                  a(href='#' target='_self' title='Facebook')
                    i.fab.fa-facebook-f
                li
                  a(href='#' target='_self' title='Twitter')
                    i.fab.fa-twitter
                li
                  a(href='#' target='_self' title='Dribbble')
                    i.fab.fa-dribbble
                li
                  a(href='#' target='_self' title='Google Plus')
                    i.fab.fa-google-plus-g
              // / Header Top Social links
              .clearfix.visible-xxs
              // Top Header contact text
              .kl-header-toptext.align-self-center
                span.topnav-item--text QUESTIONS? CALL: 
                a.fw-bold(href='tel:'+phone) #{phone}
                i.phone-header.fas.fa-phone.ml-5.visible-xs.visible-sm.visible-md
              // / Top Header contact text
            // / .site-header-top-left
            // Header Top Right Side
            .site-header-top-right.d-flex
              // Languages
              .topnav.topnav--lang.align-self-center
                .languages.drop
                  a.topnav-item(href='#')
                    span.fas.fa-globe.xs-icon
                    span.topnav-item--text LANGUAGES
                  .pPanel
                    ul.inner
                      li.toplang-item.active
                        a(href='#')
                          img.toplang-flag(src='themes/kallyas/images/en.svg' alt='English')
                          |  English
                      li.toplang-item
                        a(href='#')
                          img.toplang-flag(src='themes/kallyas/images/fr.svg' alt='Francais')
                          |  Francais
                      li.toplang-item
                        a(href='#')
                          img.toplang-flag(src='themes/kallyas/images/es.svg' alt='Espanol')
                          |  Espanol
              // / Languages
              .topnav.support--panel.align-self-center
                // Support panel trigger
                label.topnav-item.spanel-label(for='support_p')
                  i.fas.fa-info-circle.support-info.closed
                  i.far.fa-times-circle.support-info.opened
                  span.topnav-item--text SUPPORT
                // / Support panel trigger
              // Login trigger
              .topnav.login--panel.align-self-center
                a.topnav-item.popup-with-form(href='#login_panel')
                  i.login-icon.fas.fa-sign-in-alt.visible-xs.xs-icon
                  span.topnav-item--text LOGIN
              // / Login trigger
              // header search
              #search.header-search.align-self-center
                a.searchBtn(href='#')
                  span.fas.fa-search.white-icon
                .search-container
                  form#searchform.header-searchform(action='https://www.google.com/search' method='get' target='_blank')
                    input#q.inputbox(name='q' maxlength='20' type='text' size='20' value='SEARCH ...' onblur="if (this.value=='') this.value='SEARCH ...';" onfocus="if (this.value=='SEARCH ...') this.value='';")
                    button#searchsubmit.searchsubmit.fas.fa-search.white-icon(type='submit')
              // / header search
            // / .site-header-top-right
          // / .site-header-row .site-header-top
          // Header separator
          .separator.site-header-separator
          // / Header separator
        // / .siteheader-container .container
      // / Header Top wrapper
      // Header Main wrapper
      .site-header-main-wrapper.d-flex
        // Header Main container
        .siteheader-container.container.align-self-center
          // Header Main
          .site-header-row.site-header-main.d-flex.flex-row.justify-content-between
            // Header Main Left Side
            .site-header-main-left.d-flex.justify-content-start.align-items-center
              // Logo container
              .logo-container.hasInfoCard.logosize--yes
                // Logo
                h1#logo.site-logo.logo
                  a(href='#' title='')
                    img.logo-img(src='themes/kallyas/images/kallyas-logo.svg' alt=name title=name)
                // / Logo
                // InfoCard
                #infocard.logo-infocard
                  .custom
                    .row
                      .col-sm-6.left-side.d-flex
                        .align-self-center
                          .infocard-wrapper.text-center
                            img.mb-25(src='themes/kallyas/images/kallyas_icon.png' alt=name title=name)
                            p
                              | #{tagline}
                              | .
                          // / infocard-wrapper
                        // / .align-self-center
                      // / col-sm-6 left-side d-flex
                      .col-sm-6.right-side
                        .custom.contact-details
                          p
                            | Your Company LTD
                            br
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Street nr 100, 4536534, Chicago, US 
                            br
                            a(href='mailto:sales@yourwebsite.com') sales@yourwebsite.com
                          a.map-link(href='http://goo.gl/maps/1OhOu' target='_blank' title='')
                            span.fas.fa-map-marker-alt.white-icon.mr-10
                            span Open in Google Maps
                        div(style='height:20px;')
                        // Social links clean style
                        ul.social-icons.sc--clean
                          li
                            a.fab.fa-twitter(href='#' target='_self' title='Twitter')
                          li
                            a.fab.fa-facebook-f(href='#' target='_self' title='Facebook')
                          li
                            a.fab.fa-dribbble(href='#' target='_self' title='Dribbble')
                          li
                            a.fab.fa-google-plus-g(href='#' target='_blank' title='Google Plus')
                        // / Social links clean style
                      // / col-sm-6 right-side
                    // / row
                  // / custom
                // / InfoCard
              // / logo container
              // Separator
              .separator.visible-xxs
              // / Separator
            // / .site-header-main-left
            // Header Main Center Side
            .site-header-main-center.d-flex.justify-content-center.align-items-center
              // Main Menu wrapper
              .main-menu-wrapper
                // Responsive menu trigger
                #zn-res-menuwrapper
                  a.zn-res-trigger(href='#')
                // / responsive menu trigger
                // / Main menu
              // / .main-menu-wrapper
            // / .site-header-main-center
            // Header Main Right Side
            .site-header-main-right.d-flex.justify-content-end.align-items-center
              // Shopping Cart
              .mainnav.mainnav--cart.d-flex.align-self-center
                .drop
                  a.kl-cart-button(href='#' title='View your shopping cart')
                    i.fas.fa-shopping-basket.xs-icon(data-count='1')
                  .pPanel
                    .inner.cart-container
                      .widget_shopping_cart_content
                        ul.cart_list.product_list_widget
                          li
                            a.remove(href='#' title='Remove this item') &times;
                            a.product-title(href='#')
                              img(src='themes/kallyas/images/img4-90x90.jpg' alt='Hoodie With Patch Logo' title='Hoodie With Patch Logo')
                              | Hoodie With Patch Logo
                            span.color-variations Blue
                            span.quantity
                              | 1 &times; 
                              span.amount $99.90
                        // end product list
                        p.total
                          strong Subtotal:
                          span.amount $99.90
                        p.buttons
                          a.button.wc-forward(href='https://demos.hogash.com/kallyas-template/cart.php') View Cart
                          a.button.checkout.wc-forward(href='https://demos.hogash.com/kallyas-template/checkout.php') Checkout
              // / Shopping Cart
              // Call to action ribbon Free Quote (Contact form pop-up element)
              .quote-ribbon
                a#ctabutton.ctabutton.kl-cta-ribbon(href='#contact_panel' title='GET A FREE QUOTE' target='_self')
                  strong FREE
                  | QUOTE
                  svg.trisvg(version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' preserveaspectratio='none' width='14px' height='5px' viewbox='0 0 14 5' enable-background='new 0 0 14 5' xml:space='preserve')
                    polygon(fill-rule='nonzero' points='14 0 7 5 0 0')
              // / Call to action ribbon Free Quote (Contact form pop-up element)
            // / .site-header-main-right
          // / .site-header-row .site-header-main
        // / .siteheader-container .container
      // / Header Main wrapper
    // / Header wrapper
  // / Header style 1
  // Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2
  .kl-slideshow.iosslider-slideshow.uh_light_gray.maskcontainer--shadow_ud.iosslider--custom-height.scrollme.kl-slider-loaded
    // Loader
    .kl-loader
      svg#loader-1(version='1.1' xmlns='https://www.w3.org/2000/svg' xlink='https://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewbox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve')
        path(opacity='0.2' fill='#000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z')
        path(fill='#000' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z' transform='rotate(98.3774 20 20)')
        animatetransform(attributetype='xml' attributename='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatcount='indefinite')
    // Loader
    .bgback
    // Animated Sparkles
    .th-sparkles
    // / Animated Sparkles
    // iOS Slider wrapper with animateme scroll efect
    .iosSlider.kl-slideshow-inner.animateme(data-trans='6000' data-autoplay='1' data-infinite='true' data-when='span' data-from='0' data-to='0.75' data-translatey='300' data-easing='linear' style='position: relative; top: 0px; left: 0px; overflow: hidden; z-index: 1; perspective: 1000px; backface-visibility: hidden; width: 1836px; height: 789.467px;')
      // Slides
      .kl-iosslider.hideControls(style='position: relative; cursor: move; perspective: 0px; backface-visibility: hidden; left: -12852px; width: 9180px;')
        // Slide 1
        .item.iosslider__item(style='overflow: hidden; position: absolute; left: 9180px; backface-visibility: hidden; width: 1836px;')
          // Image
          .slide-item-bg(style='background-image:url(themes/kallyas/images/1.jpg);')
          // / Image
          // Gradient overlay
          .kl-slide-overlay(style='background:rgba(32,55,152,0.4); background: -moz-linear-gradient(left, rgba(32,55,152,0.4) 0%, rgba(17,93,131,0.25) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,55,152,0.4)), color-stop(100%,rgba(17,93,131,0.25))); background: -webkit-linear-gradient(left, rgba(32,55,152,0.4) 0%,rgba(17,93,131,0.25) 100%); background: -o-linear-gradient(left, rgba(32,55,152,0.4) 0%,rgba(17,93,131,0.25) 100%); background: -ms-linear-gradient(left, rgba(32,55,152,0.4) 0%,rgba(17,93,131,0.25) 100%); background: linear-gradient(to right, rgba(32,55,152,0.4) 0%,rgba(17,93,131,0.25) 100%); ')
          // / Gradient overlay
          // Captions container
          .container.kl-iosslide-caption.kl-ioscaption--style4.s4ext.fromleft.klios-alignleft.kl-caption-posv-middle
            // Captions animateme wrapper
            .animateme(data-when='span' data-from='0' data-to='0.75' data-opacity='0.1' data-easing='linear')
              // Main Big Title
              h2.main_title.has_titlebig
                span
                  strong SUMMER SALE
                  |  STEAM
              // / Main Big Title
              // Big Title
              h3.title_big
                | UP TO 
                strong 40% OFF
              // / Big Title
              // Link more button
              a.more(href='#' target='_self')
                | SEE COLLECTION
              // / Link more button
              // Small Title
              h4.title_small
                | FOR NEW ARRIVALS OF 2018&apos;S COLLECTION
              // / Small Title
            // / Captions animateme wrapper
          // / Captions container
        // / Slide 1
        // Slide 2
        .item.iosslider__item(style='overflow: hidden; position: absolute; left: 11016px; backface-visibility: hidden; width: 1836px;')
          // Image
          .slide-item-bg(style='background-image: url(themes/kallyas/images/sliders/2.jpg);')
          // / Image
          // Color overlay
          .kl-slide-overlay(style='background-color: rgba(6,111,217,0.3)')
          // / Color overlay
          // Captions container
          .container.kl-iosslide-caption.kl-ioscaption--style4.fromright.klios-alignright.kl-caption-posv-middle
            // Captions animateme wrapper
            .animateme(data-when='span' data-from='0' data-to='0.75' data-opacity='0.1' data-easing='linear')
              // Main Big Title
              h2.main_title.has_titlebig
                span
                  strong HUGE
                  |  SUMMER SALE
              // / Main Big Title
              // Big Title
              h3.title_big
                span(style='ff-alternative')
                  | ALL UNDER $49
              // / Big Title
              // Link button
              a.more(href='#' target='_self')
                | SHOP NOW
              // / Link button
              // Small Title
              h4.title_small
                | NEW OUTFITS FOR YOUR SUMMER&apos;S WARDROBE
              // / Small Title
            // / Captions animateme wrapper
          // / Captions container
        // / Slide 2
        // Slide 3
        .item.iosslider__item.kl-iosslider-active(style='overflow: hidden; position: absolute; left: 12852px; backface-visibility: hidden; width: 1836px;')
          // Video background container
          .kl-video-container
            // Video wrapper
            .kl-video-wrapper.video-grid-overlay
              // Self Hosted Video Source
              .kl-video.valign.halign(style='width: 100%; height: 100%;' data-setup='{ \
              "position": "absolute", \
              "loop": true, \
              "autoplay": true, \
              "muted": true, \
              "mp4": "videos/Working-Space.mp4", \
              "poster": "videos/Working-Space.jpg", \
              "video_ratio": "1.7778" }')
                #video_background_video_0(style='z-index: -1; position: absolute; inset: 0px; overflow: hidden;')
                  img(src='themes/kallyas/images/Working-Space.jpg' alt='' style='position: absolute; width: 2667px; height: 1500px; top: 0px; left: -699px;')
                #video_background_video_0(style='z-index: -1; position: absolute; inset: 0px; overflow: hidden;')
                  img(src='themes/kallyas/images/Working-Space_002.jpg' alt='' style='position: absolute;')
              // / Self Hosted Video Source
            // / Video wrapper
          // / Video background container
          // Color overlay
          .kl-slide-overlay(style='background-color:rgba(4,43,135,0.45)')
          // / Color overlay
          // Captions container
          .container.kl-iosslide-caption.kl-ioscaption--style5.fromleft.klios-alignleft.kl-caption-posv-middle
            // Captions animateme wrapper
            .animateme(data-when='span' data-from='0' data-to='0.75' data-opacity='0.1' data-easing='linear')
              // Main Big Title
              h2.main_title.has_titlebig
                span
                  | UNIQUE &bull; RAFINEMENT
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;FULL COMFORT
              // / Main Big Title
              // Big Title
              h3.title_big
                | DISCOUNTS 
                strong UP TO 50%
              // / Big Title
              // Link more buttons
              .more
                // Button full color style
                a.btn.btn-fullcolor(href='#' target='_self')
                  | SEE COLLECTION
                // / Button full color style
                // Button full lined style
                a.btn.btn-lined(href='#' target='_self')
                  | START SHOPPING
                // / Button full lined style
              // / Link more buttons
              // Small Title
              h4.title_small
                | FOR NEW ARRIVALS OF 2018&apos;S COLLECTION
              // / Small Title
            // / Captions animateme wrapper
          // / Captions container
          // Image boxes
          .klios-imageboxes.fromleft.klios-alignleft.middle
            // Image boxes wrapper
            .kl-imgbox-inner
              // Box #1
              .kl-imgbox.kl-imgbox--1
                a.kl-imgbox--link(href='#' title='' style='background-image: url(themes/kallyas/images/Banner-4.png)')
              // / Box #1
              // Box #2
              .kl-imgbox.kl-imgbox--2
                a.kl-imgbox--link(href='#' title='' style='background-image: url(themes/kallyas/images/Banner-3.png)')
              // / Box #2
              // Box #3
              .kl-imgbox.kl-imgbox--3
                a.kl-imgbox--link(href='#' title='' style='background-image: url(themes/kallyas/images/Banner-1.png)')
              // / Box #3
            // / Image boxes wrapper
          // / Image boxes
        // / Slide 3
        // Slide 4
        .item.iosslider__item(style='overflow: hidden; position: absolute; left: 14688px; backface-visibility: hidden; width: 1836px;')
          // Image
          .slide-item-bg(style='background-image: url(themes/kallyas/images/14.jpg);')
          // / Image
          // Gradient overlay
          .kl-slide-overlay(style='background:rgba(91,48,0,0.3); background: -moz-linear-gradient(left, rgba(91,48,0,0.3) 0%, rgba(53,53,53,0.25) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(91,48,0,0.3)), color-stop(100%,rgba(53,53,53,0.25))); background: -webkit-linear-gradient(left, rgba(91,48,0,0.3) 0%,rgba(53,53,53,0.25) 100%); background: -o-linear-gradient(left, rgba(91,48,0,0.3) 0%,rgba(53,53,53,0.25) 100%); background: -ms-linear-gradient(left, rgba(91,48,0,0.3) 0%,rgba(53,53,53,0.25) 100%); background: linear-gradient(to right, rgba(91,48,0,0.3) 0%,rgba(53,53,53,0.25) 100%); ')
          // / Gradient overlay
          // Captions container
          .container.kl-iosslide-caption.kl-ioscaption--style5.zoomin.klios-aligncenter.kl-caption-posv-middle
            // Captions animateme wrapper
            .animateme(data-when='span' data-from='0' data-to='0.75' data-opacity='0.1' data-easing='linear')
              // Main Big Title
              h2.main_title.has_titlebig.kl-ios-has-sqbox
                span.kl-ios-sqbox
                span
                  strong YOUR LIVING
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;DESERVES BETTER
              // / Main Big Title
              // Big Title
              h3.title_big
                strong INNOVATION AND PERFORMANCE 
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;SINCE 1978
              // / Big Title
              // Link buttons
              .more
                // Button full color style
                a.btn.btn-fullcolor(href='#' target='_self')
                  | SEE OUR LATEST OFFERS
                // / Button full color style
              // / Link buttons
            // / Captions animateme wrapper
          // / Captions container
        // / Slide 4
        // Slide 5
        .item.iosslider__item(style='overflow: hidden; position: absolute; left: 16524px; backface-visibility: hidden; width: 1836px;')
          // Image
          .slide-item-bg(style='background-image: url(themes/kallyas/images/4.jpg);')
          // / Image
          // Gradient overlay
          .kl-slide-overlay(style='background:rgba(132,30,193,0.25); background: -moz-linear-gradient(left, rgba(132,30,193,0.25) 0%, rgba(61,15,15,0.3) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(132,30,193,0.25)), color-stop(100%,rgba(61,15,15,0.3))); background: -webkit-linear-gradient(left, rgba(132,30,193,0.25) 0%,rgba(61,15,15,0.3) 100%); background: -o-linear-gradient(left, rgba(132,30,193,0.25) 0%,rgba(61,15,15,0.3) 100%); background: -ms-linear-gradient(left, rgba(132,30,193,0.25) 0%,rgba(61,15,15,0.3) 100%); background: linear-gradient(to right, rgba(132,30,193,0.25) 0%,rgba(61,15,15,0.3) 100%); ')
          // / Gradient overlay
          // Captions container
          .container.kl-iosslide-caption.kl-ioscaption--style6.fromleft.klios-aligncenter.kl-caption-posv-middle
            // Captions animateme wrapper
            .animateme(data-when='span' data-from='0' data-to='0.75' data-opacity='0.1' data-easing='linear')
              // Main Big Title
              h2.main_title.has_titlebig
                span
                  strong SUMMER SALE
                  |  STEAM
              // Main Big Title
              // Small Title
              h4.title_small
                | FOR THE NEW ARRIVALS OF 2018&apos;S COLLECTION
              // / Small Title
              // Video pop-up
              .klios-playvid
                // Video link - youtube
                a(href='https://www.youtube.com/watch?v=JaAWdljhD5o?loop=1&start=0&autoplay=1&controls=0&showinfo=0&wmode=transparent&iv_load_policy=3&modestbranding=1&rel=0' data-lightbox='youtube')
                  // Icon = .fas .fa-play circled icon large size
                  i.kl-icon.fas.fa-play.circled-icon.ci-large
                // / Video link - youtube
              // / Video pop-up
            // / Captions animateme wrapper
          // / Captions container
        // / Slide 5
      // / Slides
      // Navigation Controls - Prev
      .kl-iosslider-prev(style='cursor: pointer;')
        // Arrow
        span.thin-arrows.ta__prev
        // / Arrow
        // Label - prev
        .btn-label
          | PREV
        // / Label - prev
      // / Navigation Controls - Prev
      // Navigation Controls - Next
      .kl-iosslider-next(style='cursor: pointer;')
        // Arrow
        span.thin-arrows.ta__next
        // / Arrow
        // Label - next
        .btn-label
          | NEXT
        // / Label - next
      // / Navigation Controls - Prev
    // / iOS Slider wrapper with animateme scroll efect
    // Bullets
    .kl-ios-selectors-block.bullets2
      .selectors
        // Item #1
        .item.iosslider__bull-item.first(style='cursor: pointer;')
        // / Item #1
        // Item #2
        .item.iosslider__bull-item(style='cursor: pointer;')
        // / Item #2
        // Item #3
        .item.iosslider__bull-item.selected(style='cursor: pointer;')
        // / Item #3
        // Item #4
        .item.iosslider__bull-item(style='cursor: pointer;')
        // / Item #4
        // Item #5
        .item.iosslider__bull-item(style='cursor: pointer;')
        // / Item #5
      // / .selectors
    // / Bullets
    .scrollbarContainer
    // Bottom mask style 2
    .kl-bottommask.kl-bottommask--shadow_ud
    // / Bottom mask style 2
  // / Slideshow - iOS Slider element with animateme scroll efect, custom height and bottom mask style 2
  // Action Box element style 3 - section with custom paddings and white background color
  section.hg_section.bg-white.pt-0
    .container
      .row
        .col-sm-12.col-md-12
          .action_box.style3(data-arrowpos='center' style='margin-top:-25px;')
            .action_box_inner
              .action_box_content.row
                .ac-content-text.col-sm-12.col-md-12.col-lg-7
                  // Title
                  h4.text
                    span.fw-thin
                      | promoting 
                      span.fw-semibold Africa and African products
                      |   to the world
                  // / Title
                  // Sub-Title
                  h5.ac-subtitle.mb-md-30
                    | subscribe to youtubes favourite gang and stay tunes for more great info, deals and channels coming soon
                  // / Sub-Title
                // / .ac-content-text .col-sm-12 .col-md-12 .col-lg-7
                // Call to Action buttons
                .ac-buttons.col-sm-12.col-md-12.col-lg-5.d-flex.align-self-center.justify-content-center.justify-content-lg-end
                  a.btn.btn-lined.ac-btn(href='#' target='_blank' title='')
                    | SUBSCRIBE
                  a.btn.btn-fullwhite.ac-btn(href='#' target='_blank' title='')
                    | LETS CHAT
                // / Call to Action buttons
              // / action_box_content
            // / action_box_inner
          // / action_box style3
        // / col-sm-12 col-md-12
      // / row
    // / container
  // / Action Box element style 3 - section with custom paddings and white background color
  // Title - Style 1 section with custom top padding
  section.hg_section.bg-white.pt-70
    .container
      .row
        .col-md-12.col-sm-12
          // Title element
          .kl-title-block.clearfix.text-center.tbk-symbol--.tbk-icon-pos--after-title
            // Title with kl-font-alt font, custom font size, bold style and light gray color
            h3.tbk__title.kl-font-alt.fs-xxxl.fw-bold.light-gray3
              | OK, SO PARTNER WITH US?
            // / Title with kl-font-alt font, custom font size, bold style and light gray color
            // Sub-Title with custom font size an very thin style
            h4.tbk__subtitle.fw-vthin
              | because every good partnership needs a strong foundation
            // / Sub-Title with custom font size an very thin style
          // / Title element
        // / col-md-12 col-sm-12
      // / row
    // / container
  // / Title - Style 1 section with custom top padding
  // Icon Boxes element Left Floated Style - section white
  section.hg_section.bg-white
    .container-fluid
      .row
        .col-lg-10.offset-lg-1
          .row.gutter-md
            .col-sm-12.col-md-6.col-lg-3
              // Icon box float left
              .kl-iconbox.kl-iconbox--fleft.text-left
                .kl-iconbox__inner
                  // Icon
                  .kl-iconbox__icon-wrapper
                    img.kl-iconbox__icon(src='themes/kallyas/images/set-03-01.svg' alt='Stunning Template')
                  // / Icon
                  // /.kl-iconbox__icon-wrapper
                  .kl-iconbox__content-wrapper
                    // Title
                    .kl-iconbox__el-wrapper.kl-iconbox__title-wrapper
                      h3.kl-iconbox__title.fs-m.fw-normal.gray2
                        | Transparent communication
                    // / Title
                    // Description
                    .kl-iconbox__el-wrapper.kl-iconbox__desc-wrapper
                      p.kl-iconbox__desc.fs-14.gray
                        | To save time,money or any possibility of an unfit relationship we keep all communication  
                        strong transparent 
                        | .
                    // / Description
                  // /.kl-iconbox__content-wrapper
                // / kl-iconbox__inner
              // / Icon box float left
            // / col-sm-12 col-md-6 col-lg-3
            .col-sm-12.col-md-6.col-lg-3
              // Icon box float left
              .kl-iconbox.kl-iconbox--fleft.text-left
                .kl-iconbox__inner
                  // Icon
                  .kl-iconbox__icon-wrapper
                    img.kl-iconbox__icon(src='themes/kallyas/images/set-03-02.svg' alt='Iconic Awarded Design')
                  // / Icon
                  // /.kl-iconbox__icon-wrapper
                  .kl-iconbox__content-wrapper
                    // Title
                    .kl-iconbox__el-wrapper.kl-iconbox__title-wrapper
                      h3.kl-iconbox__title.fs-m.fw-normal.gray2
                        | INDIVIDUAL ATTENTION
                    // / Title
                    // Description
                    .kl-iconbox__el-wrapper.kl-iconbox__desc-wrapper
                      p.kl-iconbox__desc.fs-14.gray
                        | We understand that there's no room for error when selecting your brands for this reason we have sure we give you individual attention and take note of all the details.
                    // / Description
                  // /.kl-iconbox__content-wrapper
                // / kl-iconbox__inner
              // Icon box float left
            // / col-sm-12 col-md-6 col-lg-3
            .col-sm-12.col-md-6.col-lg-3
              // Icon box float left
              .kl-iconbox.kl-iconbox--fleft.text-left
                .kl-iconbox__inner
                  // Icon
                  .kl-iconbox__icon-wrapper
                    img.kl-iconbox__icon(src='themes/kallyas/images/set-03-03.svg' alt='Featurewise Complete')
                  // / Icon
                  // /.kl-iconbox__icon-wrapper
                  .kl-iconbox__content-wrapper
                    // Title
                    .kl-iconbox__el-wrapper.kl-iconbox__title-wrapper
                      h3.kl-iconbox__title.fs-m.fw-normal.gray2
                        | FLEXIBLE PRICING
                    // / Title
                    // Description
                    .kl-iconbox__el-wrapper.kl-iconbox__desc-wrapper
                      p.kl-iconbox__desc.fs-14.gray
                        | Keeping your budget in mind we have made sure that most of our prices are reasonable enough.
                    // / Description
                  // /.kl-iconbox__content-wrapper
                // / kl-iconbox__inner
              // / Icon box float left
            // / col-sm-12 col-md-6 col-lg-3
            .col-sm-12.col-md-6.col-lg-3
              // Icon box float left
              .kl-iconbox.kl-iconbox--fleft.text-left
                .kl-iconbox__inner
                  // Icon
                  .kl-iconbox__icon-wrapper
                    img.kl-iconbox__icon(src='themes/kallyas/images/set-03-04.svg' alt='Mature project')
                  // / Icon
                  // /.kl-iconbox__icon-wrapper
                  .kl-iconbox__content-wrapper
                    // Title
                    .kl-iconbox__el-wrapper.kl-iconbox__title-wrapper
                      h3.kl-iconbox__title.fs-m.fw-normal.gray2
                        | PROVEN TRACK RECORD
                    // / Title
                    // Description
                    .kl-iconbox__el-wrapper.kl-iconbox__desc-wrapper
                      p.kl-iconbox__desc.fs-14.gray
                        | Our track record speaks for itself, we have received more positive feedbacks and reviews.
                    // / Description
                  // /.kl-iconbox__content-wrapper
                // / kl-iconbox__inner
            // / col-sm-12 col-md-6 col-lg-3
          // / row gutter-md
        // / col-lg-10 offset-lg-1
      // / row
    // / container-fluid
  // / Icon Boxes element Left Floated Style - section white
  // Image Boxes - Style 4 new section
  section.hg_section.bg-white
    .container
      .row
        .col-sm-12.col-md-6.col-lg-4
          // / Image Box style 4 - left symbol style
          .box.image-boxes.imgboxes_style4.kl-title_style_left
            // Image Box anchor link
            a.imgboxes4_link.imgboxes-wrapper(href='#' target='_blank')
              // Image
              img.img-fluid.imgbox_image.cover-fit-img(src='themes/kallyas/images/imageboxes-set1-011-460x307.jpg' alt='RESCUE SUPPORT' title='RESCUE SUPPORT')
              // / Image
              span.imgboxes-border-helper
              // Title
              h3.m_title.imgboxes-title
                | RESCUE SUPPORT
              // / Title
            // / Image Box anchor link
            // Description
            p
              | Our support team will do its best to provide the best possible and helpful answer for the issues you&rsquo;re having.
            // / Description
          // / Image Box style 4 - left symbol style
        // / col-sm-12 col-md-6 col-lg-4
        .col-sm-12.col-md-6.col-lg-4
          // Image Box style 4 - left symbol style
          .box.image-boxes.imgboxes_style4.kl-title_style_left
            // Image Box anchor link
            a.imgboxes4_link.imgboxes-wrapper(href='#' target='_blank')
              // Image
              img.img-fluid.imgbox_image.cover-fit-img(src='themes/kallyas/images/imageboxes-set1-021-460x307.jpg' alt='E-COMMERCE READY' title='E-COMMERCE READY')
              // / Image
              span.imgboxes-border-helper
              // Title
              h3.m_title.imgboxes-title
                | E-COMMERCE READY
              // / Title
            // Image Box anchor link
            // Description
            p
              | We will host your content and drive sales you you can focus on what matters to you.
            // Description
          // / Image Box style 4 - left symbol style
        // / col-sm-12 col-md-6 col-lg-4
        .col-sm-12.col-md-6.col-lg-4
          // Image Box style 4 - bottom border style
          .box.image-boxes.imgboxes_style4.kl-title_style_bottom
            // Image Box anchor link
            a.imgboxes4_link.imgboxes-wrapper(href='#' target='_blank')
              // Image
              img.img-fluid.imgbox_image.cover-fit-img(src='themes/kallyas/images/gpg4-640x426.jpg' alt='MULTI-LANGUAGE READY' title='MULTI-LANGUAGE READY')
              // / Image
              span.imgboxes-border-helper
              // Title
              h3.m_title.imgboxes-title
                | MULTI-LANGUAGE READY
              // / Title
            // / Image Box anchor link
            // Description
            p
              | Add as many language packs as you want, to showcase your website across the entire globe.
            // / Description
          // / Image Box style 4 - bottom border style
        // / col-sm-12 col-md-6 col-lg-4
      // / row
    // / container
  // / Image Boxes - Style 4 new section
  // Screenshot Box section with custom paddings
  section.hg_section.pt-100.pb-100
    .container
      .row
        .col-sm-12.col-md-12
          // Screenshot box element
          .screenshot-box
            .row
              .col-sm-12.col-md-12.col-lg-6
                // Left side
                .left-side
                  // Title
                  h3.title
                    span.fw-thin
                      | we believe what we do is about more than making the next big video we believe we are
                      span.fw-semibold making a change
                      | in the hearts and minds of your audience.
                  // Features list
                  ul.features
                    // Item #1
                    li
                      // Title
                      h4
                        | Mission
                      // / Title
                      // Text
                      p
                        | To transform communities by inspiring people throughout the world.
                      // / Text
                    // / Item #1
                    // Item #2
                    li
                      // Title
                      h4
                        | Vision
                      // / Title
                      // Text
                      p
                        | To honor and empower you
                      // / Text
                    // / Item #2
                  // / Features list
                  // Button
                  a.btn.btn-fullcolor.btn-third(href='#' target='_blank') Become a Pateron
                  // / Button
                // / Left side
              // / col-sm-12 col-md-12 col-lg-6
              .col-sm-12.col-md-12.col-lg-6
                // Screenshot-box slider
                .screenshot-slider
                  .js-slick.slick-initialized.slick-slider.slick-dotted(data-slick='{\
                  "appendDots": ".screenshot-slider .screenshotBox-slickNav",\
                  "arrows": false,\
                  "dots": true,\
                  "dotsClass": "slick-dots",\
                  "infinite": true,\
                  "autoplay": true,\
                  "speed": 500,\
                  "fade": true\
                  }')
                    // Slide 1
                    .slick-list.draggable
                      .slick-track(style='opacity: 1; width: 1620px;')
                        #slick-slide00.slick-slide.slick-current.slick-active.slick-item--activated(data-slick-index='0' aria-hidden='false' style='width: 540px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;' tabindex='0' role='tabpanel' aria-describedby='slick-slide-control00')
                          // Image
                          img(src='themes/kallyas/images/office-820390_640-580x380.jpg' alt='' title='' width='580' height='380')
                          // / Image
                        #slick-slide01.slick-slide(data-slick-index='1' aria-hidden='true' style='width: 540px; position: relative; left: -540px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;' tabindex='-1' role='tabpanel' aria-describedby='slick-slide-control01')
                          // Image
                          img(src='themes/kallyas/images/ipad-605439_640-580x380.jpg' alt='' title='' width='580' height='380')
                          // / Image
                        #slick-slide02.slick-slide(data-slick-index='2' aria-hidden='true' style='width: 540px; position: relative; left: -1080px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;' tabindex='-1' role='tabpanel' aria-describedby='slick-slide-control02')
                          // Image
                          img(src='themes/kallyas/images/phone-690091_640-580x380.jpg' alt='' title='' width='580' height='380')
                          // / Image
                    // / Slide 1
                    // Slide 2
                    // / Slide 2
                    // Slide 3
                    // / Slide 3
                  // / .js-slick
                  // Slick navigation
                  .screenshotBox-slickNav.clearfix
                    ul.slick-dots(style='' role='tablist')
                      li.slick-active(role='presentation')
                        button#slick-slide-control00.slickBtn(type='button' data-role='none' role='tab' tabindex='0' aria-controls='slick-slide00' aria-label='1 of 3' aria-selected='true') 1
                      li(role='presentation')
                        button#slick-slide-control01.slickBtn(type='button' data-role='none' role='tab' tabindex='-1' aria-controls='slick-slide01' aria-label='2 of 3') 2
                      li(role='presentation')
                        button#slick-slide-control02.slickBtn(type='button' data-role='none' role='tab' tabindex='-1' aria-controls='slick-slide02' aria-label='3 of 3') 3
                // / Screenshot-box slider
              // / col-sm-12 col-md-12 col-lg-6
            // / row
          // / Screenshot box element
        // / col-sm-12 col-md-12
      // / row
    // / container
  // / Screenshot Box section with custom paddings
  // Media Container - Border Animate Style 2 section with background white color
  section.hg_section.bg-white.p-0
    .container-fluid
      .row.gutter-lg
        .col-sm-12.col-md-12.col-lg-5
          // Media container style 2 element - with custom minimum height(.min-700)
          .media-container.style2.min-700
            // Background
            .kl-bg-source
              // Background image
              .kl-bg-source__bgimage(style='background-image:url(themes/kallyas/images/home-brochure.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:top; background-size:cover')
              // / Background image
              // Gradient overlay
              .kl-bg-source__overlay(style='background:rgba(137,173,178,0.3); background: -moz-linear-gradient(left, rgba(137,173,178,0.3) 0%, rgba(53,53,53,0.65) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(137,173,178,0.3)), color-stop(100%,rgba(53,53,53,0.65))); background: -webkit-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -o-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: -ms-linear-gradient(left, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); background: linear-gradient(to right, rgba(137,173,178,0.3) 0%,rgba(53,53,53,0.65) 100%); ')
              // / Gradient overlay
            // / Background
            // media container link button
            a.media-container__link.media-container__link--btn.media-container__link--style-borderanim2(href='https://www.youtube.com/watch?v=cVt-3vbENOQ' data-lightbox='iframe')
              // SVG border
              .borderanim2-svg
                // svg
                svg(height='70' width='400' xmlns='https://www.w3.org/2000/svg')
                  rect.borderanim2-svg__shape(height='70' width='400')
                // / svg
                // Title text
                span.media-container__text
                  | #{name}
                span
                  | african travel and lifestyle content
                // / Title text
              // / SVG border
            // / media container link button
          // / media-container style2 h-615
        // / col-sm-12 col-md-12 col-lg-5
        .col-sm-12.col-md-12.col-lg-7.d-flex
          .custom_container.pt-md-50.pb-md-50.align-self-center
            .row.hg_col_eq_last
              .col-md-12.col-sm-12
                // Title element
                .kl-title-block.clearfix.text-left.tbk-symbol--line.tbk-icon-pos--after-title.pbottom-0
                  // Title with kl-font-alt font, custom size and line height bold style
                  h3.tbk__title.kl-font-alt.fs-xxl.fw-bold
                    | TRULY MULTI-PURPOSE 
                    span.text-custom.fw-normal.tcolor &amp;
                    |  OUTSTANDING
                  // / Title with kl-font-alt font, custom size and line height bold style
                  // symbol
                  span.tbk__symbol
                    span
                  // / symbol
                  // Sub-Title
                  h4.tbk__subtitle.fw-vthin
                    | Web design encompasses many different skills and disciplines
                    | in the production and maintenance of websites. The different areas of
                    | web design include web graphic design.
                  // / Sub-Title
                // / Title element
                // separator
                .hg_separator.style2.clearfix
                // / separator
              // / col-md-12 col-sm-12
              .col-sm-8.col-md-8
                // Text box
                .text_box
                  // Description
                  p
                    | In addition to specifying markup, HTML5 specifies scripting
                    | application programming interfaces (APIs) that can be used with
                    | JavaScript.
                  p
                    | Existing Document Object Model (DOM) interfaces are extended and de facto features documented.
                  // / Description
                // Text box
              // / col-md-8 col-sm-8
              .col-md-4.col-sm-4
                // Video box pop-up (adbox) element
                .adbox.video
                  // Image
                  img(src='themes/kallyas/images/sleepy1_1x-400x300.jpg' alt='' title='')
                  // Image
                  // Video trigger wrapper
                  .video_trigger_wrapper
                    // Video box container
                    .adbox_container
                      // Video link
                      a.playVideo(data-lightbox='iframe' href='https://www.youtube.com/watch?v=cVt-3vbENOQ')
                    // / Video trigger container
                  // / Video box wrapper
                // / Video box pop-up (adbox) element
              // / col-md-4 col-sm-4
            // / row hg_col_eq_last
          // / custom_container pt-50 pb-50 align-self-center
        // / col-sm-12 col-md-12 col-lg-7 d-flex
      // / row gutter-lg
    // / container-fluid
  // / Media Container - Border Animate Style 2 section with background white color
  // Hover Boxes section whith custom top padding
  section.hg_section.pt-100
    .container
      .row
        .col-sm-12.col-md-6.col-lg-4
          // Hover box element
          .hover-box-2
            // Link box with background color
            a.hover-box.hover-box-2(href='#' target='_blank' style='background-color: #34495e;')
              // Hover icon
              span.hb-circle
              // / Hover icon
              // Image/Icon
              img.hb-img.rb-right(src='themes/kallyas/images/quote1.svg' alt='' title='')
              // / Image/Icon
              // Title
              h3 get a quote
              // / Title
              // Description
              p
                | Share your idea and let&rsquo;s create
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;a great project together!
              // / Description
            // / Link box with background color
          // / Hover box element
        // / col-sm-12 col-md-6 col-lg-4
        .col-sm-12.col-md-6.col-lg-4
          // Hover box element
          .hover-box-2
            // Link box with background color
            a.hover-box.hover-box-2(href='#' target='_blank' style='background-color: #34495e;')
              // Hover icon
              span.hb-circle
              // Hover icon
              // Image/Icon
              img.hb-img.rb-right(src='themes/kallyas/images/hb-hiring.svg' alt='' title='')
              // / Image/Icon
              // Title
              h3 hiring: ON
              // / Title
              // Subtitle
              h4 Developer wanted! 
              // Subtitle
              // Description
              p
                | Send your kickass resume
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; on jobs@mywebsite.com
              // / Description
            // / Link box with background color
          // / Hover box element
        // / col-sm-12 col-md-6 col-lg-4
        .col-sm-12.col-md-12.col-lg-4
          // Hover box element
          .hover-box-2
            // Link box with background image
            a.hover-box.hover-box-3(href='#' target='_blank' style='background-image:url(themes/kallyas/images/hb-catalogue1.png); background-color: #34495e; background-size:cover')
              // Image/Icon
              img.hb-img(src='themes/kallyas/images/hb-catalogue1.png' alt='' title='')
              // / Image/Icon
              // Title
              h3 download catalogue
              // / Title
              // Description
              p
                | Read our latest catalog, collateral material or print advertisements for your publication.
              // / Description
            // / Link box with background image
          // / Hover box element
        // / col-sm-12 col-md-12 col-lg-4
      // / row
    // / container
  // / Hover Boxes section whith custom top padding
  // Latest Posts - Accordion Style section
  section.hg_section.pt-50.pb-50
    .container
      .row
        .col-sm-12.col-md-12
          // Latest posts accordion style
          .latest_posts-acc
            // Title
            h3.m_title.latest_posts-acc-elm-title
              | OUR LATEST STORIES
            // / Title
            // View all posts button
            a.latest_posts-acc-viewall(href='#')
              | VIEW ALL -
            // / View all posts button
            // CSS3 Accordion
            .css3accordion.latest_posts-acc-wrapper
              ul.latest_posts-acc-list
                // Post
                li.latest_posts-acc-item
                  // Post wrapper
                  .inner-acc.latest_posts-acc-inner(style='width: 555px;')
                    // Post link wrapper
                    a.thumb.hoverBorder.plus.latest_posts-acc-link(href='#')
                      // Border wrapper
                      span.hoverBorderWrapper
                        // Image
                        img.latest_posts-acc-img(src='themes/kallyas/images/11.jpg' alt='' title='')
                        // / Image
                        // Hover border/shadow
                        span.theHoverBorder
                        // / Hover border/shadow
                      // / Border wrapper
                    // Post link wrapper
                    // Post content
                    .content.latest_posts-acc-content
                      // Details & tags
                      em.latest_posts-acc-details
                        | 02 January 2018 by Danny, in Mobile
                      // / Details & tags
                      // Title with link
                      h5.m_title.latest_posts-acc-title
                        a(href='#')
                          | 10 Templates To Build e-Market
                      // / Title with link
                      // Content text
                      .text.latest_posts-acc-text
                        | The Internet is a different sales medium with some direct sales and some...
                      // / Content text
                      // Read more button
                      a.latest_posts-acc-more(href='#')
                        | READ MORE +
                      // / Read more button
                    // / Post content
                  // / Post wrapper
                // / Post
                // Post
                li.latest_posts-acc-item
                  // Post wrapper
                  .inner-acc.latest_posts-acc-inner(style='width: 555px')
                    // Post link wrapper
                    a.thumb.hoverBorder.plus.latest_posts-acc-link(href='#')
                      // Border wrapper
                      span.hoverBorderWrapper
                        // Image
                        img.latest_posts-acc-img(src='themes/kallyas/images/12.jpg' alt='' title='')
                        // / Image
                        // Hover border/shadow
                        span.theHoverBorder
                        // / Hover border/shadow
                      // / Border wrapper
                    // Post link wrapper
                    // Post content
                    .content.latest_posts-acc-content
                      // Details & tags
                      em.latest_posts-acc-details
                        | 01 January 2018 by Laur in CSS
                      // / Details & tags
                      // Title with link
                      h5.m_title.latest_posts-acc-title
                        a(href='#')
                          | Top 30 Amazing Code Snippets
                      // / Title with link
                      // Content text
                      .text.latest_posts-acc-text
                        | A collection of code snippets for web developers, including code for HTML, CSS, JavaScript, PHP, WordPress...
                      // / Content text
                      // Read more button
                      a.latest_posts-acc-more(href='#' title='')
                        | READ MORE +
                      // / Read more button
                    // / Post content
                  // / Post wrapper
                // / Post
                // Post
                li.last.latest_posts-acc-item
                  // Post wrapper
                  .inner-acc.latest_posts-acc-inner(style='width: 555px')
                    // Post link wrapper
                    a.thumb.hoverBorder.plus.latest_posts-acc-link(href='#')
                      // Border wrapper
                      span.hoverBorderWrapper
                        // Image
                        img(class='images_' src='themes/kallyas/images/blog1-370x200.jpg' alt='' title='')
                        // / Image
                        // Hover border/shadow
                        span.theHoverBorder
                        // / Hover border/shadow
                      // / Border wrapper
                    // Post link wrapper
                    // Post content
                    .content.latest_posts-acc-content
                      // Details & tags
                      em.latest_posts-acc-details
                        | 01 January 2018 by Marius in Design
                      // / Details & tags
                      // Title with link
                      h5.m_title.latest_posts-acc-title
                        a(href='#')
                          | How to build a website with Kallyas
                      // / Title with link
                      // Content text
                      .text.latest_posts-acc-text
                        | An easy step-by-step website setup guide written by web developers...
                      // / Content text
                      // Read more button
                      a.latest_posts-acc-more(href='#')
                        | READ MORE +
                      // / Read more button
                    // / Post content
                  // / Post wrapper
                // / Post
            // / CSS3 Accordion
          // / Latest posts accordion style
        // / col-sm-12 col-md-12
      // / row
    // / container
  // / Latest Posts - Accordion Style section
  // Partners & Testimonials section with custom paddings
  section.hg_section.hg_section--relative.pt-80.pb-80
    // Background
    .kl-bg-source
      // Gradient overlay
      .kl-bg-source__overlay(style='background: rgba(205,33,34,1); background: -moz-linear-gradient(left, rgba(205,33,34,1) 0%, rgba(245,72,76,1) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(205,33,34,1)), color-stop(100%,rgba(245,72,76,1))); background: -webkit-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(245,72,76,1) 100%); background: -o-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(245,72,76,1) 100%); background: -ms-linear-gradient(left, rgba(205,33,34,1) 0%,rgba(245,72,76,1) 100%); background: linear-gradient(to right, rgba(205,33,34,1) 0%,rgba(245,72,76,1) 100%); ')
      // / Gradient overlay
    // / Background
    .container
      .row
        .col-sm-12.col-md-12
          // Title element with bottom line style
          .kl-title-block.text-center.tbk-symbol--line
            // Title with kl-font-alt font, white color and bold style
            h3.tbk__title.white.kl-font-alt.fw-bold
              | BELOVED REVIEWS &amp; TECHNOLOGIES
            // / Title with kl-font-alt font, white color and bold style
            // Title bottom symbol
            .tbk__symbol
              span
            // / Title bottom symbol
          // / Title element with bottom line style
          // Testimonials & Partners element - light text style
          .testimonials-partners.testimonials-partners--light
            // Testimonials  element
            .ts-pt-testimonials.clearfix
              // Item - size 2 and normal style with custom margin top
              .ts-pt-testimonials__item.ts-pt-testimonials__item--size-2.ts-pt-testimonials__item--normal(style='margin-top: 20px;')
                // Testimonial text
                .ts-pt-testimonials__text
                  | &ldquo;Great customer support from Laurentius of Hogash Studio! He
                  | helped to make this template work well for what I needed. A great design
                  | along with creative technology was important... Thanks!!!
                // / Testimonial text
                // Testimonial info
                .ts-pt-testimonials__infos.ts-pt-testimonials__infos--.clearfix
                  // User image
                  .ts-pt-testimonials__img(style="background-image: url('themes/kallyas/images/t2.jpg');" title='JIMMY FERRARA')
                  // / User image
                  // Name
                  h4.ts-pt-testimonials__name
                    | JIMMY FERRARA
                  // / Name
                  // Position
                  .ts-pt-testimonials__position
                    | GENERAL MANAGER
                  // / Position
                  // Review stars - 5 stars
                  .ts-pt-testimonials__stars.ts-pt-testimonials__stars--5
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                  // / Review stars - 5 stars
                // / Testimonial info - .ts-pt-testimonials__infos
              // / Item - size 2 and normal style with custom margin top - .ts-pt-testimonials__item
              // Item - size 1 and normal style
              .ts-pt-testimonials__item.ts-pt-testimonials__item--size-1.ts-pt-testimonials__item--normal(style='')
                // Testimonial text
                .ts-pt-testimonials__text
                  | &ldquo;The code is very clear. There are many elements and endless ways of customization.
                // / Testimonial text
                // Testimonials info
                .ts-pt-testimonials__infos.ts-pt-testimonials__infos--.clearfix
                  // User image
                  .ts-pt-testimonials__img(style="background-image: url('themes/kallyas/images/t1.jpg');" title='PERRY ANDREWS')
                  // / User image
                  // Name
                  h4.ts-pt-testimonials__name
                    | PERRY ANDREWS
                  // / Name
                  // Position
                  .ts-pt-testimonials__position
                    | SWIFT Inc.
                  // / Position
                  // / Review stars - 4 stars
                  .ts-pt-testimonials__stars.ts-pt-testimonials__stars--4
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                  // / Review stars - 4 stars
                // / Testimonials info - .ts-pt-testimonials__infos
              // / Item - size 1 and normal style - .ts-pt-testimonials__item
              // Item - size 1 and reversed style
              .ts-pt-testimonials__item.ts-pt-testimonials__item--size-1.ts-pt-testimonials__item--reversed(style='')
                // Testimonial info
                .ts-pt-testimonials__infos.ts-pt-testimonials__infos--.clearfix
                  // User image
                  .ts-pt-testimonials__img(style="background-image: url('themes/kallyas/images/t3.jpg');" title='SAMMY BROWNS')
                  // / User image
                  // Name
                  h4.ts-pt-testimonials__name
                    | SAMMY BROWNS
                  // / Name
                  // Position
                  .ts-pt-testimonials__position
                    | CFO, Perfect Inc.
                  // / Position
                  // Review stars - 5 stars
                  .ts-pt-testimonials__stars.ts-pt-testimonials__stars--5
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                    span.fas.fa-star
                  // / Review stars - 5 stars
                // / Testimonial info - .ts-pt-testimonials__infos
                // Testimonial text
                .ts-pt-testimonials__text
                  | &ldquo;The best template on Themeforest, full documentation and a lot of pages and very good support!
                // / Testimonial text
              // / Item - size 1 and reversed style - .ts-pt-testimonials__item
            // / Testimonials element - .ts-pt-testimonials
            // Separator for testimonials-partners elements
            .testimonials-partners__separator.clearfix
            // / Separator for testimonials-partners elements
            // Partners element
            .ts-pt-partners.ts-pt-partners--y-title.clearfix
              // Title
              .ts-pt-partners__title
                | TECHNOLOGIES
              // / Title
              // Partners carousel wrapper
              .ts-pt-partners__carousel-wrapper
                .ts-pt-partners__carousel.js-slick.slick-initialized.slick-slider(data-slick='{\
                "infinite": true,\
                "autoplay": true,\
                "autoplaySpeed": 3000,\
                "arrows": false,\
                "dots": false,\
                "slidesToShow": 5,\
                "slidesToScroll": 1,\
                "waitForAnimate": false,\
                "speed": 0,\
                "swipe": false,\
                "respondTo": "slider",\
                "responsive": [\
                {\
                "breakpoint": 1024,\
                "settings": {\
                "slidesToShow": 4,\
                "slidesToScroll": 4\
                }\
                },\
                {\
                "breakpoint": 767,\
                "settings": {\
                "slidesToShow": 3,\
                "slidesToScroll": 3\
                }\
                },\
                {\
                "breakpoint": 520,\
                "settings": {\
                "slidesToShow": 2,\
                "slidesToScroll": 2\
                }\
                },\
                {\
                "breakpoint": 380,\
                "settings": {\
                "slidesToShow": 1,\
                "slidesToScroll": 1\
                }\
                }\
                ]\
                }')
                  // Item #1
                  // / Item #1
                  // Item #2
                  // / Item #2
                  // Item #3
                  // / Item #3
                  // Item #4
                  // / Item #4
                  // Item #5
                  // / Item #5
                  // Item #6
                  // / Item #6
                  // Item #7
                  // / Item #7
                  // Item  #8
                  // / Item #8
                  .slick-list.draggable
                    .slick-track(style='opacity: 1; width: 4340px; transform: translate3d(-868px, 0px, 0px);')
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='-4' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo2.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='-3' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo3.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='-2' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo4.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='-1' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo5.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-current.slick-active.slick-item--activated(style='width: 217px;' data-slick-index='0' aria-hidden='false' tabindex='0')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='0')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo6.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-active(style='width: 217px;' data-slick-index='1' aria-hidden='false' tabindex='0')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='0')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo7.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-active(style='width: 217px;' data-slick-index='2' aria-hidden='false' tabindex='0')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='0')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo8.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-active(style='width: 217px;' data-slick-index='3' aria-hidden='false' tabindex='0')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='0')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo1.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide(style='width: 217px;' data-slick-index='4' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo2.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide(style='width: 217px;' data-slick-index='5' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo3.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide(style='width: 217px;' data-slick-index='6' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo4.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide(style='width: 217px;' data-slick-index='7' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo5.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='8' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo6.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='9' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo7.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='10' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo8.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='11' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo1.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='12' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo2.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='13' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo3.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='14' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo4.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                      .ts-pt-partners__carousel-item.slick-slide.slick-cloned(style='width: 217px;' data-slick-index='15' aria-hidden='true' tabindex='-1')
                        // Partner image link
                        a.ts-pt-partners__link(href='#' target='_self' title='' tabindex='-1')
                          // Image
                          img.ts-pt-partners__img.img-fluid(src='themes/kallyas/images/logo5.svg' alt='' title='')
                          // / Image
                        // / Partner image link
                // / .ts-pt-partners__carousel js-slick
              // / Partners carousel wrapper
            // / Partners element - .ts-pt-partners
          // / Testimonials & Partners element - light text style
        // / col-sm-12 col-md-12
      // / row
    // / container
  // / Partners & Testimonials section with custom paddings
  // Title with Call to Action Button - section with custom paddings
  section.hg_section.bg-white.pt-60.pb-60
    .container
      .row
        .col-sm-12.col-md-9.mb-sm-30
          // Title with alternative font and custom weight and default color
          h3.tbk__title.kl-font-alt.fw-semibold.tcolor
            | WORK WITH US
          // / Title with alternative font and custom weight and default color
          // Sub-Title
          h4.tbk__subtitle.fw-thin
            | We&apos;ll do everything we can to make our next best project!
          // / Sub-Title
        // / col-md-9 col-sm-9
        .col-sm-12.col-md-3.align-self-center
          // Button lined style
          a.btn.btn-lined.lined-custom.btn-md.btn-block(href='#https://themeforest.net/item/kallyas-gigantic-premium-template/3583938?license=regular&open_purchase_for_item_id=3583938&purchasable=source&ref=Hogash' target='_blank')
            span GET A QUOTE
          // / Button lined style
        // / col-md-12 col-sm-3
      // / row
    // / container
  // / Title with Call to Action Button - section with custom paddings
  // Footer - Default Style 1
  #dp-js-footer-helper(style='height:0 !important; display:none !important;')
  footer#footer(data-footer-style='1')
    .container
      .row
        .col-sm-12.col-md-5.mb-30
          // Title
          h3.title.m_title
            | HOGASH STUDIO
          .sbs
            ul.menu
              li
                a(href='https://demos.hogash.com/') Home
        // / col-sm-12 col-md-5 mb-30
        .col-sm-12.col-md-4.mb-30
          .newsletter-signup
            // Title
            h3.title.m_title
              | NEWSLETTER SIGNUP
            p
              | By subscribing to our mailing list you will always be update with the latest news from us.
            form#mc-embedded-subscribe-form.validate(action='https://YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post-json?u=YOUR_API_KEY&id=LIST_ID&c=?' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
              input#mce-EMAIL.nl-email.form-control(type='email' name='EMAIL' placeholder='your.address@email.com' required='')
              input#mc-embedded-subscribe.nl-submit(type='submit' name='subscribe' value='JOIN US')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text' name='b_xxxxxxxxxxxxxxxxxxxCUSTOMxxxxxxxxx')
            // Notification container
            #notification_container
            p
              | We never spam!
          // end newsletter-signup
        // col-sm-12 col-md-4 mb-30
        .col-sm-12.col-md-3.mb-30
          // Title
          h3.title.m_title
            | GET IN TOUCH
          // Contact details
          .contact-details
            p
              strong T (212) 555 55 00
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Email: 
              a(href='#') sales@yourwebsite.com
            p
              | Your Company LTD
              br
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Street nr 100, 4536534, Chicago, US
            p
              a(href='https://goo.gl/maps/1OhOu' target='_blank')
                i.icon-map-marker.white-icon
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Open in Google Maps
          // / .contact-details
        // / col-sm-12 col-md-3 mb-30
      // / row
      .row
        .col-sm-12.col-md-6
          .twitterFeed
            // twitter feeds
            img.img-responsive(src='themes/kallyas/images/twitter-footer.jpg' alt=name title=name)
            // / twitter script
          // / twitter-feed
        // / col-sm-12 col-md-6
        .col-sm-12.col-md-6.mb-30
          // social-share buttons
          .social-share.social-share.d-flex.justify-content-end
            img.pull-right.img-responsive(src='themes/kallyas/images/social-footer.png' alt='Kallyas' title='')
          // / social-share
        // / col-sm-12 col-md-6 mb-30
      // / row
      .row
        .col-sm-12
          .bottom.clearfix
            // social-icons
            ul.social-icons.sc--clean.clearfix
              li.title GET SOCIAL
              li
                a.fab.fa-facebook-f(href='#' target='_self' title='Facebook')
              li
                a.fab.fa-twitter(href='#' target='_self' title='Twitter')
              li
                a.fab.fa-dribbble(href='#' target='_self' title='Dribbble')
              li
                a.fab.fa-google-plus-g(href='#' target='_self' title='Google Plus')
            // / social-icons
            // copyright
            .copyright
              a(href='https://demos.hogash.com/')
                img(src='themes/kallyas/images/kallyas-footerlogo.svg' alt='Kallyas Demo')
              p
                | &copy; 2018 All rights reserved. Buy 
                a(href='https://themeforest.net/item/kallyas-responsive-multipurpose-template/3583938') Kallyas Template
                | .
            // / copyright
          // / bottom
        // / col-sm-12
      // / row
    // / container
  // / Footer - Default Style 1
// / Page Wrapper
// Bubble-box with notification-box style
.bubble-box.notification-box.bg-purple.bb--anim-hide(data-reveal-at='1200' data-hide-after='9000')
  .bb--inner
    p
      | This is just a simple notice. Everything is in order and this is a 
      a(href='#') simple link.
  span.bb--close
    i.fas.fa-times
// / Bubble-box with notification-box style
// Login Panel content
#login_panel.mfp-hide.loginbox-popup.auth-popup
  .inner-container.login-panel.auth-popup-panel
    h3.m_title.m_title_ext.text-custom.auth-popup-title.tcolor
      | SIGN IN YOUR ACCOUNT TO HAVE ACCESS TO DIFFERENT FEATURES
    form.login_panel(name='login_form' method='post' action='#')
      .kl-fancy-form
        input#kl-username.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='text' name='log' placeholder='eg: james_smith')
        label.kl-font-alt.kl-fancy-form-label
          | USERNAME
      .kl-fancy-form
        input#kl-password.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='password' name='pwd' placeholder='type password')
        label.kl-font-alt.kl-fancy-form-label
          | PASSWORD
      label.auth-popup-remember(for='kl-rememberme')
        input#kl-rememberme.auth-popup-remember-chb(type='checkbox' name='rememberme' value='forever')
        |  Remember Me
      input#login.btn.zn_sub_button.btn-fullcolor.btn-md(type='submit' name='submit_button' value='LOG IN')
      input(type='hidden' value='login' name='form_action')
      input(type='hidden' value='login' name='action')
      input(type='hidden' value='#' name='submit')
      .links.auth-popup-links
        a.create_account.auth-popup-createacc.kl-login-box.auth-popup-link(href='#register_panel')
          | CREATE AN ACCOUNT
        span.sep.auth-popup-sep
        a.kl-login-box.auth-popup-link(href='#forgot_panel')
          | FORGOT YOUR PASSWORD?
  button.mfp-close(title='Close (Esc)' type='button') &times;
#register_panel.mfp-hide.loginbox-popup.auth-popup
  .inner-container.register-panel.auth-popup-panel
    h3.m_title.m_title_ext.text-custom.auth-popup-title
      | CREATE ACCOUNT
    form.register_panel(name='login_form' method='post' action='#')
      .kl-fancy-form
        input#reg-username.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='text' name='user_login' placeholder='type desired username')
        label.kl-font-alt.kl-fancy-form-label USERNAME
      .kl-fancy-form
        input#reg-email.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='text' name='user_email' placeholder='your-email@website.com')
        label.kl-font-alt.kl-fancy-form-label
          | EMAIL
      .kl-fancy-form
        input#reg-pass.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='password' name='user_password' placeholder='*****')
        label.kl-font-alt.kl-fancy-form-label
          | PASSWORD
      .kl-fancy-form
        input#reg-pass2.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='password' name='user_password2' placeholder='*****')
        label.kl-font-alt.kl-fancy-form-label
          | CONFIRM PASSWORD
      div
        input#signup.btn.zn_sub_button.btn-block.btn-fullcolor.btn-md(type='submit' name='submit' value='CREATE MY ACCOUNT')
      .links.auth-popup-links
        a.kl-login-box.auth-popup-link(href='#login_panel')
          | ALREADY HAVE AN ACCOUNT?
#forgot_panel.mfp-hide.loginbox-popup.auth-popup.forgot-popup
  .inner-container.forgot-panel.auth-popup-panel
    h3.m_title.m_title_ext.text-custom.auth-popup-title
      | FORGOT YOUR DETAILS?
    form.forgot_form(name='login_form' method='post' action='#')
      .kl-fancy-form
        input#forgot-email.form-control.inputbox.kl-fancy-form-input.kl-fw-input(type='text' name='user_login' placeholder='...')
        label.kl-font-alt.kl-fancy-form-label
          | USERNAME OR EMAIL
      div
        input#recover.btn.btn-block.zn_sub_button.btn-fullcolor.btn-md(type='submit' name='submit' value='SEND MY DETAILS!')
      .links.auth-popup-links
        a.kl-login-box.auth-popup-link(href='#login_panel')
          | AAH, WAIT, I REMEMBER NOW!
  button.mfp-close(title='Close (Esc)' type='button') &times;
// / Login Panel content
// Contact form pop-up element content
#contact_panel.mfp-hide.contact-popup
  .contact-popup-panel
    .container-fluid
      .row
        .col-md-12.col-sm-12
          // Contact form pop-up element
          .contactForm.pop-up-form
            // Google reCaptcha required javascript file
            script(src='themes/kallyas/js/api.js')
            // Title
            h3.m_title.m_title_ext.text-custom.contact-popup-title.tcolor
              | GET A QUOTE
            h4.tbk__subtitle.fw-thin
              | We&apos;ll do everything we can to make our next best project!
            form.contact_form.row.mt-40(action='php_helpers/_contact-process.php' method='post' enctype='multipart/form-data' data-h5-instanceid='0' novalidate='novalidate')
              .cf_response
              .cf_response
              .cf_response
              .col-sm-6.kl-fancy-form
                input#cf_name-pop-up.form-control(type='text' name='name' placeholder='Please enter your first name' tabindex='1' maxlength='35' required='')
                label.control-label
                  | FIRSTNAME
              .col-sm-6.kl-fancy-form
                input#cf_lastname-pop-up.form-control(type='text' name='lastname' placeholder='Please enter your first last name' tabindex='1' maxlength='35' required='')
                label.control-label
                  | LASTNAME
              .col-sm-12.kl-fancy-form
                input#cf_email-pop-up.form-control.h5-email(type='text' name='email' placeholder='Please enter your email address' tabindex='1' maxlength='35' required='' pattern="((([a-zA-Z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-zA-Z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-zA-Z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-zA-Z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-zA-Z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?")
                label.control-label
                  | EMAIL
              .col-sm-12.kl-fancy-form
                input#cf_subject-pop-up.form-control(type='text' name='subject' placeholder='Enter the subject message' tabindex='1' maxlength='35' required='')
                label.control-label
                  | SUBJECT
              .col-sm-12.kl-fancy-form
                textarea#cf_message-pop-up.form-control(name='message' cols='30' rows='10' placeholder='Your message' tabindex='4' required='')
                label.control-label
                  | MESSAGE
              // Google recaptcha required site-key (change with yours => https://www.google.com/recaptcha/admin#list)
              .g-recaptcha(data-sitekey='6Lc9txAUAAAAAD4PbKg_oKQIgsVj2-oIMaBVwTE0')
                div(style='width: 304px; height: 78px;')
                  div
                    iframe(src='themes/kallyas/html/anchor.html' role='presentation' name='a-du8znbtr5kco' scrolling='no' sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation' width='304' height='78' frameborder='0')
                  textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response' style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;')
                iframe(style='display: none;')
              // / Google recaptcha required site-key
              .col-sm-12
                // Contact form send button
                button.btn.btn-fullcolor(type='submit')
                  | Send
          // / Contact form pop-up element
        // / col-md-12 col-sm-12
      // / .row
    // / .container
  // / .contact-popup-panel
  button.mfp-close(title='Close (Esc)' type='button') &times;
// / Contact form pop-up element content
// ToTop trigger
a#totop(href='#') TOP
// / ToTop trigger
// JS FILES // These should be loaded in every page
script(type='text/javascript' src='themes/kallyas/js/bootstrap.js')
script(type='text/javascript' src='themes/kallyas/js/kl-plugins.js')
// JS FILES // Loaded on this page
// Requried js script for Slideshow Scroll effect (uncomment bellow script to activate)
// <script type="text/javascript" src="js/plugins/scrollme/jquery.scrollme.js"></script>
// Required js script for iOS Slider
script(type='text/javascript' src='themes/kallyas/js/jquery_002.js')
// Required js trigger for iOS Slider
script(type='text/javascript' src='themes/kallyas/js/kl-ios-slider.js')
// Slick required js script for Partners Carousel& Screenshot Box Carousel elements
script(type='text/javascript' src='themes/kallyas/js/slick.js')
// Required js trigger for Partners Carousel & Screenshot Box Carousel elements
script(type='text/javascript' src='themes/kallyas/js/kl-slick-slider.js')
// Custom Kallyas JS codes
script(type='text/javascript' src='themes/kallyas/js/kl-scripts.js')
// Demo panel
script(type='text/javascript' src='themes/kallyas/js/dp.js')
// Global site tag (gtag.js) - Google Analytics
script(async='' src='themes/kallyas/js/js.js')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108193049-1');

