doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='An LPOE commodity verification Platform, for farmers data storage, tracking and validation')
  // Fav Icon
  link(rel='shortcut icon' href='favicon.png')
  // Site Title
  title PLAAS | farm management platform
  // Vendor Bundle CSS
  link(rel='stylesheet' href='themes/plaas/css/vendor.bundle-BAK.css')
  // Custom styles for this template
  link(rel='stylesheet' href='themes/plaas/css/style-BAK.css')
  link(rel='stylesheet' href='themes/plaas/css/demo.css')
  link(rel='stylesheet' href='themes/plaas/css/extra.css')
.section-header.demo-section-bg.text-white
  .demo-navbar
    .container
      .d-flex.justify-content-between.align-items-center
        .div
          img(src='themes/plaas/images/logo-light2x.png' alt='plaas' style='width:140px;')
        .d-none
          a.demo-menu-toggler(href='#')
            em.ti.ti-align-right
        .demo-menu-wrap.d-lg-block
          ul.demo-navbar-menu
            //
              <li>
              <a class="to-section" href="#showcase">Demo Showcase</a>
              </li>
              <li class="">
              <a class="to-section" href="#farmers">Farmer</a>
              </li>
            li
              a(href='themes/plaas/templates/blog.html') BLOG
            li
              a(href='themes/plaas/templates/get.html') NODE
            li(style='pointer-events:none;')
              a.btn.btn-primary.ucap(target='_blank' href='' style='margin: 5px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;') .0000297 BTC/PLAAS
  .section-gaps.mgmt-4x
    .container
      .row.justify-content-between.align-items-center
        .col-lg-6
          .header-text
            h1
              | POWERING AGRICULTURE
              br
              span THROUGH BITCOIN
            p
              | An LPOE commodity verification Platform, for farmers data storage, tracking and validation with price notifications via SMS and market discovery via futures contracts
            .gaps-3x
            p.text-danger.text-itatlic
              small
                em Caution: plaas is still in private beta!
            .gaps-0-5x
            //a.tokenlite-link(href='themes/plaas/templates/swap.html') Are you a PLAAS holder? Click Here
            a.tokenlite-link(href='themes/plaas/templates/Plaas.pdf') get whitepaper
          .gaps-2x.d-lg-none
        .col-lg-5.d-none.d-lg-block
          .header-img.mgmr-3x
            img(src='themes/plaas/images/header-image.png' alt='image')
#showcase.section-gaps.section-gaps-lg.section-fix(style='display:none;')
  .container
    .row.guttar-45px.justify-content-around
      .col-sm-8.col-md-6.col-lg-4
        .demo-item
          .demo-image
            a(href='#')
              img(src='themes/plaas/images/user-dashbord-v2.jpg' alt='ICO DashBoard')
          .demo-text.text-center
            h5.demo-title2
              a(href='https://app.plaas.io/?uref=farmer') FARMERS
      .col-sm-8.col-md-6.col-lg-4(style='pointer-events:none;')
        .demo-item
          .demo-image
            a(href='https://app.plaas.io/?uref=nv')
              img(src='themes/plaas/images/user-dashbord.jpg' alt='ICO DashBoard')
          .demo-text.text-center
            h5.demo-title2
              a(href='https://app.plaas.io/?uref=nv')
                | NV
                span.badge.badge-success coming soon
      .col-sm-8.col-md-6.col-lg-4(style='pointer-events:none;')
        .demo-item
          .demo-image
            a(href='https://app.plaas.io/?uref=comm')
              img(src='themes/plaas/images/chat-app.jpg' alt='ICO DashBoard')
          .demo-text.text-center
            h5.demo-title2
              a(href='https://app.plaas.io/?uref=comm')
                | COMMUNITY 
                span.badge.badge-success coming soon
.section-gaps.section-bg-dark.text-white.section-fix
  h2.section-head.text-center.pdb-2x(style='text-align: left!important;margin-left: 10%;font-size: 20px;')
    | Available Contracts
    br
    a(href='https://etherscan.io/address/0xeb9cfff249fef6427bf02881f89ede58dd8f91bb' style='width: 70%;display: inline-block;')
      span(style='font-size:55%;') PLAASFT-v0.0.1: 0xeb9cfff249fef6427bf02881f89ede58dd8f91bb
    br
    span(style='font-size:55%;')
      | *bitcoin lightning address required for settlement  *install 
      a(href='https://metamask.io/') metamask
      |  or 
      a(href='https://www.myetherwallet.com/') mew
      |  first!
    .gaps-4x
  a#contract-helper.btn.btn-primary-alt(href='#' data-toggle='modal' data-target='#futures-help' style='visibility:hidden;min-width: 50px;width: 60px;float: right;margin: -55px 10% 25px 0;') ?
  #contract-holder.container
.section-gaps
  .container
    .card.content-area
      .card-innr(style='height: 465px;overflow: scroll;')
        .card-head
          h4.card-title Recent Transactions
        table.data-table.dt-init.user-tnx
          thead
            tr.data-item.data-head
              th.data-col.dt-tnxno Tranx
              th.data-col.dt-amount Amount
              th.data-col.dt-btc-amount BTC Amount
              th.data-col.dt-account From
              th.data-col.dt-type
                .dt-type-text Type
              th.data-col
          tbody#transactions-holder
      // .card-innr
    // .card
#features.section-gaps.section-bg-alt
  .container
    h2.text-dark.text-center.font-bold Team
    .gaps-3x
    .row.justify-content-center
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-1.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Alakanani Itireleng
              p CEO and co-founder
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-2.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Koketso Pelo
              p COO and co-founder
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-3.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Anderson Itireleng
              p CMO and co-founder
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-11.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Kgosi Gaetsewe
              p CFO
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-4.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Trevor Musa
              p Cooperate Development
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-5.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Felix Ugoji
              p Chief Strategic Officer
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-6.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Allan Juma
              p CTO
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-13.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Danisa Moyo
              p Communication and Zimbabwe expert
      // .col
      .col-xl-4.col-md-6
        .card.features-item.card-full-height
          .pd-3x.pdb-2-5x.d-flex
            .features-icon.w-60px.flex-shrink-0.text-primary
              img(src='themes/plaas/images/team-14.jpg' alt='responsive')
            .features-texts.pdl-2-5x
              h5.text-dark.ucap.font-semibold.mgb-0-5x Acushla Moyo
              p Communication and Zimbabwe expert
      br
      h2.text-dark.text-center.font-bold(style='width:100%;margin-top:50px;') Advisors
      .gaps-3x
      .row.justify-content-center
        // .col
        .col-xl-4.col-md-6
          .card.features-item.card-full-height
            .pd-3x.pdb-2-5x.d-flex
              .features-icon.w-60px.flex-shrink-0.text-primary
                img(src='themes/plaas/images/team-7.jpg' alt='responsive')
              .features-texts.pdl-2-5x
                h5.text-dark.ucap.font-semibold.mgb-0-5x David Desantis
                p Advisor
        // .col
        .col-xl-4.col-md-6
          .card.features-item.card-full-height
            .pd-3x.pdb-2-5x.d-flex
              .features-icon.w-60px.flex-shrink-0.text-primary
                img(src='themes/plaas/images/team-8.jpg' alt='responsive')
              .features-texts.pdl-2-5x
                h5.text-dark.ucap.font-semibold.mgb-0-5x Harveen Narulla
                p Advisor
        // .col
        .col-xl-4.col-md-6
          .card.features-item.card-full-height
            .pd-3x.pdb-2-5x.d-flex
              .features-icon.w-60px.flex-shrink-0.text-primary
                img(src='themes/plaas/images/team-9.jpg' alt='responsive')
              .features-texts.pdl-2-5x
                h5.text-dark.ucap.font-semibold.mgb-0-5x Timothy Tim Tayshun
                p Advisor
        // .col
        .col-xl-4.col-md-6
          .card.features-item.card-full-height
            .pd-3x.pdb-2-5x.d-flex
              .features-icon.w-60px.flex-shrink-0.text-primary
                img(src='themes/plaas/images/team-10.jpg' alt='responsive')
              .features-texts.pdl-2-5x
                h5.text-dark.ucap.font-semibold.mgb-0-5x Andrew Wagner
                p Advisor
        // .col
        .col-xl-4.col-md-6
          .card.features-item.card-full-height
            .pd-3x.pdb-2-5x.d-flex
              .features-icon.w-60px.flex-shrink-0.text-primary
                img(src='themes/plaas/images/team-12.jpg' alt='responsive')
              .features-texts.pdl-2-5x
                h5.text-dark.ucap.font-semibold.mgb-0-5x Emmanuel Adams
                p Advisor
        // .col
      // .row
  #farmers.section-gaps
    .container
      .row.justify-content-between
        .col-md-6
          h2.text-primary.font-bold Request for Farmers
          .gaps-0-5x
          p
            | get the best price for your farm supplies and produce today! our team of validators will visit your farm and help you get setup, with instant deliveries and sms updates. 
            span(style='font-size:75%;') (services currently only available in botswana, kenya and nigeria)
          .gaps-1-5x
          form#RequestFeature.form-message(action='/enterprise-form/?data=' method='post' novalidate='novalidate')
            .input-item
              input.input-bordered.pdt-1-5x.pdb-1-5x.required(name='contact-name' type='text' placeholder='name' aria-required='true')
            .gaps-1x
            .input-item
              input.input-bordered.pdt-1-5x.pdb-1-5x.required.phone(name='contact-phone' type='phone' placeholder='phone number' aria-required='true')
            .gaps-1x
            .input-item
              textarea.input-bordered.input-textarea.demo-textarea.required(name='contact-message' placeholder='detailed location description' aria-required='true')
            input.d-none(type='text' name='form-anti-honeypot' value='')
            .gaps-1x
            .input-item
              button.btn.btn-primary(type='submit') Setup my farm!
            .text-center.form-results.mgt-1x(style='display: none')
        .col-md-5
          .tokenlite-promo.text-center
            div
              h2.tokenlite-promo-head.h1 instant price discovery via SMS
              .tokenlite-promo-logo
                img(src='themes/plaas/images/Logo.png' alt='')
              p.tokenlite-promo-des our validators will help with your commodity valuation
  .section-gaps.demo-section-bg.text-white
    .container
      .row.justify-content-center
        .col-md-7.text-center
          .gaps-3x
          h2.text-white
            | support 
            strong.text-primary  plaas
            |  development
          p.lead
            | funds raised will be used in the development of plaas. for more info on funding requirements, please view our roadmap here.
          .gaps-4x
          a.btn.btn-primary(target='_blank' href='https://plaas.io/themes/plaas/templates/rmap.pdf') our roadmap
          .gaps-2x
          p.text-white
            | Donation Address
          a.btn.btn-primary.ucap(href='bitcoin:3DeT9ob6cH6arcnrxHGQfTz3QrWWxboonh' target='_blank') BTC: 3DeT9ob6cH6arcnrxHGQfTz3QrWWxboonh
          .gaps-5x
          //
            <a target="_blank" class="btn btn-primary ucap" style="pointer-events:none;">Dev: 0x...........</a>
            <div class="gaps-5x"></div>
            <a target="_blank" class="btn btn-primary ucap" style="pointer-events:none;">Marketing: 0x...........</a>
            <div class="gaps-5x"></div>
          p.small
            | * For Support, please email us 
            strong.text-primary info(at)plaas.io
            |                     .
          .gaps-2x
  .pdt-3x.pdb-3x
    .container.text-center
      p
        | &copy; 2020, PLAAS
  // Modal Large
  #futures-help.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-sm.modal-dialog-centered
      .modal-content
        a.modal-close(href='#' data-dismiss='modal' aria-label='Close')
          em.ti.ti-close
        .popup-body.popup-body-lg
          .content-area
            .card-innr
              .card-head
                h4.card-title Contract fulfilment procedure
              .card-text
                p
                  | Contract bearer get the items delivered when contract 
                  a(href='#')  closes
                  | . Pay 50% upfront, 25% mid-cycle and 25% before delivery date
                .timeline-innr
                  .timeline
                    .timeline-line
                    .timeline-item.secondary
                      .timeline-time OPENING
                      .timeline-content
                        p
                          | when a farmer opens a new contract and anyone can close it. all opening contracts are validated
                        em.fas.fa-info-circle(data-toggle='tooltip' data-placement='bottom' title='check plaas node validators PNV Entries' data-original-title='farm entries indicated on contract')
                    .timeline-item.warning
                      .timeline-time CLOSING
                      .timeline-content
                        p when you buy a contract it remains closing until delivered
                    .timeline-item.success
                      .timeline-time TRADING
                      .timeline-content
                        p when your contract is on re-sale before delivery
                    .timeline-item.danger
                      .timeline-time EXPIRING
                      .timeline-content
                        p
                          | if you fail to pay, your contract expires and can be bought by anyone. you will loose initial deposit
                p start closing a contract of your choice, by paying current owner
                p you will get a shipment code to unlock your contract upon delivery
              .gaps-3x
              .card-head
                h5.card-title.card-title-md Contract code definition
              h6.text-dark.mb-0 sample code: EGG-8R4-453634
              .schedule-item
                .row
                  .col-xl-5.col-md-5.col-lg-6
                    .pdb-1x
                      h5.schedule-title
                        span.badge.badge-secondary.ucap.badge-xs EGG-8R4
                        span Product definition
                      span
                        | EGG-8R4:
                        br
                        |  egg-dark yellow spotted kienyeji
                  .col-xl-4.col-md.col-lg-6
                    .pdb-1x
                      h5.schedule-title
                        span.badge.badge-secondary.ucap.badge-xs 453634
                        span Delivery definition
                      span
                        | 453634:
                        br
                        |  Muthurwa market, Nairobi CBD
      // .modal-content
    // .modal-dialog
  // Modal End
  // Modal Large
  #transaction-details.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-sm.modal-dialog-centered
      .modal-content
        a.modal-close(href='#' data-dismiss='modal' aria-label='Close')
          em.ti.ti-close
        .popup-body.popup-body-lg
          .content-area
            .card-head.d-flex.justify-content-between.align-items-center
              h4.card-title.mb-0 Contract Information
            .gaps-1-5x
            .data-details.d-md-flex
              .fake-class
                span.data-details-title Created
                span.data-details-info 24 Jul, 2018 10:11PM
              .fake-class(style='padding-right: 30px;')
                span.data-details-title Status
                span.badge.badge-warning.ucap Closing
              .fake-class
                span.data-details-title Selling price
                span.data-details-info
                  | 1400 PLAAS
            .gaps-3x
            a.btn.btn-light-alt(href='#' style='pointer-events:none;') buy
            a.btn.btn-light-alt(href='#' style='pointer-events:none;float: right;') Sell
            .gaps-3x
            h6.card-sub-title Settlement Information
            ul.data-details-list
              li
                .data-details-head Contract ID
                .data-details-des
                  strong
                    | 0x658... 
                    small -2
              // li
              li
                .data-details-head Deposit From
                .data-details-des
                  strong 0xa87d264f935920005810653734156d3342d5c385
              // li
              li
                .data-details-head Metadata
                .data-details-des
                  span
                    strong BTC
                  span
                    strong gateway
                    |                                 127.0.0.1
                  span
                    strong pnvID
                    |                                 0x3e3...
              // li
            // .data-details
            .gaps-3x
            h6.card-sub-title Product Information
            ul.data-details-list
              li
                .data-details-head egg-23e
                .data-details-des
                  strong eggs: broiler white yolk
              // li
              li
                .data-details-head delivery
                .data-details-des
                  | Tracking ID 
                  strong 367223
                  |                                 24 Jul, 2020 10:12PM
              // li
              li
                .data-details-head stock metadata
                .data-details-des
                  span
                    strong count: 300
                    em.fas.fa-info-circle(data-toggle='tooltip' data-placement='bottom' title='' data-original-title='last entry 1 day ago')
                  span
                    em.fas.fa-info-circle(data-toggle='tooltip' data-placement='bottom' title='' data-original-title='last entry 1 day ago')
                    |                                     quality: 7.0
                  span
                    em.fas.fa-info-circle(data-toggle='tooltip' data-placement='bottom' title='' data-original-title='last entry 1 day ago')
                    |                                     m-deviation: 10%
              // li
              li
                .data-details-head Tracking ID
                .data-details-des
                  strong
                    | Track156d33 
                    small -?int=&apos;500&apos;
              // li
              li
                .data-details-head Farmer ID
                .data-details-des
                  span
                    strong Farm351
                  span /?cn=8790
              // li
              li
                .data-details-head PNV entries
                .data-details-des
                  #accordion-1.accordion
                    .accordion-item
                      h6.accordion-heading.collapsed(data-toggle='collapse' data-target='#collapse-1-2' aria-expanded='false') 15305345486 (three days ago)
                      #collapse-1-2.collapse(data-parent='#accordion-1' style='')
                        .accordion-content
                          p [{}]
                    // .accordion-item
                    .accordion-item
                      h6.accordion-heading.collapsed(data-toggle='collapse' data-target='#collapse-1-3' aria-expanded='false') 15506567232 (two days ago)
                      #collapse-1-3.collapse(data-parent='#accordion-1' style='')
                        .accordion-content
                          p [{}]
                    // .accordion-item
                    .accordion-item
                      h6.accordion-heading(data-toggle='collapse' data-target='#collapse-1-4' aria-expanded='true') 15756567232 (today)
                      #collapse-1-4.collapse.show(data-parent='#accordion-1' style='')
                        .accordion-content
                          p [{}]
                    // .accordion-item
              // li
            // .data-details
          // .card
      // .modal-content
    // .modal-dialog
  // Modal End
  // JavaScript (include all script here)
  script(src='themes/plaas/js/jquery.bundle.js')
  //
    <script src="./assets/js/script.js?ver=104"></script>
    <script src="themes/plaas/images/script(1).js"></script>
    Only For Demo
  script(src='themes/plaas/js/contractManager.js')
  script(src='themes/plaas/js/transactionsManager.js')
